@page
@model ntbs_service.Pages_Notifications.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<h2> Draft notifications </h2>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.DraftNotifications[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].TBServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].Episode.CaseManager)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DraftNotifications) {
        <tr>
            <th>
                <a href="./Notifications/Edit/Patient?id=@item.NotificationId" class="govuk-link--no-visited-state">
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode.CaseManager)
            </td>
        </tr>
}
    </tbody>
</table>

<h2> Draft notifications </h2>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.RecentNotifications[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].SubmissionDate)
            </th>
            <th>
                Last modified by
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].TBServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].Episode.CaseManager)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecentNotifications) {
        <tr>
            <th>
                <a href="./Notifications/Edit/Patient?id=@item.NotificationId">
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <th>
                AUDIT
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.TBServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode.CaseManager)
            </td>
        </tr>
}
    </tbody>
</table>
