@page
@model ntbs_service.Pages_Notifications.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notifications[0].PatientDetails.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notifications[0].PatientDetails.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notifications[0].PatientDetails.NhsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notifications[0].PatientDetails.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notifications[0].PatientDetails.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notifications[0].PatientDetails.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notifications) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDetails.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDetails.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDetails.NhsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDetails.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDetails.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDetails.Sex.SexId)
            </td>
            <td>
                <a asp-page="./Edit/Patient" asp-route-id="@item.NotificationId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
