@page "{handler?}"
@model ntbs_service.Pages_Notifications.OverviewModel

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Overview";
}

<partial name="./OverviewPartials/_PatientOverviewPartial" model="@Model"/>

<partial name="./OverviewPartials/_EpisodeOverviewPartial" model="@Model"/>

<partial name="./OverviewPartials/_ClinicalDetailsOverviewPartial" model="@Model">

<partial name="./OverviewPartials/_ContactTracingOverviewPartial" model="@Model">

<partial name="./OverviewPartials/_SocialRiskFactorsOverviewPartial" model="@Model">

<partial name="./OverviewPartials/_TravelOverviewPartial" model="@Model">

<partial name="./OverviewPartials/_ComorbiditiesAndImmunosuppresionOverviewPartial" model="@Model">

<partial name="./OverviewPartials/_PreviousHistoryOverviewPartial" model="@Model">

<back-to-top-button inline-template>
    <button v-on:click="scrollToTop" class="back-to-top-link"> Back to top </button>
</back-to-top-button>
