@page
@model ntbs_service.Pages_Patients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.NhsNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.NhsNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.UkBorn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.UkBorn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.EtsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.EtsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LtbrId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.LtbrId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Region.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Sex.Label)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Patient.PatientId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
