@page
@model ntbs_service.Pages_Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].NhsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex.SexId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PatientId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
