@page "/ServiceDirectory/SearchResults/{handler?}"
@model ntbs_service.Pages.ServiceDirectory.SearchResults
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Service directory search";
}

<nhs-width-container container-width="Standard">
    <back-link-retaining-history inline-template>
        <nhs-back-link v-on:click="navigateBack" href="/ServiceDirectory">Back</nhs-back-link>
    </back-link-retaining-history>

    <h1 class="nhsuk-heading-xl">Search results</h1>
    <p>Search for a service or case manager</p>
    
    <form method="get" autocomplete="off">
        @{
            var hasSearchKeywordError = !Model.IsValid("SearchKeyword");
            var searchKeywordGroupState = hasSearchKeywordError ? Error : Standard;
        } 
        <nhs-form-group classes="case-manager-search-keyword" nhs-form-group-type=@searchKeywordGroupState id="search-keyword">
            <span ref="errorField" nhs-span-type="ErrorMessage" id="search-keyword-error"
                  asp-validation-for="SearchKeyword" has-error="@hasSearchKeywordError">
            </span>
            <input is-error-input=@hasSearchKeywordError nhs-input-type="Standard" 
                   asp-for="SearchKeyword" fixed-width="Twenty">
            
            <button class="nhsuk-search__submit case-manager-search-button" type="submit">
                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
        </nhs-form-group>
    </form>


    <div class="case-manager-results-summary">
        @{
            var resultCount = Model.CaseManagersSearchResults?.NumberOfResults ?? 0;
            var resultsText = resultCount == 1 ? "result" : "results";
            var resultsFoundString = $"{resultCount.ToString()} {resultsText} found";
        }
        <p> @resultsFoundString </p>
    </div>
    
    @if (Model.CaseManagersSearchResults != null)
    {
        <ol class="search-results-list" id="search-results">
            @foreach (var caseManager in @Model.CaseManagersSearchResults)
            {
                <li>
                    <!-- Each search hit is displayed using a notification banner -->
                    <div class="case-manager-search-result-container" id="search-result-item">
                        <a class="case-manager-search-result-name" href=@($"/ContactDetails/{caseManager.Username}")>
                             @caseManager.DisplayName
                        </a>
                        <nhs-summary-list classes="case-manager-search-result-item-summary" is-without-border="true">
                            @foreach (var tbService in caseManager.CaseManagerTbServices.Select(x => x.TbService))
                            {
                                <nhs-summary-list-row>
                                    <nhs-summary-list-row-key>Service:</nhs-summary-list-row-key>
                                    <nhs-summary-list-row-value>
                                        <span>
                                            <a class="link-without-visited-state"
                                               href=@($"/ServiceDirectory/Region/{tbService.PHECCode}")>
                                                @tbService.PHEC?.Name
                                            </a>
                                            <span> > </span>
                                            <a class="link-without-visited-state"
                                               href=@($"/ServiceDirectory/Region/{tbService.PHECCode}#accordion-heading-{tbService.Code}")>
                                                @tbService.Name
                                            </a>
                                        </span>
                                    </nhs-summary-list-row-value>
                                </nhs-summary-list-row>
                            }
                            @foreach (var region in Model.AllPhecs.Where(p => caseManager.AdGroups.Split(",").Contains(p.AdGroup)))
                            {
                                <nhs-summary-list-row>
                                    <nhs-summary-list-row-key>Region:</nhs-summary-list-row-key>
                                    <nhs-summary-list-row-value>
                                        <span>
                                            <a class="link-without-visited-state"
                                               href=@($"/ServiceDirectory/Region/{region.Code}")>
                                                @region.Name
                                            </a>
                                        </span>
                                    </nhs-summary-list-row-value>
                                </nhs-summary-list-row>
                            }
                            <nhs-summary-list-row>
                                <nhs-summary-list-row-key>Job Title:</nhs-summary-list-row-key>
                                <nhs-summary-list-row-value>@caseManager.JobTitle</nhs-summary-list-row-value>
                            </nhs-summary-list-row>
                        </nhs-summary-list>
                    </div>
                    
                </li>
            }
        </ol>
    
        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
            <ul class="nhsuk-list nhsuk-pagination__list">
                <nhs-pagination next-link-text="@Model.CaseManagersSearchResults.NextPageText" 
                                next-url="@Model.NextPageUrl"
                                previous-link-text="@Model.CaseManagersSearchResults.PreviousPageText" 
                                previous-url="@Model.PreviousPageUrl">
                </nhs-pagination>
            </ul>
        </nav>    
    }
</nhs-width-container>
