@page
@model ntbs_service.Pages.Migration.IndexModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    ViewData["Title"] = "Migration";
    Layout = "../Shared/_Layout.cshtml";

}

<h1>Search</h1>

<h4>Parameters</h4>
<hr />
<div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <nhs-form-group>
            <label asp-for="UploadedFile">Upload File</label>
            <input type="file" asp-for="UploadedFile"/>
        </nhs-form-group>
        <br/>

        <div>
            @{
                var notificationDateStartError = !Model.ValidationService.IsValid("NotificationDateRangeStart");
                var notificationDateStartGroupState = notificationDateStartError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type=@notificationDateStartGroupState classes="nhs-form-group--import-by-date">
                <span nhs-span-type="ErrorMessage" id="notification-date-error" classes="import-error"
                    asp-validation-for="NotificationDateRangeStart" has-error="@notificationDateStartError"></span>
                <label nhs-label-type="Standard" for="notification-date"> Start Notification Date </label>
                <nhs-date-input id="notification-date">
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="NotificationDateRangeStart.Day">Day</label>
                            <input nhs-input-type="Date" fixed-width="Two"
                                is-error-input=@notificationDateStartError asp-for="NotificationDateRangeStart.Day" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="NotificationDateRangeStart.Month">Month</label>
                            <input nhs-input-type="Date" fixed-width="Two"
                                is-error-input=@notificationDateStartError asp-for="NotificationDateRangeStart.Month" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="NotificationDateRangeStart.Year">Year</label>
                            <input nhs-input-type="Date" fixed-width="Four"
                                is-error-input=@notificationDateStartError asp-for="NotificationDateRangeStart.Year" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                </nhs-date-input>
            </nhs-form-group>
        </div>

        <div>
            @{
                var notificationDateEndError = !Model.ValidationService.IsValid("NotificationDateRangeEnd");
                var notificationDateEndGroupState = notificationDateEndError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type=@notificationDateEndGroupState classes="nhs-form-group--import-by-date">
                <span nhs-span-type="ErrorMessage" id="notification-date-error" classes="import-error"
                    asp-validation-for="NotificationDateRangeEnd" has-error="@notificationDateEndError"></span>
                <label nhs-label-type="Standard" for="notification-date"> End Notification Date </label>
                <nhs-date-input id="notification-date">
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="NotificationDateRangeEnd.Day">Day</label>
                            <input nhs-input-type="Date" fixed-width="Two"
                                is-error-input=@notificationDateEndError asp-for="NotificationDateRangeEnd.Day" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="NotificationDateRangeEnd.Month">Month</label>
                            <input nhs-input-type="Date" fixed-width="Two"
                                is-error-input=@notificationDateEndError asp-for="NotificationDateRangeEnd.Month" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="NotificationDateRangeEnd.Year">Year</label>
                            <input nhs-input-type="Date" fixed-width="Four"
                                is-error-input=@notificationDateEndError asp-for="NotificationDateRangeEnd.Year" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                </nhs-date-input>
            </nhs-form-group>
        </div>

        <div>
            <input type="submit" value="Import" />
        </div>
    </form>
</div>
@if (Model.Results != null)
{
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Results[0].NotificationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Results[0].NotificationDate)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Results) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationDate)
                </td>
            </tr>
    }
        </tbody>
    </table>
}
