@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    <a href="/Notifications/Create" role="button" draggable="false" class="nhsuk-button">
        Create new case
    </a>
</p>
<h2> Draft notifications </h2>
<table class="notifications-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.DraftNotifications[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].FormattedCreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].TBServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].Episode.CaseManager)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DraftNotifications) {
        <tr>
            <th>
                <a href="./Notifications/Edit/Patient?id=@item.NotificationId" class="govuk-link govuk-link--no-visited-state">
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode.CaseManager)
            </td>
        </tr>
}
    </tbody>
</table>

<h2> Recent notifications </h2>
<table class="notifications-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.RecentNotifications[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].FormattedSubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].TBServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].Episode.CaseManager)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecentNotifications) {
        <tr>
            <th>
                <a href="./Notifications/Edit/Patient?id=@item.NotificationId" class="govuk-link--no-visited-state">
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedSubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode.CaseManager)
            </td>
        </tr>
}
    </tbody>
</table>

@section ActionsAside 
{
    <h2 class="govuk-heading-s" id="manage-notification-title">
        Actions
    </h2>
    <a href="/Search" role="button" draggable="false" class="nhsuk-button search-notifications-button">
        Search notifications
    </a>
}