@page
@using ntbs_service.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "./Shared/_Layout.cshtml";
}

<nhs-width-container container-width="Standard">
    <h1>Dashboard</h1>
    @if (Model.userIsReadOnly())
    {
        <a href="/Search" role="button" draggable="false" class="nhsuk-button ntbsuk-button--primary">
            Search notification
        </a>
    }
    else
    {
        <a href="/Search" role="button" draggable="false" class="nhsuk-button ntbsuk-button--primary">
            Search and create notification
        </a>
    }

    @if (Model.KpiFilter.Any())
    {
        <partial name="_HomepageKpiDetails" model="@Model" />
    }

    @if (Model.Alerts != null)
    {
        <tb-service-filtered-alerts inline-template>
            <div>
                <div class="flex-container">
                    <h2 class="heading"> Alerts </h2>
                    <label nhs-label-type="Standard" for="tb-service-filter-dropdown" classes="filter-label">
                        Filter by TB Service
                    </label>
                    <select id="tb-service-filter-dropdown" nhs-select-type="Standard" ref="tbService" asp-items="Model.TbServices"
                            v-on:change="updateTable" classes="filter-dropdown">
                        <option> Show all </option>
                    </select>
                </div>

                <nhs-table class="notifications-table" id="alerts-table" responsive>
                    <nhs-table-head>
                        <nhs-table-item>
                            @Html.DisplayNameFor(model => model.Alerts[0].NotificationId)
                        </nhs-table-item>
                        <nhs-table-item>
                            @Html.DisplayNameFor(model => model.Alerts[0].FormattedCreationDate)
                        </nhs-table-item>
                        <nhs-table-item>
                            @Html.DisplayNameFor(model => model.Alerts[0].AlertType)
                        </nhs-table-item>
                        <nhs-table-item>
                            @Html.DisplayNameFor(model => model.Alerts[0].CaseManagerName)
                            <br />
                            @Html.DisplayNameFor(model => model.Alerts[0].TbServiceName)
                        </nhs-table-item>
                        <nhs-table-item>
                            Dismiss
                        </nhs-table-item>
                    </nhs-table-head>
                    <nhs-table-body>
                        @foreach (var item in Model.Alerts)
                        {
                            <nhs-table-body-row id="alert-@item.AlertId" v-if="TbServiceCode === '@item.TbServiceCode' || TbServiceCode === 'Show all'">
                                <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.NotificationId)">
                                    @if (item.NotificationId != null)
                                    {
                                        var overviewPageLink = RouteHelper.GetNotificationPath(item.NotificationId.GetValueOrDefault(), NotificationSubPaths.Overview);
                                        <a href="@overviewPageLink" class="govuk-link govuk-link--no-visited-state">
                                            @Html.DisplayFor(_ => item.NotificationId)
                                        </a>
                                    }
                                </nhs-table-item>
                                <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.FormattedCreationDate)">
                                    @Html.DisplayFor(_ => item.FormattedCreationDate)
                                </nhs-table-item>
                                <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.AlertType)">
                                <a href="@item.ActionLink">
                                    @Html.DisplayFor(_ => item.AlertType)
                                    </a>
                                    <br />
                                    @Html.DisplayFor(_ => item.Action)
                                </nhs-table-item>
                                <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.CaseManagerName)<br />@Html.DisplayNameFor(model => model.Alerts[0].TbServiceName)">
                                    @if (!string.IsNullOrWhiteSpace(item.CaseManagerName))
                                    {
                                        @item.CaseManagerName
                                        <br />
                                    }
                                    @item.TbServiceName
                                </nhs-table-item>
                                <nhs-table-item heading-text="Dismiss">
                                    @if (!item.NotDismissable)
                                    {
                                        <form method="post" action="@RouteHelper.GetAlertPath(@item.AlertId, AlertSubPaths.Dismiss)">
                                            @Html.AntiForgeryToken()
                                            <button class="button-link nhsuk-link govuk-link--no-visited-state govuk-link" aria-label="Dismiss alert">
                                                X
                                            </button>
                                        </form>
                                    }
                                </nhs-table-item>
                            </nhs-table-body-row>
                        }
                    </nhs-table-body>
                </nhs-table>
            </div>
        </tb-service-filtered-alerts>
    }
</nhs-width-container>

<div class="draft-notifications-container">
    <nhs-width-container container-width="Standard">
        <h2 class="heading"> Draft notifications </h2>

        <nhs-table class="notifications-table" id="draft-notifications-table" responsive>
            <nhs-table-head>
                <nhs-table-item>
                    @Html.DisplayNameFor(model => model.DraftNotifications[0].NotificationId)
                </nhs-table-item>
                <nhs-table-item>
                    @Html.DisplayNameFor(model => model.DraftNotifications[0].PatientDetails.FullName)
                </nhs-table-item>
                <nhs-table-item>
                    @Html.DisplayNameFor(model => model.DraftNotifications[0].FormattedCreationDate)
                </nhs-table-item>
                <nhs-table-item>
                    @Html.DisplayNameFor(model => model.DraftNotifications[0].HospitalDetails.TBServiceName)
                </nhs-table-item>
                <nhs-table-item>
                    @Html.DisplayNameFor(model => model.DraftNotifications[0].HospitalDetails.CaseManagerName)
                </nhs-table-item>
            </nhs-table-head>
            <nhs-table-body>
                @foreach (var item in Model.DraftNotifications)
                {
                    <nhs-table-body-row>
                        <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.NotificationId)">
                            <a href="@RouteHelper.GetNotificationPath(item.NotificationId, NotificationSubPaths.Overview)" class="govuk-link govuk-link--no-visited-state">
                                @Html.DisplayFor(_ => item.NotificationId)
                            </a>
                        </nhs-table-item>
                        <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.PatientDetails.FullName)">
                            @Html.DisplayFor(_ => item.PatientDetails.FullName)
                        </nhs-table-item>
                        <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.FormattedCreationDate)">
                            @Html.DisplayFor(_ => item.FormattedCreationDate)
                        </nhs-table-item>
                        <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.HospitalDetails.TBServiceName)">
                            @Html.DisplayFor(_ => item.HospitalDetails.TBServiceName)
                        </nhs-table-item>
                        <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.HospitalDetails.CaseManagerName)">
                            @Html.DisplayFor(_ => item.HospitalDetails.CaseManagerName)
                        </nhs-table-item>
                    </nhs-table-body-row>
                }
            </nhs-table-body>
        </nhs-table>
    </nhs-width-container>
</div>

<nhs-width-container container-width="Standard">
    <h2 class="heading"> Recent notifications </h2>
    <nhs-table class="notifications-table" id="recent-notifications-table" responsive>
        <nhs-table-head>
            <nhs-table-item>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].NotificationId)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].PatientDetails.FullName)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].FormattedNotificationDate)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].HospitalDetails.TBServiceName)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].HospitalDetails.CaseManagerName)
            </nhs-table-item>
        </nhs-table-head>
        <nhs-table-body>
            @foreach (var item in Model.RecentNotifications)
            {
                <nhs-table-body-row>
                    <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.NotificationId)">
                        <a href="@RouteHelper.GetNotificationPath(item.NotificationId, NotificationSubPaths.Overview)" class="govuk-link--no-visited-state">
                            @Html.DisplayFor(modelItem => item.NotificationId)
                        </a>
                    </nhs-table-item>
                    <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.PatientDetails.FullName)">
                        @Html.DisplayFor(modelItem => item.PatientDetails.FullName)
                    </nhs-table-item>
                    <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.FormattedNotificationDate)">
                        @Html.DisplayFor(modelItem => item.FormattedNotificationDate)
                    </nhs-table-item>
                    <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.HospitalDetails.TBServiceName)">
                        @Html.DisplayFor(modelItem => item.HospitalDetails.TBServiceName)
                    </nhs-table-item>
                    <nhs-table-item heading-text="@Html.DisplayNameFor(_ => item.HospitalDetails.CaseManagerName)">
                        @Html.DisplayFor(modelItem => item.HospitalDetails.CaseManagerName)
                    </nhs-table-item>
                </nhs-table-body-row>
            }
        </nhs-table-body>
    </nhs-table>
</nhs-width-container>