@page
@using ntbs_service.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "./Shared/_NoForm_Layout.cshtml";
}


<h2> Alerts </h2>

<table class="notifications-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].AlertType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].CaseManager.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].Hospital.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alerts[0].TbServiceCode)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alerts) {
        <tr>
            <th>
                <a href="/" class="govuk-link govuk-link--no-visited-state">
                    @Html.DisplayFor(_ => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(_ => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(_ => item.AlertType)
            </td>
            <td>
                @Html.DisplayFor(_ => item.CaseManager.FullName)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Hospital.Name)
            </td>
            <td>
                @Html.DisplayFor(_ => item.TbServiceCode)
            </td>
        </tr>
}
    </tbody>
</table>

<h2> Draft notifications </h2>

<table class="notifications-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].FormattedCreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].TBServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftNotifications[0].Episode.CaseManagerName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DraftNotifications) {
        <tr>
            <th>
                <a href="@RouteHelper.GetNotificationPath(NotificationSubPaths.Overview, item.NotificationId)" class="govuk-link govuk-link--no-visited-state">
                    @Html.DisplayFor(_ => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(_ => item.FormattedCreationDate)
            </td>
            <td>
                @Html.DisplayFor(_ => item.TBServiceName)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Episode.CaseManagerName)
            </td>
        </tr>
}
    </tbody>
</table>

<h2> Recent notifications </h2>
<table class="notifications-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].FormattedSubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].TBServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentNotifications[0].Episode.CaseManagerName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecentNotifications) {
        <tr>
            <th>
                <a href="@RouteHelper.GetNotificationPath(NotificationSubPaths.Overview, item.NotificationId)" class="govuk-link--no-visited-state">
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedSubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Episode.CaseManagerName)
            </td>
        </tr>
}
    </tbody>
</table>

@section ActionsAside 
{
    <h2 class="govuk-heading-s" id="manage-notification-title">
        Actions
    </h2>
    <a href="/Search" role="button" draggable="false" class="nhsuk-button search-notifications-button">
        Search notifications
    </a>
}