@page
@model ntbs_service.Pages.Admin.MigrationModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    ViewData["Title"] = "Migration";
    Layout = "Shared/_Layout";
}

<nhs-width-container container-width="Standard">
    <h1>Import Legacy Notifications</h1>

    <form method="post" enctype="multipart/form-data">
        @if (Model.Triggered)
        {
            <nhs-inset-text>
                Job triggered successfully with migration run ID @Model.RunId.
                See the <a href="/Hangfire">Hangfire dashboard</a>
                to track the created jobs.
            </nhs-inset-text>
        }

        <label nhs-label-type="Standard" asp-for="NotificationIds">Notification IDs</label>
        <nhs-hint nhs-hint-type="Standard" id="notificationIds-hint">
            Enter IDs here, or upload a of ids with a single ID per line
        </nhs-hint>
        <input nhs-input-type="Standard" asp-for="NotificationIds" aria-describedby="notificationIds-hint">
        <br/>

        <div>
            <nhs-form-group nhs-form-group-type="Standard">
                <label asp-for="UploadedFile">Upload File</label>
                <input type="file" asp-for="UploadedFile"/>
            </nhs-form-group>
        </div>
        <br/>

        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">Date range</nhs-fieldset-legend>
            <nhs-hint nhs-hint-type="Standard">Including the start date and up to but not including the end date</nhs-hint>
            <date-input inline-template>
                @{
                    var notificationDateStartError = !Model.ValidationService.IsValid(nameof(Model.NotificationDateRangeStart));
                    var notificationDateStartGroupState = notificationDateStartError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type="@notificationDateStartGroupState" classes="nhs-form-group--import-by-date">
                    <nhs-fieldset aria-describedby="notification-start-date-error">
                        <nhs-fieldset-legend nhs-legend-size="Standard"> Start date </nhs-fieldset-legend>
                        <span nhs-span-type="ErrorMessage" id="notification-start-date-error" classes="import-error"
                              asp-validation-for="NotificationDateRangeStart" has-error="@notificationDateStartError"></span>

                        <nhs-date-input id="notification-start-date">
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="NotificationDateRangeStart.Day">Day</label>
                                    <input ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input="@notificationDateStartError" asp-for="NotificationDateRangeStart.Day"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="NotificationDateRangeStart.Month">Month</label>
                                    <input ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input="@notificationDateStartError" asp-for="NotificationDateRangeStart.Month"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="NotificationDateRangeStart.Year">Year</label>
                                    <input ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                           is-error-input="@notificationDateStartError" asp-for="NotificationDateRangeStart.Year"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                        </nhs-date-input>
                    </nhs-fieldset>
                </nhs-form-group>
            </date-input>

            <date-input inline-template>
                @{
                    var notificationDateEndError = !Model.ValidationService.IsValid(nameof(Model.NotificationDateRangeEnd));
                    var notificationDateEndGroupState = notificationDateEndError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type="@notificationDateEndGroupState" classes="nhs-form-group--import-by-date">
                    <nhs-fieldset aria-describedby="notification-end-date-error">
                        <nhs-fieldset-legend nhs-legend-size="Standard"> End date </nhs-fieldset-legend>
                        <span nhs-span-type="ErrorMessage" id="notification-end-date-error" classes="import-error"
                              asp-validation-for="NotificationDateRangeEnd" has-error="@notificationDateEndError"></span>
                        <nhs-date-input id="notification-end-date">
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="NotificationDateRangeEnd.Day">Day</label>
                                    <input nhs-input-type="Date" fixed-width="Two" ref="dayInput"
                                           is-error-input="@notificationDateEndError" asp-for="NotificationDateRangeEnd.Day"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="NotificationDateRangeEnd.Month">Month</label>
                                    <input nhs-input-type="Date" fixed-width="Two" ref="monthInput"
                                           is-error-input="@notificationDateEndError" asp-for="NotificationDateRangeEnd.Month"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="NotificationDateRangeEnd.Year">Year</label>
                                    <input nhs-input-type="Date" fixed-width="Four" ref="yearInput"
                                           is-error-input="@notificationDateEndError" asp-for="NotificationDateRangeEnd.Year"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                        </nhs-date-input>
                    </nhs-fieldset>
                </nhs-form-group>
            </date-input>
        </nhs-fieldset>
        <br/>

        <label nhs-label-type="Standard" asp-for="Description">Description</label>
        <nhs-hint nhs-hint-type="Standard" id="description-hint">A description of this import run</nhs-hint>
        <textarea nhs-textarea-type="Standard" asp-for="Description" rows="5" aria-describedby="description-hint">
        </textarea>

        <br/>
        <div>
            <button nhs-button-type="Standard" type="submit" value="Import" classes="ntbsuk-button--primary submit-search-button" id="search-button">
                Import
            </button>
        </div>
    </form>

    <br/>
</nhs-width-container>
