@page "/Alerts/{NotificationId:int}/Transfer/{handler?}"

@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@model ntbs_service.Pages.Alerts.TransferRequestModel
@using NHSUK.FrontEndLibrary.TagHelpers

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = $"Transfer Request - {Model.AlertId}";
}

<nhs-width-container container-width="Standard">
    <form method="post" autocomplete="off">
        <input type="hidden" asp-for="TransferAlert.NotificationId" value="@Model.NotificationId" />
        <h2> You are about to transfer this notification </h2>

        @* <filtered-dropdown filter-handler-path="GetFilteredListsByPhecAndTbService" :filtering-refs="['phecs', 'tbServices', 'caseManagers']" inline-template> *@

            @* <validate-input model="TransferAlert" property="PhecCode"
                                ref="phecs" v-on:mounted="filteringMounted" v-on:valid="filteringChanged" inline-template> *@
                @{
                    var hasPhecCodeError = false;
                    var phecCodeGroupState = hasPhecCodeError ? Error : Standard;
                    var phecCodeSelectErrorState = hasPhecCodeError ? SelectType.Error : SelectType.Standard;
                }
                <nhs-form-group nhs-form-group-type="@phecCodeGroupState" id="PhecCodeFilter">
                    <label nhs-label-type="Standard" asp-for="TransferAlert.TbServiceCode">
                        PHEC
                    </label>
                    <span nhs-span-type="ErrorMessage" id="tb-service-error" has-error="@hasPhecCodeError"
                            ref="errorField" asp-validation-for="TransferAlert.TbServiceCode"></span>
                    <select ref="selectField" nhs-select-type="@phecCodeSelectErrorState"
                            asp-items="Model.Phecs" v-on:change="validate">
                    </select>
                </nhs-form-group>
            @* </validate-input> *@

            @* <validate-input model="TransferAlert" property="TBServiceCode"
                                ref="tbServices" v-on:mounted="filteringMounted" v-on:valid="filteringChanged" inline-template> *@
                @{
                    var hasTbServiceCodeError = false;
                    var tbServiceCodeGroupState = hasTbServiceCodeError ? Error : Standard;
                    var tbServiceCodeSelectErrorState = hasTbServiceCodeError ? SelectType.Error : SelectType.Standard;
                }
                <nhs-form-group nhs-form-group-type="@tbServiceCodeGroupState" id="TransferAlert-TbServiceCode">
                    <label nhs-label-type="Standard" asp-for="TransferAlert.TbServiceCode">
                        TB SERVICE
                    </label>
                    <span nhs-span-type="ErrorMessage" id="tb-service-error" has-error="@hasTbServiceCodeError"
                            ref="errorField" asp-validation-for="TransferAlert.TbServiceCode"></span>
                    <select ref="selectField" nhs-select-type="@tbServiceCodeSelectErrorState" asp-for="TransferAlert.TbServiceCode"
                            asp-items="Model.TbServices" v-on:change="validate">
                    </select>
                </nhs-form-group>
            @* </validate-input> *@
@* 
            <validate-input model="TransferAlert" property="CaseManagerEmail"
                            ref="caseManagers" inline-template> *@
                @{
                    var hasCaseManagerError = false;
                    var caseManagerGroupState = hasCaseManagerError ? Error : Standard;
                    var caseManagerSelectErrorState = hasCaseManagerError ? SelectType.Error : SelectType.Standard;
                }
                <nhs-form-group nhs-form-group-type="@caseManagerGroupState" id="TransferAlert-CaseManagerEmail">
                    <label nhs-label-type="Standard" asp-for="TransferAlert.CaseManagerEmail">
                        CASE MANAGER
                    </label>
                    <span nhs-span-type="ErrorMessage" id="case-manager-error" has-error="@hasCaseManagerError"
                          ref="errorField" asp-validation-for="TransferAlert.CaseManagerEmail"></span>
                    <select ref="selectField" nhs-select-type="@caseManagerSelectErrorState" asp-for="TransferAlert.CaseManagerEmail"
                            asp-items="Model.CaseManagers" v-on:change="validate">
                        <option value="" selected>Please select</option>
                    </select>
                </nhs-form-group>
            @* </validate-input> *@
        @* </filtered-dropdown> *@

        @{
            var hasReasonError = !Model.ValidationService.IsValid("TransferAlert.TransferReason");
            var reasonFormGroupType = hasReasonError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type="@reasonFormGroupType">
            <nhs-fieldset aria-describedby="reason-error">
                <nhs-fieldset-legend nhs-legend-size="Standard">
                    Reason for transfer (required)
                </nhs-fieldset-legend>

                <span id="reason-error" nhs-span-type="ErrorMessage" asp-validation-for="TransferAlert.TransferReason" has-error="@hasReasonError"></span>

                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    @foreach (TransferReason reason in Enum.GetValues(typeof(TransferReason)))
                    {

                        var id = $"transfer-radio-{reason}";
                        var displayText = reason.GetDisplayName();
                        if (reason != TransferReason.Other)
                        {
                            <div class="nhsuk-radios__item">
                                <input asp-for="TransferAlert.TransferReason" nhs-input-type="Radios" type="radio"
                                    value="@reason" id="@id" aria-describedby="reason-error">
                                <label nhs-label-type="Radios" for="@id">
                                    @displayText
                                </label>
                            </div>
                        }
                        else if (reason == TransferReason.Other)
                        {
                            <div class="nhsuk-radios__item">
                                <input asp-for="TransferAlert.TransferReason" nhs-input-type="Radios" type="radio"
                                    value="@reason" id="@id" data-aria-controls="conditional-radio" aria-describedby="reason-error">
                                <label nhs-label-type="Radios" for="@id">
                                    @displayText
                                </label>
                            </div>
                        }
                    }

                    @{
                        var hasReasonDescriptionError = !Model.ValidationService.IsValid("TransferAlert.OtherReasonDescription");
                        var reasonDescriptionFormGroupType = hasReasonDescriptionError ? Error : Standard;
                    }

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-radio">
                        <nhs-form-group nhs-form-group-type="@reasonDescriptionFormGroupType">
                            <label asp-for="TransferAlert.OtherReasonDescription" nhs-label-type="Standard">
                                Provide reason
                            </label>
                            <span id="description-error" nhs-span-type="ErrorMessage" asp-validation-for="TransferAlert.OtherReasonDescription" has-error="@hasReasonDescriptionError"></span>
                            <input asp-for="TransferAlert.OtherReasonDescription" nhs-input-type="Standard" is-error-input="@hasReasonDescriptionError" aria-describedby="description-error" />
                        </nhs-form-group>
                    </div>
                </div>
            </nhs-fieldset>
        </nhs-form-group>

        @{
            var hasRequestNoteError = !Model.ValidationService.IsValid("TransferAlert.TransferRequestNote");
            var requestNoteFormGroupType = hasRequestNoteError ? Error : Standard;
        }

        <nhs-form-group nhs-form-group-type="@requestNoteFormGroupType">
            <label asp-for="TransferAlert.TransferRequestNote" nhs-label-type="Standard">
                Add optional note to display to receiving case manager
            </label>
            <span id="description-error" nhs-span-type="ErrorMessage" asp-validation-for="TransferAlert.TransferRequestNote" has-error="@hasRequestNoteError"></span>
            <input asp-for="TransferAlert.TransferRequestNote" nhs-input-type="Standard" is-error-input="@hasRequestNoteError" aria-describedby="note-error" />
        </nhs-form-group>

        <div style="display: flex">
            <button id="confirm-transfer-button" nhs-button-type="Standard" asp-page-handler="Confirm">
                Confirm transfer
            </button>

            <nhs-back-link href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)">Cancel & go back</nhs-back-link>
        </div>
    </form>
</nhs-width-container>