@page "/Notifications/{NotificationId:int}/ActionTransfer/{handler?}"

@using ntbs_service.Helpers
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@model ntbs_service.Pages.Alerts.TransferRequestActionModel

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = $"Transfer Request - {Model.NotificationId}";
}

<nhs-width-container container-width="Standard">
    <form method="post" autocomplete="off">
        <input type="hidden" asp-for="TransferRequest.TransferAlert.NotificationId" />
        <h2> Action transfer request </h2>

        <div> This action will be recorded in the change log. </div>

        <br>
        
        <div class="transfer-request-information flex-container"> 
            <div class="transfer-request-information-label"> Sending TB service: </div>
            <div> @Model.Notification.HospitalDetails?.TBService?.Name </div>
        </div>

        <div class="transfer-request-information flex-container"> 
            <div class="transfer-request-information-label"> Sending case manager: </div>
            <div> @Model.Notification.HospitalDetails?.CaseManagerName </div>
        </div>
        
        <div class="transfer-request-information flex-container">
            <div class="transfer-request-information-label"> Reason for transfer: </div>
            <div> @Model.TransferRequest.TransferAlert.TransferReasonString </div>
        </div>
        
        <div class="transfer-request-information flex-container">
            <div class="transfer-request-information-label"> Date of transfer: </div>
            <div> @Model.TransferRequest.TransferDate.ConvertToString() </div>
        </div>
        
        <div class="transfer-request-information flex-container">
            <div class="transfer-request-information-label"> Note accompanying transfer: </div>
            <div> @Model.TransferRequest.TransferAlert.TransferRequestNote </div>
        </div>

        <br>

        @{
            var hasActionError = !Model.ValidationService.IsValid("TransferRequest.AcceptTransfer");
            var actionFormGroupType = hasActionError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type="@actionFormGroupType">
            <nhs-fieldset aria-describedby="action-error">
                <span id="action-error" nhs-span-type="ErrorMessage" asp-validation-for="TransferRequest.AcceptTransfer" has-error="@hasActionError"></span>

                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="nhsuk-radios__item">
                        <input asp-for="TransferRequest.AcceptTransfer" nhs-input-type="Radios" type="radio"
                            value="true" id="accept-transfer-input" data-aria-controls="conditional-radio-accept" aria-describedby="action-error">
                        <label nhs-label-type="Radios" for="accept-transfer-input">
                            Accept transfer
                        </label>
                    </div>
                    
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-radio-accept">
                        <nhs-grid-row>
                            <nhs-grid-column grid-column-width="OneHalf">
                                <label asp-for="TransferRequest.TargetHospitalId" nhs-label-type="Standard">
                                    Hospital
                                </label>
                                <select nhs-select-type="Standard" asp-items="Model.TransferRequest.Hospitals" asp-for="TransferRequest.TargetHospitalId">
                                </select>
                            </nhs-grid-column>
                            <nhs-grid-column grid-column-width="OneHalf">
                                <label asp-for="TransferRequest.TargetCaseManagerId" nhs-label-type="Standard">
                                    Case manager
                                </label>
                                <select nhs-select-type="Standard" asp-items="Model.TransferRequest.CaseManagers" asp-for="TransferRequest.TargetCaseManagerId">
                                    <option value="" selected> No Case Manager </option>
                                </select>
                            </nhs-grid-column>
                        </nhs-grid-row><br>
                        
                        <nhs-grid-row>
                            @{
                                var hasEventDateError = !Model.ValidationService.IsValid("TransferRequest.TransferDate");
                            }
                            <validate-date model="TransferRequest" property="TransferDate" notification_id="@Model.Notification.NotificationId" inline-template>
                                <nhs-grid-column grid-column-width="OneHalf">
                                    <label asp-for="TransferRequest.TransferDate" nhs-label-type="Standard">
                                        Transfer Date
                                    </label>
                                    <span nhs-span-type="ErrorMessage" ref="errorField"
                                          id="transfer-date-error" asp-validation-for="TransferRequest.TransferDate" has-error="@hasEventDateError"></span>
                                    <nhs-date-input id="notification-date">
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedTransferDate.Day">Day</label>
                                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasEventDateError asp-for="FormattedTransferDate.Day"/>
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedTransferDate.Month">Month</label>
                                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasEventDateError asp-for="FormattedTransferDate.Month"/>
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedTransferDate.Year">Year</label>
                                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                       is-error-input=@hasEventDateError asp-for="FormattedTransferDate.Year"/>
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                    </nhs-date-input>
                                </nhs-grid-column>
                            </validate-date>
                        </nhs-grid-row>
                    </div>
                                        
                    <div class="nhsuk-radios__item">
                        <input asp-for="TransferRequest.AcceptTransfer" nhs-input-type="Radios" type="radio"
                            value="false" id="decline-transfer-input" data-aria-controls="conditional-radio-decline" aria-describedby="action-error">
                        <label nhs-label-type="Radios" for="decline-transfer-input">
                            Decline transfer
                        </label>
                    </div>

                    @{
                        var hasCommentError = !Model.ValidationService.IsValid("TransferRequest.DeclineTransferReason");
                        var commentFormGroupType = hasCommentError ? Error : Standard;
                    }

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-radio-decline">
                        <nhs-form-group nhs-form-group-type="@commentFormGroupType">
                            <label asp-for="TransferRequest.DeclineTransferReason" nhs-label-type="Standard">
                                Provide explanatory comment
                            </label>
                            <span id="comment-error" nhs-span-type="ErrorMessage" asp-validation-for="TransferRequest.DeclineTransferReason" has-error="@hasCommentError"></span>
                            <input asp-for="TransferRequest.DeclineTransferReason" nhs-input-type="Standard" is-error-input="@hasCommentError" aria-describedby="comment-error" />
                        </nhs-form-group>
                    </div>
                </div>
            </nhs-fieldset>
        </nhs-form-group>

        <div class="flex-container">
            <button nhs-button-type="Standard" id="submit-transfer-button" classes="confirm-transfer-button ntbsuk-button--primary">
                Submit
            </button>
            <nhs-back-link href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)" 
                classes="transfer-request-back-link">
                Go back
            </nhs-back-link>
        </div>
    </form>
</nhs-width-container>