@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditClinicalDetails;
    var sectionId = OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath);
}

<div class="notification-overview-type-and-edit-container" id="@sectionId-title">
    <h3 class="notification-details-type"> Clinical details </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state" id="@sectionId-edit-link">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container" id="@sectionId">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-details-label"> Sites of disease </div>
            <div class="cell-min-height" id="@sectionId-sites"> @Model.Notification.SitesOfDiseaseList </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Patient has symptoms </div>
            <div class="cell-min-height" id="@sectionId-symptomatic"> @Model.Notification.ClinicalDetails.IsSymptomaticYesNo </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptom onset date </div>
            <div class="cell-min-height" id="@sectionId-symptom-date"> @Model.Notification.ClinicalDetails.FormattedSymptomStartDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptom onset to treatment start </div>
            <div class="cell-min-height" id="@sectionId-symptom-to-treatment"> @Model.Notification.ClinicalDetails.DaysFromOnsetToTreatment </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Presentation to any health service date </div>
            <div class="cell-min-height" id="@sectionId-presentation-date"> @Model.Notification.ClinicalDetails.FormattedPresentationToAnyHealthServiceDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptom onset to health service presentation </div>
            <div class="cell-min-height" id="@sectionId-onset-to-presentation"> @Model.Notification.ClinicalDetails.DaysFromOnsetToFirstPresentation </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Healthcare setting </div>
            <div class="cell-min-height" id="@sectionId-healthcare-setting"> @Model.Notification.ClinicalDetails.FormattedHealthcareSettingState </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Presentation to TB service date </div>
            <div class="cell-min-height" id="@sectionId-service-presentation-date"> @Model.Notification.ClinicalDetails.FormattedPresentationToTbServiceDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Health service to TB service presentation </div>
            <div class="cell-min-height" id="@sectionId-presentation-to-service"> @Model.Notification.ClinicalDetails.DaysFromFirstPresentationToTBServicePresentation </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Diagnosis date </div>
            <div class="cell-min-height" id="@sectionId-diagnosis-date"> @Model.Notification.ClinicalDetails.FormattedDiagnosisDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> TB service presentation to diagnosis </div>
            <div class="cell-min-height" id="@sectionId-service-to-diagnosis"> @Model.Notification.ClinicalDetails.DaysFromTBServicePresentationToDiagnosis </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Treatment start date </div>
            <div class="cell-min-height" id="@sectionId-treatment-start-date"> @Model.Notification.ClinicalDetails.FormattedTreatmentStartDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Diagnosis to treatment start </div>
            <div class="cell-min-height" id="@sectionId-diagnosis-to-treatment"> @Model.Notification.ClinicalDetails.DaysFromDiagnosisToTreatment </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Diagnosis after death </div>
            <div class="cell-min-height" id="@sectionId-post-mortem"> @Model.Notification.ClinicalDetails.IsPostMortemYesNo </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <br/>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Home visit </div>
            <div class="cell-min-height" id="@sectionId-home-visit"> @Model.Notification.ClinicalDetails.FormattedHomeVisitState </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> HIV test offered </div>
            <div class="cell-min-height" id="@sectionId-hiv-test"> @Model.Notification.ClinicalDetails.GetHIVTestState </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> DOT offered </div>
            <div class="cell-min-height" id="@sectionId-dot-offered"> @Model.Notification.ClinicalDetails.FormattedDotOfferedState </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> BCG vaccination </div>
            <div class="cell-min-height" id="@sectionId-bcg-vaccination"> @Model.Notification.ClinicalDetails.BCGVaccinationStateAndYear </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Enhanced case management </div>
            <div class="cell-min-height" id="@sectionId-case-management"> @Model.Notification.ClinicalDetails.FormattedCaseManagementStatus </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Planned treatment regimen </div>
            <div class="cell-min-height" id="@sectionId-treatment-regimen"> @Model.Notification.ClinicalDetails.FormattedTreatmentRegimen </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-details-label"> Health Protection Team reference number </div>
            <div class="cell-min-height" id="@sectionId-htp-ref"> @Model.Notification.ClinicalDetails?.HealthProtectionTeamReferenceNumber </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-details-label"> Notes </div>
            <div class="cell-min-height" id="@sectionId-notes"> @Model.Notification.ClinicalDetails?.Notes </div>
        </nhs-grid-column>
    </nhs-grid-row>

</div>
