@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditClinicalDetails;
}

<div class="notification-overview-type-and-edit-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)">
    <h3 class="notification-details-type"> Clinical details </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-details-label"> Sites of Disease </div>
            <div class="cell-min-height"> @Model.Notification.SitesOfDiseaseList </div>
        </nhs-grid-column>
    </nhs-grid-row>
    
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptomatic </div>
            <div class="cell-min-height"> @Model.Notification.IsSymptomatic </div>
        </nhs-grid-column>
    </nhs-grid-row>
    
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptom onset date </div>
            <div class="cell-min-height"> @Model.Notification.FormattedSymptomStartDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptom onset to treatment start </div>
            <div class="cell-min-height"> @Model.Notification.DaysFromOnsetToTreatment </div>
        </nhs-grid-column>
    </nhs-grid-row>
    
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Presentation to any health service date </div>
            <div class="cell-min-height"> @Model.Notification.FormattedPresentationToAnyHealthServiceDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Symptom onset to health service presentation </div>
            <div class="cell-min-height"> @Model.Notification.DaysFromOnsetToFirstPresentation </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Healthcare setting </div>
            <div class="cell-min-height"> @Model.Notification.FormattedHealthcareSettingState </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Presentation to TB service date </div>
            <div class="cell-min-height"> @Model.Notification.FormattedPresentationToTBServiceDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Health service to TB service presentation </div>
            <div class="cell-min-height"> @Model.Notification.DaysFromFirstPresentationToTBServicePresentation </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Diagnosis date </div>
            <div class="cell-min-height"> @Model.Notification.FormattedDiagnosisDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> TB service presentation to diagnosis </div>
            <div class="cell-min-height"> @Model.Notification.DaysFromTBServicePresentationToDiagnosis </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Treatment date </div>
            <div class="cell-min-height"> @Model.Notification.FormattedTreatmentStartDate </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Diagnosis to treatment start </div>
            <div class="cell-min-height"> @Model.Notification.DaysFromDiagnosisToTreatment </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Postmortem diagnosis </div>
            <div class="cell-min-height"> @Model.Notification.IsPostMortemYesNo </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <br/>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Home visit </div>
            <div class="cell-min-height"> @Model.Notification.FormattedHomeVisitState </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> HIV test offered </div>
            <div class="cell-min-height"> @Model.Notification.HIVTestState </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> DOT offered </div>
            <div class="cell-min-height"> @Model.Notification.FormattedDotOfferedState </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> BCG vaccination </div>
            <div class="cell-min-height"> @Model.Notification.BCGVaccinationStateAndYear </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Drug resistance profile </div>
            <div class="cell-min-height"> </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Enhanced Case Management </div>
            <div class="cell-min-height"> @Model.Notification.FormattedCaseManagementStatus </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Standard therapy treatment </div>
            <div class="cell-min-height">  </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> RR/MDR/XDR treatment </div>
            <div class="cell-min-height"> @Model.Notification.MDRTreatmentStateAndDate </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-details-label"> Notes </div>
            <div class="cell-min-height"> @Model.Notification.ClinicalDetails?.Notes </div>
        </nhs-grid-column>
    </nhs-grid-row>

</div>