@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditComorbidities;
}

<div class="notification-overview-type-and-edit-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)">
    <h3 class="notification-details-type"> Co-morbidities and immunosuppression </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Diabetes </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.DiabetesStatus</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Hepatitis B </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.HepatitisBStatus</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Hepatitis C </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.HepatitisCStatus</div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Chronic liver disease </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.LiverDiseaseStatus</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Chronic renal disease </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.RenalDiseaseStatus</div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Immunosuppression </div>
            <div class="cell-min-height">@Model.Notification.ImmunosuppressionDetails.Status</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Type </div>
            <div class="cell-min-height">@Model.Notification.ImmunosuppressionDetails.FormattedTypesOfImmunosuppression()</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Other immunosuppression </div>
            <div class="cell-min-height">@Model.Notification.ImmunosuppressionDetails.OtherDescription</div>
        </nhs-grid-column>
    </nhs-grid-row>
</div>