@model OverviewModel

@{
    var notificationId = ViewData["NotificationId"];
}

<div class="notification-overview-type-and-edit-container">
    <h3 class="notification-details-type"> Co-morbidities and immunosuppression </h3>
    <a href="./Edit/Comorbidities?id=@notificationId" class="notification-edit-link govuk-link--no-visited-state"> Edit </a>
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Diabetes </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.DiabetesStatus</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Hepatitis B </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.HepatitisBStatus</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Hepatitis C </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.HepatitisCStatus</div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Chronic Liver Disease </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.LiverDiseaseStatus</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Chronic Renal Disease </div>
            <div class="cell-min-height">@Model.Notification.ComorbidityDetails.RenalDiseaseStatus</div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Immunosuppression </div>
            <div class="cell-min-height">@Model.Notification.ImmunosuppressionDetails.Status</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Type </div>
            <div class="cell-min-height">@Model.Notification.ImmunosuppressionDetails.CreateTypesOfImmunosuppressionString()</div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Further information </div>
            <div class="cell-min-height">@Model.Notification.ImmunosuppressionDetails.OtherDescription</div>
        </nhs-grid-column>
    </nhs-grid-row>
</div>
