@{
    var notificationId = ViewData["NotificationId"];
    string emptySpace = "&nbsp;";
}
<div class="notification-overview-type-and-edit-container">
    <h3 class="notification-details-type"> Contact tracing </h3>
    <a href="./Edit/ContactTracing?id=@notificationId" class="notification-edit-link govuk-link--no-visited-state"> Edit </a>
</div> 
<div class="notification-overview-details-container">
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Number of contacts identified for screening </div>
            <div class="contact-tracing-values">
                <div>
                    <div> Adults  </div>
                    <div> Children  </div>
                    <div> Total  </div>
                </div>
                <div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.AdultsIdentified ?? Html.Raw(emptySpace))</div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.ChildrenIdentified ?? Html.Raw(emptySpace))</div>
                    <div class="contact-tracing-value"> @(Model.Notification.TotalContactsIdentified ?? Html.Raw(emptySpace)) </div>
                </div>
            </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Number of contacts screened for TB </div>
            <div class="contact-tracing-values">
                <div>
                    <div> Adults  </div>
                    <div> Children  </div>
                    <div> Total  </div>
                </div>
                <div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.AdultsScreened ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.ChildrenScreened ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.TotalContactsScreened ?? Html.Raw(emptySpace)) </div>
                </div>
            </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Number of contacts with active TB </div>
            <div class="contact-tracing-values">
                <div>
                    <div> Adults  </div>
                    <div> Children  </div>
                    <div> Total  </div>
                </div>
                <div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.AdultsActiveTB ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.ChildrenActiveTB ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.TotalContactsActiveTB ?? Html.Raw(emptySpace)) </div>
                </div>
            </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Number of contacts with latent TB </div>
            <div class="contact-tracing-values">
                <div>
                    <div> Adults  </div>
                    <div> Children  </div>
                    <div> Total  </div>
                </div>
                <div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.AdultsLatentTB ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.ChildrenLatentTB ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.TotalContactsLatentTB ?? Html.Raw(emptySpace)) </div>
                </div>
            </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Number of contacts that have started treatment for latent TB </div>
            <div class="contact-tracing-values">
                <div>
                    <div> Adults  </div>
                    <div> Children  </div>
                    <div> Total  </div>
                </div>
                <div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.AdultsStartedTreatment ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.ChildrenStartedTreatment ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.TotalContactsStartedTreatment ?? Html.Raw(emptySpace)) </div>
                </div>
            </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Number of contacts that have completed treatment for latent TB </div>
            <div class="contact-tracing-values">
                <div>
                    <div> Adults  </div>
                    <div> Children  </div>
                    <div> Total  </div>
                </div>
                <div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.AdultsFinishedTreatment ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.ContactTracing.ChildrenFinishedTreatment ?? Html.Raw(emptySpace)) </div>
                    <div class="contact-tracing-value"> @(Model.Notification.TotalContactsFinishedTreatment ?? Html.Raw(emptySpace)) </div>
                </div>
            </div>
        </nhs-grid-column>
    </nhs-grid-row>
</div>
