@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

<div class="notification-overview-type-and-edit-container">
    <h3 class="notification-details-type"> Hospital Details </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditEpisode)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>

<div class="notification-overview-details-container">

    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> TB Service </div>
            <div class="cell-min-height"> @Model.Notification.TBServiceName </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Hospital </div>
            <div class="cell-min-height"> @Model.Notification.HospitalName </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Case Manager </div>
            <div class="cell-min-height"> @Model.Notification.Episode.CaseManagerName </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Consultant </div>
            <div class="cell-min-height"> @Model.Notification.Episode.Consultant </div>
        </nhs-grid-column>
    </nhs-grid-row>

    @if (Model.Notification.NotificationStatus == NotificationStatus.Denotified)
    {
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Denotification Date </div>
                <div class="cell-min-height"> @Model.Notification.FormattedDenotificationDate </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Denotification Reason </div>
                <div class="cell-min-height" id="overview-denotification-reason"> @Model.Notification.DenotificationReasonString </div>
            </nhs-grid-column>
        </nhs-grid-row>
    }

</div>