@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditPreviousHistory;
}

<div class="notification-overview-type-and-edit-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)-title">
    <h3 class="notification-details-type"> Other history of TB </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label">
                @Html.DisplayNameFor(m => m.Notification.PreviousTbHistory.PreviouslyHadTb)
            </div>
            <div class="cell-min-height"> @Model.Notification.PreviousTbHistory.PreviouslyHadTb </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label">
                @Html.DisplayNameFor(m => m.Notification.PreviousTbHistory.PreviousTbDiagnosisYear)
            </div>
            <div class="cell-min-height"> @Model.Notification.PreviousTbHistory.PreviousTbDiagnosisYear </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> 
                @Html.DisplayNameFor(m => m.Notification.PreviousTbHistory.PreviouslyTreated)
            </div>
            <div class="cell-min-height">
                 @Model.Notification.PreviousTbHistory.PreviouslyTreated
            </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label">
                @Html.DisplayNameFor(m => m.Notification.PreviousTbHistory.PreviousTreatmentCountryId)
            </div>
            <div class="cell-min-height"> @Model.Notification.PreviousTbHistory.PreviousTreatmentCountryName </div>
        </nhs-grid-column>
    </nhs-grid-row>
</div>