@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditSocialRiskFactors;
}

<div class="notification-overview-type-and-edit-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)">
    <h3 class="notification-details-type"> Social risk factors </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> History of drug misuse </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.RiskFactorDrugs?.Status </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Time periods </div>
            <div> @Model.Notification.SocialRiskFactors.DrugRiskFactorTimePeriods </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> History of homelessness </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.RiskFactorHomelessness?.Status </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Time periods </div>
            <div> @Model.Notification.SocialRiskFactors.HomelessRiskFactorTimePeriods </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> History of imprisonment </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.RiskFactorImprisonment?.Status </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Time periods </div>
            <div> @Model.Notification.SocialRiskFactors.ImprisonmentRiskFactorTimePeriods </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> History of smoking </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.RiskFactorSmoking?.Status </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> Time periods </div>
            <div> @Model.Notification.SocialRiskFactors.SmokingRiskFactorTimePeriods </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <br/>
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Alcohol misuse </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.AlcoholMisuseStatus </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Mental health issues </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.MentalHealthStatus </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Asylum Seeker </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.AsylumSeekerStatus </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneQuarter">
            <div class="notification-details-label"> Immigration Detainee </div>
            <div class="cell-min-height"> @Model.Notification.SocialRiskFactors.ImmigrationDetaineeStatus </div>
        </nhs-grid-column>
    </nhs-grid-row>
</div>