@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditTravel;
    var sectionId = OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath);
}

<div class="notification-overview-type-and-edit-container" id="@sectionId-title">
    <h3 class="notification-details-type"> Travel/visitors </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container" id="@sectionId">

    @if (Model.Notification.TravelDetails.HasTravel != Status.Yes)
    {
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneHalf">
                <div class="notification-details-label"> Patient has travelled to one or more high incidence countries </div>
                <div class="cell-min-height" id="@sectionId-has-travel"> @Model.Notification.TravelDetails.HasTravel.GetDisplayName() </div>
            </nhs-grid-column>
        </nhs-grid-row>
    }
    else
    {
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Patient has travelled to one or more high incidence countries </div>
                <div class="cell-min-height" id="@sectionId-has-travel"> @Model.Notification.TravelDetails.HasTravel.GetDisplayName() </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Total countries travelled to </div>
                <div class="cell-min-height" id="@sectionId-travel-countries-total"> @Model.Notification.TravelDetails.TotalNumberOfCountries </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Total number of months travelled </div>
                <div class="cell-min-height" id="@sectionId-travel-duration-total"> @Model.Notification.TravelDetails.TotalDurationOfTravel </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Country 1 </div>
                <div class="cell-min-height" id="@sectionId-travel-country1"> @Model.Notification.TravelDetails.Country1?.Name </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Country 2 </div>
                <div class="cell-min-height" id="@sectionId-travel-country2"> @Model.Notification.TravelDetails.Country2?.Name </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Country 3 </div>
                <div class="cell-min-height" id="@sectionId-travel-country3"> @Model.Notification.TravelDetails.Country3?.Name </div>
            </nhs-grid-column>
        </nhs-grid-row>
    }
    <br/>

    @if (Model.Notification.VisitorDetails.HasVisitor != Status.Yes)
    {
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneHalf">
                <div class="notification-details-label"> Patient has had visitors from one or more high incidence countries </div>
                <div class="cell-min-height" id="@sectionId-has-visitors"> @Model.Notification.VisitorDetails.HasVisitor.GetDisplayName() </div>
            </nhs-grid-column>
        </nhs-grid-row>
    }
    else
    {
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Patient has had visitors from one or more high incidence countries </div>
                <div class="cell-min-height" id="@sectionId-has-visitors"> @Model.Notification.VisitorDetails.HasVisitor.GetDisplayName() </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Total visitor countries </div>
                <div class="cell-min-height" id="@sectionId-visitor-country-total"> @Model.Notification.VisitorDetails.TotalNumberOfCountries </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Total number of months of visits </div>
                <div class="cell-min-height" id="@sectionId-visitor-duration-total"> @Model.Notification.VisitorDetails.TotalDurationOfVisit </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Country 1 </div>
                <div class="cell-min-height" id="@sectionId-visitor-country1"> @Model.Notification.VisitorDetails.Country1?.Name </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Country 2 </div>
                <div class="cell-min-height" id="@sectionId-visitor-country2"> @Model.Notification.VisitorDetails.Country2?.Name </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> Country 3 </div>
                <div class="cell-min-height" id="@sectionId-visitor-country3"> @Model.Notification.VisitorDetails.Country3?.Name </div>
            </nhs-grid-column>
        </nhs-grid-row>
    }
</div>
