@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditTreatmentEvents;
    var sectionId = OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath);
}

<div class="notification-overview-type-and-edit-container" id="@sectionId-title">
    <h3 class="notification-details-type"> Treatment Events </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state" id="@sectionId-edit-link">
            Edit
        </a>
    }
</div>

@if (Model.TreatmentPeriods.Count > 0)
{
     <div class="notification-overview-details-container" id="@sectionId">
        <div class="event-outcome-at-dates">
            @if (Model.Should12MonthOutcomeBeDisplayed)
            {
                <div  id="@sectionId-12-month-outcome">
                    <strong> Outcome at 12 months </strong> @(Model.OutcomeAt12Months?.TreatmentOutcomeType.GetDisplayName() ?? "No outcome recorded")
                </div>
            }

            @if (Model.Should24MonthOutcomeBeDisplayed)
            {
                <div id="@sectionId-24-month-outcome">
                    <strong> Outcome at 24 months </strong> @(Model.OutcomeAt24Months?.TreatmentOutcomeType.GetDisplayName() ?? "No outcome recorded")
                </div>
            }

            @if (Model.Should36MonthOutcomeBeDisplayed)
            {
                <div id="@sectionId-36-month-outcome">
                    <strong> Outcome at 36 months </strong> @(Model.OutcomeAt36Months?.TreatmentOutcomeType.GetDisplayName() ?? "No outcome recorded")
                </div>
            }
        </div>

        @foreach (var period in Model.TreatmentPeriods)
        {
            <div id="@sectionId-@period.PeriodNumber">
                <h4 class="episode-grouping-overview-heading">
                    @(period.IsTransfer ? "Transfer" :  $"Treatment period {period.PeriodNumber}")
                </h4>

                @if (period.TreatmentEvents.Last().IsEpisodeEndingTreatmentEvent() || Model.Notification.IsPostMortemAndHasCorrectEvents)
                {
                    <span id="@sectionId-@period.PeriodNumber-dates">@period.PeriodStartDate.ConvertToString() to @period.PeriodEndDate.ConvertToString()</span>
                }
                else
                {
                    <span id="@sectionId-@period.PeriodNumber-dates">@period.PeriodStartDate.ConvertToString() to Present</span>
                }
            </div>
            <nhs-table classes="nhsuk-table--reduced-font" responsive>
                <nhs-table-head>
                    <nhs-table-item classes="one-sixth-column">Date</nhs-table-item>
                    <nhs-table-item classes="two-sixth-column">Event</nhs-table-item>
                    <nhs-table-item classes="two-sixth-column">TB service</nhs-table-item>
                    <nhs-table-item classes="one-sixth-column">Case Manager</nhs-table-item>
                </nhs-table-head>
                <nhs-table-body>
                    @foreach (var treatmentEvent in period.TreatmentEvents)
                    {
                        <nhs-table-body-row>
                            <nhs-table-item heading-text="Date">
                                @treatmentEvent.FormattedEventDate
                            </nhs-table-item>
                            <nhs-table-item heading-text="Event">
                                @treatmentEvent.FormattedEventTypeAndOutcome
                                @if (treatmentEvent.TreatmentOutcome?.TreatmentOutcomeSubType != null)
                                {
                                    <br/>
                                    <span>@treatmentEvent.TreatmentOutcome.TreatmentOutcomeSubType.GetDisplayName()</span>
                                }
                            </nhs-table-item>
                            <nhs-table-item heading-text="TB service">
                                @treatmentEvent.TbService?.Name
                            </nhs-table-item>
                            <nhs-table-item heading-text="Case Manager">
                                @treatmentEvent.CaseManager?.DisplayName
                            </nhs-table-item>
                        </nhs-table-body-row>
                    }
                </nhs-table-body>
            </nhs-table>
        }
    </div>
}