@model ntbs_service.Pages.Notifications.Edit.ClinicalDetailsModel
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    var dotStatuses = EnumHelper.GetEnumList<DotStatus>();
}

<h2>Treatment Options</h2>

<div>
    <nhs-form-group nhs-form-group-type="Standard" id="ClinicalDetails-DotOffered">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">DOT offered?</nhs-fieldset-legend>
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.IsDotOffered" id="dot-offered-yes" class="nhsuk-radios__input" type="radio" value="@Status.Yes"
                        data-aria-controls="conditional-dot-offered-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="dot-offered-yes">
                        @(Status.Yes)
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dot-offered-conditional">
                    <nhs-form-group nhs-form-group-type="Standard">
                        <nhs-fieldset>
                            <nhs-fieldset-legend classes="govuk-visually-hidden" nhs-legend-size="Standard">DOT Status</nhs-fieldset-legend>
                            <nhs-radios nhs-radios-type="Standard">
                                @foreach (var status in dotStatuses)
                                {
                                    <nhs-radios-item>
                                        <input nhs-input-type="Radios" asp-for="ClinicalDetails.DotStatus" id="dot-status-@status" type="radio" value="@status" />
                                        <label nhs-label-type="Radios" for="dot-status-@status">@status.GetDisplayName()</label>
                                    </nhs-radios-item>
                                }
                            </nhs-radios>
                        </nhs-fieldset>
                    </nhs-form-group>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.IsDotOffered" id="dot-offered-no" class="nhsuk-radios__input" type="radio" value="@Status.No">
                    <label class="nhsuk-label nhsuk-radios__label" for="dot-offered-no">
                        @(Status.No)
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.IsDotOffered" id="dot-offered-unknown" class="nhsuk-radios__input" type="radio" value="@Status.Unknown">
                    <label class="nhsuk-label nhsuk-radios__label" for="dot-offered-unknown">
                        @(Status.Unknown)
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>

    <nhs-form-group nhs-form-group-type="Standard" id="ClinicalDetails-ECM">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">Enhanced Case Management?</nhs-fieldset-legend>

            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.EnhancedCaseManagementStatus" id="enhanced-case-management-yes" class="nhsuk-radios__input" type="radio" value="Yes" data-aria-controls="conditional-ecm-level">
                    <label class="nhsuk-label nhsuk-radios__label" for="enhanced-case-management-yes">
                        Yes
                    </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ecm-level">
                    <nhs-radios nhs-radios-type="Standard">
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.EnhancedCaseManagementLevel" id="ecm-1" type="radio" value="1"/>
                            <label nhs-label-type="Radios" for="ecm-1">Level 1</label>
                            <nhs-hint nhs-hint-type="Radios">For example, fortnightly visits, children with TB, dual diagnosis taking antiretroviral treatment</nhs-hint>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.EnhancedCaseManagementLevel" id="ecm-2" type="radio" value="2"/>
                            <label nhs-label-type="Radios" for="ecm-2">Level 2</label>
                            <nhs-hint nhs-hint-type="Radios">For example, weekly visits, complex side effects, DNA clinic/home visits, single drug resistance</nhs-hint>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.EnhancedCaseManagementLevel" id="ecm-3" type="radio" value="3"/>
                            <label nhs-label-type="Radios" for="ecm-3">Level 3</label>
                            <nhs-hint nhs-hint-type="Radios">For example, requires DOT, homeless issues, more than one drug resistance, complex contact tracing, children who require social service involvement</nhs-hint>
                        </nhs-radios-item>
                    </nhs-radios>
                </div>

                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.EnhancedCaseManagementStatus" id="enhanced-case-management-no" class="nhsuk-radios__input" type="radio" value="No">
                    <label class="nhsuk-label nhsuk-radios__label" for="enhanced-case-management-no">
                        No
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.EnhancedCaseManagementStatus" id="enhanced-case-management-unknown" class="nhsuk-radios__input" type="radio" value="Unknown">
                    <label class="nhsuk-label nhsuk-radios__label" for="enhanced-case-management-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>

    @{
        var hasMdrError = !Model.IsValid("ClinicalDetails.IsMDRTreatment");
        var mdrGroupState = hasMdrError ? Error : Standard;
    }
    <nhs-form-group nhs-form-group-type="@mdrGroupState" id="ClinicalDetails-IsMDRTreatment">
        <nhs-fieldset aria-describedby="regimen-error">
            <nhs-fieldset-legend nhs-legend-size="Standard">Planned treatment regimen</nhs-fieldset-legend>
            <span ref="errorField" nhs-span-type="ErrorMessage" asp-validation-for="ClinicalDetails.IsMDRTreatment"
                                                                  has-error="@hasMdrError" id="regimen-error"></span>

            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input nhs-input-type="Radios" asp-for="ClinicalDetails.TreatmentRegimen" id="regimen-standardTherapy" class="nhsuk-radios__input" type="radio"
                        value="@TreatmentRegimen.StandardTherapy">
                    <label class="nhsuk-label nhsuk-radios__label" for="regimen-standardTherapy">Standard Therapy</label>
                </div>


                <div class="nhsuk-radios__item">
                    <input nhs-input-type="Radios" asp-for="ClinicalDetails.TreatmentRegimen" id="regimen-mdr" class="nhsuk-radios__input" type="radio"
                        value="@TreatmentRegimen.MdrTreatment" data-aria-controls="conditional-mdr-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="regimen-mdr">RR/MDR/XDR treatment</label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mdr-conditional">
                    <validate-date model="ClinicalDetails" property="MDRTreatmentStartDate" inline-template>
                        @{
                            var hasMdrTreatmentDateError = !Model.IsValid("ClinicalDetails.MDRTreatmentStartDate");
                            var mdrTreatmentGroupState = hasMdrTreatmentDateError ? Error : Standard;
                        }
                        <nhs-form-group nhs-form-group-type=@mdrTreatmentGroupState id="ClinicalDetails-MDRTreatmentStartDate">
                            <nhs-fieldset aria-describedby="mdr-treatment-date-error" role="group">
                                <nhs-fieldset-legend nhs-legend-size="Standard">Treatment date</nhs-fieldset-legend>
                                <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.MDRTreatmentStartDate"
                                      has-error="@hasMdrTreatmentDateError" id="mdr-treatment-date-error"></span>
                                <nhs-date-input id="mdr-treatment-date">
                                    <nhs-date-input-item>
                                        <nhs-form-group nhs-form-group-type="Standard">
                                            <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Day">Day</label>
                                            <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                   is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Day" />
                                        </nhs-form-group>
                                    </nhs-date-input-item>
                                    <nhs-date-input-item>
                                        <nhs-form-group nhs-form-group-type="Standard">
                                            <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Month">Month</label>
                                            <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                   is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Month" />
                                        </nhs-form-group>
                                    </nhs-date-input-item>
                                    <nhs-date-input-item>
                                        <nhs-form-group nhs-form-group-type="Standard">
                                            <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Year">Year</label>
                                            <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                   is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Year" />
                                        </nhs-form-group>
                                    </nhs-date-input-item>
                                </nhs-date-input>
                            </nhs-fieldset>
                        </nhs-form-group>
                    </validate-date>

                    <validate-input model="ClinicalDetails" property="MDRExpectedTreatmentDurationInMonths" inline-template>
                        @{
                            var hasMdrExpectedTreatmentError = !Model.IsValid("ClinicalDetails.MDRExpectedTreatmentDurationInMonths");
                        }
                        <nhs-form-group nhs-form-group-type=@mdrTreatmentGroupState id="ClinicalDetails-MDRExpectedTreatmentDurationInMonths">
                            <span nhs-span-type="ErrorMessage" asp-validation-for="ClinicalDetails.MDRExpectedTreatmentDurationInMonths"
                                  has-error="@hasMdrExpectedTreatmentError" ref="errorField" id="expected-treatment-duration-error">
                            </span>
                            <label asp-for="ClinicalDetails.MDRExpectedTreatmentDurationInMonths" nhs-label-type="Standard">
                                Expected treatment duration in months
                            </label>
                            <input nhs-input-type="Standard" asp-for="ClinicalDetails.MDRExpectedTreatmentDurationInMonths" is-error-input="@hasMdrExpectedTreatmentError"
                                 v-on:blur="validate" ref="inputField" fixed-width="Five" aria-describedby="expected-treatment-duration-error" />
                        </nhs-form-group>
                    </validate-input>
                </div>

                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.TreatmentRegimen" id="regimen-other" class="nhsuk-radios__input" type="radio" value="@TreatmentRegimen.Other"
                        data-aria-controls="conditional-regimen-other-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="regimen-other">
                        Other
                    </label>
                </div>


                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-regimen-other-conditional">
                    <validate-input model="ClinicalDetails" property="TreatmentRegimenOtherDescription" inline-template>
                        @{
                            var hasTreatmentRegimenOtherDescriptionError = !Model.IsValid("ClinicalDetails.TreatmentRegimenOtherDescription");
                            var TreatmentRegimenOtherDescriptionGroupState = hasTreatmentRegimenOtherDescriptionError ? Error : Standard;
                        }
                        <nhs-form-group nhs-form-group-type=@TreatmentRegimenOtherDescriptionGroupState aria-describedby="other-regimen-text-error">
                            <span nhs-span-type="ErrorMessage" ref="errorField" has-error="@hasTreatmentRegimenOtherDescriptionError"
                                asp-validation-for="ClinicalDetails.TreatmentRegimenOtherDescription" id="other-regimen-text-error">
                            </span>
                            <label nhs-label-type="Standard" asp-for="ClinicalDetails.TreatmentRegimenOtherDescription">
                               Description
                            </label>
                            <input ref="inputField" v-on:blur="validate" asp-for="ClinicalDetails.TreatmentRegimenOtherDescription"
                                is-error-input=@hasTreatmentRegimenOtherDescriptionError nhs-input-type="Standard" fixed-width="Twenty">
                        </nhs-form-group>

                    </validate-input>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>
</div>