@model ntbs_service.Pages.Notifications.Edit.ClinicalDetailsModel
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    var healthcareSettings = EnumHelper.GetEnumList<HealthcareSetting>();
}

<h2>Clinical Dates</h2>

<date-comparison inline-template v-bind:number-of-dates="6">
    <div>
        <div class="hidden" ref="date-warning-0">
            <govuk-warning-text id="date-warning-text-0" ref="date-warning-text-0" class="reduced-margin-warning-text" v-if="dateWarnings[0]">
                <div class="warning-container">
                    <p>
                        <strong> {{dateWarnings[0].message}} </strong>
                    </p>
                </div>
            </govuk-warning-text>
        </div>
        <nhs-form-group nhs-form-group-type="Standard" id="ClinicalDetails-SymptomStartDate">
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard">
                    @Html.DisplayNameFor(m => m.ClinicalDetails.IsSymptomatic)
                </nhs-fieldset-legend>
                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="nhsuk-radios__item">
                        <input ref="checkbox0" asp-for="ClinicalDetails.IsSymptomatic" id="symptomatic-yes" class="nhsuk-radios__input"
                               type="radio" value="true" data-aria-controls="conditional-symptomatic-conditional" v-on:change="datechanged(0)">
                        <label class="nhsuk-label nhsuk-radios__label" for="symptomatic-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-symptomatic-conditional">
                        @{
                            var hasSymptomError = !Model.IsValid("ClinicalDetails.SymptomStartDate");
                            var symptomGroupState = hasSymptomError ? Error : Standard;
                        }
                        <validate-date ref="date0" name="@Html.DisplayNameFor(model => model.ClinicalDetails.SymptomStartDate)" model="ClinicalDetails"
                                       property="SymptomStartDate" rank="0" v-model="dates[0]" inline-template>
                            <nhs-form-group nhs-form-group-type=@symptomGroupState>
                                <nhs-fieldset aria-describedby="symptom-error" role="group">
                                    <nhs-fieldset-legend nhs-legend-size="Standard">
                                        @Html.DisplayNameFor(model => model.ClinicalDetails.SymptomStartDate)
                                    </nhs-fieldset-legend>
                                    <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.SymptomStartDate"
                                          has-error="@hasSymptomError" id="symptom-error"></span>
                                    <nhs-date-input id="symptom">
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Day">Day</label>
                                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasSymptomError asp-for="FormattedSymptomDate.Day" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Month">Month</label>
                                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasSymptomError asp-for="FormattedSymptomDate.Month" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Year">Year</label>
                                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                       is-error-input=@hasSymptomError asp-for="FormattedSymptomDate.Year" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                    </nhs-date-input>
                                </nhs-fieldset>
                            </nhs-form-group>
                        </validate-date>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input asp-for="ClinicalDetails.IsSymptomatic" id="symptomatic-no" class="nhsuk-radios__input" type="radio" value="false" v-on:change="datechanged(0)">
                        <label class="nhsuk-label nhsuk-radios__label" for="symptomatic-no">
                            No
                        </label>
                    </div>
                </div>
            </nhs-fieldset>
        </nhs-form-group>
        <br />
        <div class="hidden" ref="date-warning-1">
            <govuk-warning-text id="date-warning-text-1" ref="date-warning-text-1" class="reduced-margin-warning-text" v-if="dateWarnings[1]">
                <div class="warning-container">
                    <p>
                        <strong> {{dateWarnings[1].message}} </strong>
                    </p>
                </div>
            </govuk-warning-text>
        </div>
        <validate-date ref="date1" name="@Html.DisplayNameFor(model => model.ClinicalDetails.FirstPresentationDate)" model="ClinicalDetails" property="FirstPresentationDate" rank="1" v-model="dates[1]" inline-template>
            @{
                var hasPresentationAnyHealthServiceError = !Model.IsValid("ClinicalDetails.FirstPresentationDate");
                var presentationAnyHealthServiceGroupState = hasPresentationAnyHealthServiceError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type=@presentationAnyHealthServiceGroupState id="ClinicalDetails-FirstPresentationDate">
                <nhs-fieldset aria-describedby="first-presentation-error" role="group">
                    <nhs-fieldset-legend nhs-legend-size="Standard">
                        @Html.DisplayNameFor(model => model.ClinicalDetails.FirstPresentationDate)
                    </nhs-fieldset-legend>
                    <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.FirstPresentationDate"
                          has-error="@hasPresentationAnyHealthServiceError" id="first-presentation-error"></span>
                    <nhs-date-input id="presentation-to-any-health-service">
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedFirstPresentationDate.Day">Day</label>
                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                       is-error-input=@hasPresentationAnyHealthServiceError asp-for="FormattedFirstPresentationDate.Day" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedFirstPresentationDate.Month">Month</label>
                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                       is-error-input=@hasPresentationAnyHealthServiceError asp-for="FormattedFirstPresentationDate.Month" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedFirstPresentationDate.Year">Year</label>
                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                       is-error-input=@hasPresentationAnyHealthServiceError asp-for="FormattedFirstPresentationDate.Year" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                    </nhs-date-input>
                </nhs-fieldset>
            </nhs-form-group>
        </validate-date>
        <br />
        <nhs-form-group nhs-form-group-type="Standard" id="ClinicalDetails-HealthcareSetting">
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard">@Html.DisplayNameFor(m => m.ClinicalDetails.HealthcareSetting)</nhs-fieldset-legend>
                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    @foreach (var healthcareSetting in healthcareSettings)
                    {
                        if (healthcareSetting != HealthcareSetting.Other)
                        {
                            <div class="nhsuk-radios__item">
                                <input asp-for="ClinicalDetails.HealthcareSetting" id="healtcare-setting-@healthcareSetting" class="nhsuk-radios__input" type="radio" value="@healthcareSetting">
                                <label class="nhsuk-label nhsuk-radios__label" for="healtcare-setting-@healthcareSetting">
                                    @healthcareSetting.GetDisplayName()
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="nhsuk-radios__item">
                                <input asp-for="ClinicalDetails.HealthcareSetting" id="healtcare-setting-other" class="nhsuk-radios__input" type="radio" value="@HealthcareSetting.Other" data-aria-controls="conditional-healthcare-other-conditional">
                                <label class="nhsuk-label nhsuk-radios__label" for="healtcare-setting-other">
                                    @HealthcareSetting.Other.GetDisplayName()
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-healthcare-other-conditional">
                                @{
                                    var hasHealthcareDescriptionError = !Model.IsValid("ClinicalDetails.HealthcareDescription");
                                    var healthcareDescriptionGroupState = hasHealthcareDescriptionError ? Error : Standard;
                                }
                                <validate-input model="ClinicalDetails" property="HealthcareDescription" inline-template>
                                    <nhs-form-group nhs-form-group-type=@healthcareDescriptionGroupState aria-describedby="healthcare-other-error" id="Healthcare-Description">
                                        <span nhs-span-type="ErrorMessage" ref="errorField" has-error="@hasHealthcareDescriptionError"
                                              asp-validation-for="ClinicalDetails.HealthcareDescription" id="healthcare-other-error"></span>
                                        <label nhs-label-type="Standard" asp-for="ClinicalDetails.HealthcareDescription">
                                            Enter details
                                        </label>
                                        <input ref="inputField" v-on:blur="validate" is-error-input=@hasHealthcareDescriptionError nhs-input-type="Standard"
                                               fixed-width="Ten" asp-for="ClinicalDetails.HealthcareDescription" type="text">
                                    </nhs-form-group>
                                </validate-input>
                            </div>
                        }
                    }
                </div>
             </nhs-fieldset>
        </nhs-form-group>
        <br />
        <div class="hidden" ref="date-warning-2">
            <govuk-warning-text id="date-warning-text-2" ref="date-warning-text-2" class="reduced-margin-warning-text" v-if="dateWarnings[2]">
                <div class="warning-container">
                    <p>
                        <strong> {{dateWarnings[2].message}} </strong>
                    </p>
                </div>
            </govuk-warning-text>
        </div>
        <validate-date ref="date2" name="@Html.DisplayNameFor(m => m.ClinicalDetails.TBServicePresentationDate)" model="ClinicalDetails" property="TBServicePresentationDate" rank="2" v-model="dates[2]" inline-template>
            @{
                var hasPresentationTbServiceError = !Model.IsValid("ClinicalDetails.TBServicePresentationDate");
                var presentationTbServiceGroupState = hasPresentationTbServiceError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type=@presentationTbServiceGroupState id="ClinicalDetails-TBServicePresentationDate">
                <nhs-fieldset aria-describedby="tb-service-presentation-error" role="group">
                    <nhs-fieldset-legend nhs-legend-size="Standard">
                        @Html.DisplayNameFor(m => m.ClinicalDetails.TBServicePresentationDate)
                    </nhs-fieldset-legend>
                    <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.TBServicePresentationDate"
                          has-error="@hasPresentationTbServiceError" id="tb-service-presentation-error"></span>
                    <nhs-date-input id="presentation-to-TB-service">
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedTbServicePresentationDate.Day">Day</label>
                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                       is-error-input=@hasPresentationTbServiceError asp-for="FormattedTbServicePresentationDate.Day" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedTbServicePresentationDate.Month">Month</label>
                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                       is-error-input=@hasPresentationTbServiceError asp-for="FormattedTbServicePresentationDate.Month" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedTbServicePresentationDate.Year">Year</label>
                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                       is-error-input=@hasPresentationTbServiceError asp-for="FormattedTbServicePresentationDate.Year" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                    </nhs-date-input>
                </nhs-fieldset>
            </nhs-form-group>
        </validate-date>
        <br />
        <div class="hidden" ref="date-warning-3">
            <govuk-warning-text id="date-warning-text-3" ref="date-warning-text-3" class="reduced-margin-warning-text" v-if="dateWarnings[3]">
                <div class="warning-container">
                    <p>
                        <strong> {{dateWarnings[3].message}} </strong>
                    </p>
                </div>
            </govuk-warning-text>
        </div>
        <validate-date ref="date3" name="@Html.DisplayNameFor(m => m.ClinicalDetails.DiagnosisDate)" model="ClinicalDetails" property="DiagnosisDate" rank="3" v-model="dates[3]" inline-template>
            @{
                var hasDiagnosisError = !Model.IsValid("ClinicalDetails.DiagnosisDate");
                var diagnosisGroupState = hasDiagnosisError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type=@diagnosisGroupState id="ClinicalDetails-DiagnosisDate">
                <nhs-fieldset aria-describedby="diagnosis-error" role="group">
                    <nhs-fieldset-legend nhs-legend-size="Standard">
                        @Html.DisplayNameFor(m => m.ClinicalDetails.DiagnosisDate) (required)
                    </nhs-fieldset-legend>
                    <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.DiagnosisDate"
                          has-error="@hasDiagnosisError" id="diagnosis-error"></span>
                    <nhs-date-input id="diagnosis">
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Day">Day</label>
                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                       is-error-input=@hasDiagnosisError asp-for="FormattedDiagnosisDate.Day" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Month">Month</label>
                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                       is-error-input=@hasDiagnosisError asp-for="FormattedDiagnosisDate.Month" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Year">Year</label>
                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                       is-error-input=@hasDiagnosisError asp-for="FormattedDiagnosisDate.Year" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                    </nhs-date-input>
                </nhs-fieldset>
            </nhs-form-group>
        </validate-date>
        <br />
        <div class="hidden" ref="date-warning-4">
            <govuk-warning-text id="date-warning-text-4" ref="date-warning-text-4" class="reduced-margin-warning-text" v-if="dateWarnings[4]">
                <div class="warning-container">
                    <p>
                        <strong> {{dateWarnings[4].message}} </strong>
                    </p>
                </div>
            </govuk-warning-text>
        </div>
        <nhs-form-group nhs-form-group-type="Standard" id="ClinicalDetails-TreatmentStartDate">
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard">
                    @Html.DisplayNameFor(m => m.Notification.ClinicalDetails.DidNotStartTreatment)
                </nhs-fieldset-legend>
                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="nhsuk-radios__item">
                        <input asp-for="ClinicalDetails.DidNotStartTreatment" id="treatment-yes" class="nhsuk-radios__input" type="radio" value="false" data-aria-controls="conditional-treatment-conditional">
                        <label class="nhsuk-label nhsuk-radios__label" for="treatment-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-treatment-conditional">
                        @{
                            var hasTreatmentError = !Model.IsValid("ClinicalDetails.TreatmentStartDate");
                            var treatmentGroupState = hasTreatmentError ? Error : Standard;
                        }
                        <validate-date ref="date4" name="@Html.DisplayNameFor(m => m.ClinicalDetails.TreatmentStartDate)" model="ClinicalDetails" property="TreatmentStartDate" rank="4" v-model="dates[4]" inline-template>
                            <nhs-form-group nhs-form-group-type=@treatmentGroupState>
                                <nhs-fieldset aria-describedby="treatment-error" role="group">
                                    <nhs-fieldset-legend nhs-legend-size="Standard">
                                        @Html.DisplayNameFor(m => m.ClinicalDetails.TreatmentStartDate)
                                    </nhs-fieldset-legend>
                                    <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.TreatmentStartDate"
                                          has-error="@hasTreatmentError" id="treatment-error"></span>
                                    <nhs-date-input id="treatment">
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedTreatmentDate.Day">Day</label>
                                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasTreatmentError asp-for="FormattedTreatmentDate.Day" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedTreatmentDate.Month">Month</label>
                                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasTreatmentError asp-for="FormattedTreatmentDate.Month" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedTreatmentDate.Year">Year</label>
                                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                       is-error-input=@hasTreatmentError asp-for="FormattedTreatmentDate.Year" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                    </nhs-date-input>
                                </nhs-fieldset>
                            </nhs-form-group>
                        </validate-date>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input asp-for="ClinicalDetails.DidNotStartTreatment" id="treatment-no" class="nhsuk-radios__input" type="radio" value="true">
                        <label class="nhsuk-label nhsuk-radios__label" for="treatment-no">
                            No
                        </label>
                    </div>
                </div>
            </nhs-fieldset>
        </nhs-form-group>
        <br />
        <div class="hidden" ref="date-warning-5">
            <govuk-warning-text id="date-warning-text-5" ref="date-warning-text-5" class="reduced-margin-warning-text" v-if="dateWarnings[5]">
                <div class="warning-container">
                    <p>
                        <strong> {{dateWarnings[5].message}} </strong>
                    </p>
                </div>
            </govuk-warning-text>
        </div>
        <nhs-form-group nhs-form-group-type="Standard" id="ClinicalDetails-HomeVisitDate">
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard">@Html.DisplayNameFor(m => m.ClinicalDetails.HomeVisitCarriedOut)</nhs-fieldset-legend>
                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="nhsuk-radios__item">
                        <input asp-for="ClinicalDetails.HomeVisitCarriedOut" id="home-visit-yes" class="nhsuk-radios__input" type="radio" value="@Status.Yes" data-aria-controls="conditional-home-visit-conditional">
                        <label class="nhsuk-label nhsuk-radios__label" for="home-visit-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-home-visit-conditional">
                        @{
                            var hasHomeVisitDateError = !Model.IsValid("ClinicalDetails.FirstHomeVisitDate");
                            var homeVisitDateGroupState = hasHomeVisitDateError ? Error : Standard;
                        }
                        <validate-date ref="date5" name="@Html.DisplayNameFor(m => m.ClinicalDetails.FirstHomeVisitDate)" model="ClinicalDetails" property="FirstHomeVisitDate" rank="5" v-model="dates[5]"  inline-template>
                            <nhs-form-group nhs-form-group-type=@homeVisitDateGroupState>
                                <nhs-fieldset aria-describedby="home-visit-error" role="group">
                                    <nhs-fieldset-legend nhs-legend-size="Standard">
                                        @Html.DisplayNameFor(m => m.ClinicalDetails.FirstHomeVisitDate)
                                    </nhs-fieldset-legend>
                                    <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.FirstHomeVisitDate"
                                          has-error="@hasHomeVisitDateError" id="home-visit-error"></span>
                                    <nhs-date-input id="home-visit">
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedHomeVisitDate.Day">Day</label>
                                                <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasHomeVisitDateError asp-for="FormattedHomeVisitDate.Day" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedHomeVisitDate.Month">Month</label>
                                                <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                       is-error-input=@hasHomeVisitDateError asp-for="FormattedHomeVisitDate.Month" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                        <nhs-date-input-item>
                                            <nhs-form-group nhs-form-group-type="Standard">
                                                <label nhs-label-type="Date" asp-for="FormattedHomeVisitDate.Year">Year</label>
                                                <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                       is-error-input=@hasHomeVisitDateError asp-for="FormattedHomeVisitDate.Year" />
                                            </nhs-form-group>
                                        </nhs-date-input-item>
                                    </nhs-date-input>
                                </nhs-fieldset>
                            </nhs-form-group>
                        </validate-date>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input asp-for="ClinicalDetails.HomeVisitCarriedOut" id="home-visit-no" class="nhsuk-radios__input" type="radio" value="@Status.No">
                        <label class="nhsuk-label nhsuk-radios__label" for="home-visit-no">
                            No
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input asp-for="ClinicalDetails.HomeVisitCarriedOut" id="home-visit-unknown" class="nhsuk-radios__input" type="radio" value="@Status.Unknown">
                        <label class="nhsuk-label nhsuk-radios__label" for="home-visit-unknown">
                            Unknown
                        </label>
                    </div>
                </div>
            </nhs-fieldset>
        </nhs-form-group>

    <nhs-fieldset>
        <nhs-fieldset-legend nhs-legend-size="Standard">
            <h2> @Html.DisplayNameFor(m => m.ClinicalDetails.IsPostMortem) </h2>
        </nhs-fieldset-legend>
        <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="nhsuk-radios__item">
                <input asp-for="ClinicalDetails.IsPostMortem" id="postmortem-yes" class="nhsuk-radios__input" type="radio" value="true" data-aria-controls="conditional-postmortem-conditional">
                <label class="nhsuk-label nhsuk-radios__label" for="postmortem-yes">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-postmortem-conditional">
                <p class="nhsuk-label"> Please record the death outcome on the treatment events page </p>
                <button
                    nhs-button-type="Standard"
                    classes="ntbsuk-button--primary"
                    name="SaveAndRouteToTreatmentEvents"
                    value="SaveAndRouteToTreatmentEvents"
                    id="postmortem-save-button">
                    Save and go to treatment events
                </button>
            </div>
            <div class="nhsuk-radios__item">
                <input asp-for="ClinicalDetails.IsPostMortem" id="postmortem-no" class="nhsuk-radios__input" type="radio" value="false">
                <label class="nhsuk-label nhsuk-radios__label" for="postmortem-no">
                    No
                </label>
            </div>
        </div>
    </nhs-fieldset>
    </div>
</date-comparison>