@model ntbs_service.Pages.Notifications.Edit.ComorbiditiesModel
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

<h2>Immunosuppression</h2>

<div>
    <validate-immunosuppression inline-template>
        <nhs-fieldset tab-index="" aria-describedby="status-error">
            <nhs-fieldset-legend nhs-legend-size="Standard">
                Does the user have immunosuppression?
            </nhs-fieldset-legend>
            <div v-on:focusout="validate">
                <nhs-form-group nhs-form-group-type="Standard">
                    <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="nhsuk-radios__item">
                            <input ref="statusYes" asp-for="ImmunosuppressionStatus" id="immunosuppression-yes" class="nhsuk-radios__input" value="Yes" type="radio" data-aria-controls="conditional-radio">
                            <label class="nhsuk-label nhsuk-radios__label" for="immunosuppression-yes">
                                @Status.Yes
                            </label>
                        </div>

                        @{
                            var hasStatusError = !Model.IsValid("ImmunosuppressionDetails.Status");
                            var statusFormGroupType = hasStatusError ? Error : Standard;
                        }

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-radio">

                            <nhs-form-group ref="statusFormGroup" nhs-form-group-type="@statusFormGroupType" aria-describedby="status-error" id="ImmunosuppressionDetails-OtherDescription">
                                <nhs-fieldset aria-describedby="status-error" id="ImmunosuppressionDetails-Status">
                                    <nhs-fieldset-legend nhs-legend-size="Standard" classes="govuk-visually-hidden">
                                        Type of immunosuppression
                                    </nhs-fieldset-legend>
                                    <span ref="statusError" id="status-error" nhs-span-type="ErrorMessage"
                                          asp-validation-for="ImmunosuppressionDetails.Status" has-error="@hasStatusError"></span>
                                    <div class="nhsuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="nhsuk-checkboxes__item">
                                            <input ref="hasBioTherapy" nhs-input-type="Checkboxes" asp-for="HasBioTherapy" />
                                            <label nhs-label-type="Checkboxes" asp-for="HasBioTherapy">Biological Therapy</label>
                                        </div>
                                        <div class="nhsuk-checkboxes__item">
                                            <input ref="hasTransplantation" nhs-input-type="Checkboxes" asp-for="HasTransplantation" />
                                            <label nhs-label-type="Checkboxes" asp-for="HasTransplantation">Transplantation</label>
                                        </div>
                                        <div class="nhsuk-checkboxes__item">
                                            <input ref="hasOther" nhs-input-type="Checkboxes" asp-for="HasOther" data-aria-controls="conditional-other-description" />
                                            <label nhs-label-type="Checkboxes" asp-for="HasOther">Other</label>
                                        </div>

                                        @{
                                            var hasDescriptionError = !Model.IsValid("ImmunosuppressionDetails.OtherDescription");
                                            var descriptionFormGroupType = hasDescriptionError ? Error : Standard;
                                        }
                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-description">
                                            <nhs-form-group ref="descriptionFormGroup" nhs-form-group-type="@descriptionFormGroupType" aria-describedby="description-error">
                                                <label nhs-label-type="Standard" asp-for="OtherDescription">
                                                    Specify Details
                                                </label>
                                                <span ref="descriptionError" id="description-error" nhs-span-type="ErrorMessage"
                                                      asp-validation-for="ImmunosuppressionDetails.OtherDescription" has-error="@hasDescriptionError"></span>
                                                <input ref="otherDescription" asp-for="OtherDescription"
                                                       nhs-input-type="Standard" is-error-input="@hasDescriptionError" aria-describedby="description-error" />
                                            </nhs-form-group>
                                        </div>
                                    </div>
                                </nhs-fieldset>
                            </nhs-form-group>
                        </div>

                        <div class="nhsuk-radios__item">
                            <input ref="statusNo" asp-for="ImmunosuppressionStatus" id="immunosuppression-no" class="nhsuk-radios__input" value="No" type="radio">
                            <label class="nhsuk-label nhsuk-radios__label" for="immunosuppression-no">
                                @Status.No
                            </label>
                        </div>

                        <div class="nhsuk-radios__item">
                            <input ref="statusUnknown" asp-for="ImmunosuppressionStatus" id="immunosuppression-unknown" class="nhsuk-radios__input" value="Unknown" type="radio">
                            <label class="nhsuk-label nhsuk-radios__label" for="immunosuppression-unknown">
                                @Status.Unknown
                            </label>
                        </div>
                    </div>
                </nhs-form-group>
            </div>
        </nhs-fieldset>
    </validate-immunosuppression>


</div>