@model ntbs_service.Models.Entities.CultureAndResistance

@if (Model != null)
{
    <h2>Lab Results</h2>
    <div class="notification-lab-results-summary" id="lab-results-summary">
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Culture Positive </dt>
                <dd class="cell-min-height"> @Model.CulturePositive </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Species </dt>
                <dd class="cell-min-height"> @Model.Species </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Drug Resistance </dt>
                <dd class="cell-min-height"> @Model.DrugResistanceProfile </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Earliest Date </dt>
                <dd class="cell-min-height"> @Model.FormattedEarliestSpecimenDate </dd>
            </nhs-grid-column>            
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Isoniazid </dt>
                <dd class="cell-min-height"> @Model.Isoniazid </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Rifampicin </dt>
                <dd class="cell-min-height"> @Model.Rifampicin </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Pyrazinamide </dt>
                <dd class="cell-min-height"> @Model.Pyrazinamide </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Ethambutol </dt>
                <dd class="cell-min-height"> @Model.Ethambutol </dd>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Aminoglycocide </dt>
                <dd class="cell-min-height"> @Model.Aminoglycocide </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> Quinolone </dt>
                <dd class="cell-min-height"> @Model.Quinolone </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> MDR </dt>
                <dd class="cell-min-height"> @Model.MDR </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="notification-test-results-label"> XDR </dt>
                <dd class="cell-min-height"> @Model.XDR </dd>
            </nhs-grid-column>
        </nhs-grid-row>
    </div>
}