@page "/Notifications/{NotificationId:int}/Edit/ClinicalDetails/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.ClinicalDetailsModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    var title = NotificationSection.ClinicalDetails.ToDisplayString();
    ViewData["Title"] = $"Notification #{Model.NotificationId} - {title}";
    var fullValidation = Model.ClinicalDetails.ShouldValidateFull ? "True" : "False";
    ViewData["FullValidation"] = fullValidation;
}

<partial name="_SinglePageErrorSummaryPartial" />

<div>
    <input type="hidden" asp-for="PatientBirthYear" />

    <partial name="_ClinicalDetailsSites" />

    <partial name="_ClinicalDetailsOther"/>
    <br />

    <partial name="_ClinicalDetailsDates"/>
    <br />
    
    <partial name="_ClinicalDetailsTreatmentOptions"/>
    <br />
    
    <div>
        @{
            var hptError = !Model.IsValid("ClinicalDetails.HealthProtectionTeamReferenceNumber");
            var hptGroupState = hptError ? Error : Standard;
        }
        <validate-input model="ClinicalDetails" property="HealthProtectionTeamReferenceNumber" shouldvalidatefull="@fullValidation" inline-template>
            <nhs-form-group nhs-form-group-type=@hptGroupState aria-describedby="hpt-ref-text-error">
                <span nhs-span-type="ErrorMessage" ref="errorField" has-error="@hptError"
                      asp-validation-for="ClinicalDetails.HealthProtectionTeamReferenceNumber" id="hpt-ref-text-error">
                </span>
                <label nhs-label-type="Standard" asp-for="ClinicalDetails.HealthProtectionTeamReferenceNumber">
                    @Html.DisplayNameFor(model => model.ClinicalDetails.HealthProtectionTeamReferenceNumber)
                </label>
                <input ref="inputField" v-on:blur="validate" asp-for="ClinicalDetails.HealthProtectionTeamReferenceNumber"
                       is-error-input=@hptError nhs-input-type="Standard" fixed-width="Twenty">
            </nhs-form-group>
        </validate-input>
    </div>

    <h2>Notes</h2>
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
        @{
            var notesError = !Model.IsValid("ClinicalDetails.Notes");
            var notesGroupState = notesError ? Error : Standard;
        }
        <validate-input model="ClinicalDetails" property="Notes" shouldvalidatefull="@fullValidation" inline-template>
            <nhs-form-group nhs-form-group-type="@notesGroupState" id="ClinicalDetails-Notes">
                <label nhs-label-type="Standard" asp-for="ClinicalDetails.Notes" classes="govuk-visually-hidden"> Please enter any additional clinical details not captured above. </label>
                <span ref="errorField" id="notes-error" nhs-span-type="ErrorMessage" asp-validation-for="ClinicalDetails.Notes" has-error="@notesError"></span>
                <textarea ref="textAreaField" v-on:blur="validate" classes="nhsuk-input--width-30 govuk-textarea govuk-js-character-count"
                        asp-for="ClinicalDetails.Notes" id="notes" nhs-textarea-type="Standard"
                        rows="10" is-error-input="@notesError" aria-describedby="notes-error" maxlength="1000"></textarea>
            </nhs-form-group>
        </validate-input>
        <div id="notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 1000 characters
        </div>
    </div>
</div>
