@page "/Notifications/{id:int}/Edit/ClinicalDetails/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.ClinicalDetailsModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using ntbs_service.Models
@using ntbs_service.Models.Enums

@{
    Layout = "../../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Notification - Clinical Details";
    var fullValidation = Model.ClinicalDetails.ShouldValidateFull ? "True" : "False";
}

<!-- TODO: Split this into multiple partial pages for readability -->
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PatientBirthYear" />
    <h2>Sites of disease (required)</h2>
    @{
        var hasNotificationSitesError = !Model.IsValid("Notification.NotificationSites");
        var notificationSitesGroupState = hasNotificationSitesError ? Error : Standard;
    }

    <validate-required-checkboxes property="NotificationSites" shouldvalidatefull="@fullValidation" inline-template>
        <nhs-form-group v-on:change="validate" ref="checkboxgroup" nhs-form-group-type="@notificationSitesGroupState">
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard" classes="govuk-visually-hidden">
                    Sites of disease (required)
                </nhs-fieldset-legend>
                <span nhs-span-type="ErrorMessage" id="notification-sites-error" has-error="@hasNotificationSitesError"
                      ref="errorField" asp-validation-for="Notification.NotificationSites"></span>
                <nhs-checkboxes>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.PULMONARY]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.PULMONARY]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.PULMONARY).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <label nhs-label-type="Standard" style="margin-left: -40px">Extra-pulmonary</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
                <nhs-checkboxes style="margin-left: 52px">
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.BONE_SPINE]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.BONE_SPINE]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.BONE_SPINE).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.BONE_OTHER]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.BONE_OTHER]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.BONE_OTHER).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <label nhs-label-type="Standard" style="margin-left: -40px">CNS</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
                <nhs-checkboxes style="margin-left: 104px">
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.CNS_MENINGITIS]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.CNS_MENINGITIS]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.CNS_MENINGITIS).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.CNS_OTHER]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.CNS_OTHER]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.CNS_OTHER).Description</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
                <nhs-checkboxes style="margin-left: 52px">
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.CRYPTIC]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.CRYPTIC]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.CRYPTIC).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.GASTROINTESTINAL]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.GASTROINTESTINAL]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.GASTROINTESTINAL).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.GENITOURINARY]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.GENITOURINARY]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.GENITOURINARY).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <label nhs-label-type="Standard" style="margin-left: -40px">Lymph nodes</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
                <nhs-checkboxes style="margin-left: 104px">
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.LYMPH_INTRA]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.LYMPH_INTRA]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.LYMPH_INTRA).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.LYMPH_EXTRA]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.LYMPH_EXTRA]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.LYMPH_EXTRA).Description</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
                <nhs-checkboxes style="margin-left: 52px">
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.LARYNGEAL]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.LARYNGEAL]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.LARYNGEAL).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.MILIARY]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.MILIARY]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.MILIARY).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.OCULAR]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.OCULAR]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.OCULAR).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.PLEURAL]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.PLEURAL]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.PLEURAL).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.PERICARDIAL]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.PERICARDIAL]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.PERICARDIAL).Description</label>
                    </nhs-checkboxes-item>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.SKIN]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.SKIN]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.SKIN).Description</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
                <div class="nhsuk-checkboxes" style="margin-left: 52px; padding-top: 4px" data-module="govuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" asp-for="@Model.NotificationSiteMap[SiteId.OTHER]" data-aria-controls="conditional-other-conditional">
                        <label class="nhsil-label nhsuk-checkboxes__label" asp-for="@Model.NotificationSiteMap[SiteId.OTHER]">
                            @Model.Sites.Find(s => s.SiteId == (int)SiteId.OTHER).Description
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-conditional">
                        <validate-input model="NotificationSite" property="SiteDescription" shouldvalidatefull="@fullValidation" inline-template>
                            @{
                                var hasSiteDescriptionError = !Model.IsValid("OtherSite.SiteDescription");
                                var siteDescriptionGroupState = hasSiteDescriptionError ? Error : Standard;
                            }
                            <nhs-form-group nhs-form-group-type=@siteDescriptionGroupState aria-describedby="other-site-error">
                                <span nhs-span-type="ErrorMessage" ref="errorField" has-error="@hasSiteDescriptionError"
                                      asp-validation-for="OtherSite.SiteDescription" id="other-site-error"></span>
                                <label asp-for="OtherSite.SiteDescription" class="govuk-visually-hidden">
                                    Please enter a description of the site
                                </label>
                                <input type="hidden" asp-for="OtherSite.SiteId" />
                                <input ref="inputField" v-on:blur="validate" is-error-input=@hasSiteDescriptionError nhs-input-type="Standard"
                                       classes="nhsuk-input--width-10" asp-for="OtherSite.SiteDescription" type="text">
                            </nhs-form-group>
                        </validate-input>
                    </div>

                </div>
                <nhs-checkboxes>
                    <nhs-checkboxes-item>
                        <input nhs-input-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.UNKNOWN]" />
                        <label nhs-label-type="Checkboxes" asp-for="@Model.NotificationSiteMap[SiteId.UNKNOWN]">@Model.Sites.Find(s => s.SiteId == (int)SiteId.UNKNOWN).Description</label>
                    </nhs-checkboxes-item>
                </nhs-checkboxes>
            </nhs-fieldset>
        </nhs-form-group>
    </validate-required-checkboxes>

    <br />

    <h2>Sample Details (required)</h2>
    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard" classes="govuk-visually-hidden">
                Has sample been taken?
            </nhs-fieldset-legend>
            <nhs-checkboxes>
                <nhs-checkboxes-item>
                    <input nhs-input-type="Checkboxes" asp-for="ClinicalDetails.NoSampleTaken"/>
                    <label nhs-label-type="Checkboxes" asp-for="ClinicalDetails.NoSampleTaken">No sample taken</label>
                </nhs-checkboxes-item>
            </nhs-checkboxes>
        </nhs-fieldset>
    </nhs-form-group>
    <br />

    <h2>BCG Details</h2>
    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">BCG Vaccination</nhs-fieldset-legend>
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.BCGVaccinationState" id="bcg-vaccination-yes" class="nhsuk-radios__input" type="radio" value="@Status.Yes" data-aria-controls="conditional-bcg-vaccination-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="bcg-vaccination-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-bcg-vaccination-conditional">
                    <year-comparison model="ClinicalDetails" yeartocompare="@Model.PatientBirthYear" shouldvalidatefull="@fullValidation" inline-template>
                        @{
                            var hasBcgVaccinationError = !Model.IsValid("ClinicalDetails.BCGVaccinationYear");
                            var bcgVaccinationGroupState = hasBcgVaccinationError ? Error : Standard;
                        }
                        <nhs-form-group nhs-form-group-type=@bcgVaccinationGroupState aria-describedby="bcg-vaccination-error">
                            <label nhs-label-type="Standard" asp-for="ClinicalDetails.BCGVaccinationYear">Year of vaccination </label>
                            <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.BCGVaccinationYear"
                                  id="bcg-vaccination-error" has-error="@hasBcgVaccinationError"></span>
                            <input ref="inputField" nhs-input-type="Standard" v-on:blur="validate" fixed-width="Four"
                                   asp-for="ClinicalDetails.BCGVaccinationYear" type="number">
                        </nhs-form-group>
                    </year-comparison>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.BCGVaccinationState" id="bcg-vaccination-no" class="nhsuk-radios__input" type="radio" value="@Status.No">
                    <label class="nhsuk-label nhsuk-radios__label" for="bcg-vaccination-no">
                        No
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="ClinicalDetails.BCGVaccinationState" id="bcg-vaccination-unknown" class="nhsuk-radios__input" type="radio" value="@Status.Unknown">
                    <label class="nhsuk-label nhsuk-radios__label" for="bcg-vaccination-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>
    <br />

    <nhs-form-group nhs-form-group-type="Standard">
        <label nhs-label-type="Standard" asp-for="ClinicalDetails.HIVTestState">HIV test offered</label>
        <select nhs-select-type="Standard" asp-for="ClinicalDetails.HIVTestState" asp-items="@Html.GetEnumSelectList<HIVTestStatus>()">
            <option value="" selected> Choose an option </option>
        </select>
    </nhs-form-group>
    <br />

    <h2>Clinical Dates</h2>

    <date-comparison inline-template>
        <div>
            @* TODO: Implement this as non-javascript friendly *@
            <ul class="text-warning" id="date-warnings">
                <li v-for="warning in dateWarnings" v-if="warning">
                    <h4>{{ warning.message }}</h4>
                </li>
            </ul>

            <nhs-form-group nhs-form-group-type="Standard">
                <nhs-fieldset>
                    <nhs-fieldset-legend nhs-legend-size="Standard">Patient is symptomatic</nhs-fieldset-legend>
                    <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="nhsuk-radios__item">
                            <input ref="checkbox0" asp-for="ClinicalDetails.IsSymptomatic" id="symptomatic-yes" class="nhsuk-radios__input"
                                   type="radio" value="true" data-aria-controls="conditional-symptomatic-conditional" v-on:change="datechanged(0)">
                            <label class="nhsuk-label nhsuk-radios__label" for="symptomatic-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-symptomatic-conditional">
                            @{
                                var hasSymptomError = !Model.IsValid("ClinicalDetails.SymptomStartDate");
                                var symptomGroupState = hasSymptomError ? Error : Standard;
                            }
                            <validate-date ref="date0" name="Symptom Onset Date" model="ClinicalDetails" property="SymptomStartDate" rank="0" v-model="dates[0]" inline-template>
                                <nhs-form-group nhs-form-group-type=@symptomGroupState>
                                    <nhs-fieldset aria-describedby="symptom-error" role="group">
                                        <nhs-fieldset-legend nhs-legend-size="Standard" classes="govuk-visually-hidden">
                                            Symptom onset date
                                        </nhs-fieldset-legend>
                                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.SymptomStartDate"
                                              has-error="@hasSymptomError" id="symptom-error"></span>
                                        <nhs-date-input id="symptom">
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Day">Day</label>
                                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasSymptomError asp-for="FormattedSymptomDate.Day"/>
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Month">Month</label>
                                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasSymptomError asp-for="FormattedSymptomDate.Month"/>
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Year">Year</label>
                                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                           is-error-input=@hasSymptomError asp-for="FormattedSymptomDate.Year"/>
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                        </nhs-date-input>
                                    </nhs-fieldset>
                                </nhs-form-group>
                            </validate-date>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.IsSymptomatic" id="symptomatic-no" class="nhsuk-radios__input" type="radio" value="false" v-on:change="datechanged(0)">
                            <label class="nhsuk-label nhsuk-radios__label" for="symptomatic-no">
                                No
                            </label>
                        </div>
                    </div>
                </nhs-fieldset>
            </nhs-form-group>
            <br />

            <validate-date ref="date1" name="Presentation To Any Health Service Date" model="ClinicalDetails" property="FirstPresentationDate" rank="1" v-model="dates[1]" inline-template>
                @{
                    var hasPresentationAnyHealthServiceError = !Model.IsValid("ClinicalDetails.PresentationToAnyHealthServiceDate");
                    var presentationAnyHealthServiceGroupState = hasPresentationAnyHealthServiceError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@presentationAnyHealthServiceGroupState>
                    <nhs-fieldset aria-describedby="first-presentation-error" role="group">
                        <nhs-fieldset-legend nhs-legend-size="Standard">Presentation to any health service</nhs-fieldset-legend>
                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.FirstPresentationDate"
                              has-error="@hasPresentationAnyHealthServiceError" id="first-presentation-error"></span>
                        <nhs-date-input id="presentation-to-any-health-service">
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedFirstPresentationDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasPresentationAnyHealthServiceError asp-for="FormattedFirstPresentationDate.Day" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedFirstPresentationDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasPresentationAnyHealthServiceError asp-for="FormattedFirstPresentationDate.Month" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedFirstPresentationDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                           is-error-input=@hasPresentationAnyHealthServiceError asp-for="FormattedFirstPresentationDate.Year" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                        </nhs-date-input>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-date>
            <br />

            <validate-date ref="date2" name="Presentation To TB Service Date" model="ClinicalDetails" property="TBServicePresentationDate" rank="2" v-model="dates[2]" inline-template>
                @{
                    var hasPresentationTbServiceError = !Model.IsValid("ClinicalDetails.TBServicePresentationDate");
                    var presentationTbServiceGroupState = hasPresentationTbServiceError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@presentationTbServiceGroupState>
                    <nhs-fieldset aria-describedby="tb-service-presentation-error" role="group">
                        <nhs-fieldset-legend nhs-legend-size="Standard">Presentation to TB service</nhs-fieldset-legend>
                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.TBServicePresentationDate"
                              has-error="@hasPresentationTbServiceError" id="tb-service-presentation-error"></span>
                        <nhs-date-input id="presentation-to-TB-service">
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedTbServicePresentationDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasPresentationTbServiceError asp-for="FormattedTbServicePresentationDate.Day" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedTbServicePresentationDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasPresentationTbServiceError asp-for="FormattedTbServicePresentationDate.Month" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedTbServicePresentationDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                           is-error-input=@hasPresentationTbServiceError asp-for="FormattedTbServicePresentationDate.Year" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                        </nhs-date-input>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-date>
            <br />

            <validate-date ref="date3" name="Diagnosis Date" model="ClinicalDetails" property="DiagnosisDate" rank="3" v-model="dates[3]" inline-template>
                @{
                    var hasDiagnosisError = !Model.IsValid("ClinicalDetails.DiagnosisDate");
                    var diagnosisGroupState = hasDiagnosisError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@diagnosisGroupState>
                    <nhs-fieldset aria-describedby="diagnosis-error" role="group">
                        <nhs-fieldset-legend nhs-legend-size="Standard">
                            Diagnosis Date (required)
                        </nhs-fieldset-legend>
                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.DiagnosisDate"
                              has-error="@hasDiagnosisError" id="diagnosis-error"></span>
                        <nhs-date-input id="diagnosis">
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasDiagnosisError asp-for="FormattedDiagnosisDate.Day" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasDiagnosisError asp-for="FormattedDiagnosisDate.Month" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                           is-error-input=@hasDiagnosisError asp-for="FormattedDiagnosisDate.Year" />
                                </nhs-form-group>
                            </nhs-date-input-item>
                        </nhs-date-input>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-date>
            <br />

            <nhs-form-group nhs-form-group-type="Standard">
                <nhs-fieldset>
                    <nhs-fieldset-legend nhs-legend-size="Standard">Patient started treatment</nhs-fieldset-legend>
                    <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.DidNotStartTreatment" id="treatment-yes" class="nhsuk-radios__input" type="radio" value="false" data-aria-controls="conditional-treatment-conditional">
                            <label class="nhsuk-label nhsuk-radios__label" for="treatment-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-treatment-conditional">
                            @{
                                var hasTreatmentError = !Model.IsValid("ClinicalDetails.TreatmentStartDate");
                                var treatmentGroupState = hasTreatmentError ? Error : Standard;
                            }
                            <validate-date ref="date4" name="Treatment Start Date" model="ClinicalDetails" property="TreatmentStartDate" rank="4" v-model="dates[4]" inline-template>
                                <nhs-form-group nhs-form-group-type=@treatmentGroupState>
                                    <nhs-fieldset aria-describedby="treatment-error" role="group">
                                        <nhs-fieldset-legend nhs-legend-size="Standard" classes="govuk-visually-hidden">
                                            Treatment start date
                                        </nhs-fieldset-legend>
                                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.TreatmentStartDate"
                                              has-error="@hasTreatmentError" id="treatment-error"></span>
                                        <nhs-date-input id="treatment">
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedTreatmentDate.Day">Day</label>
                                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasTreatmentError asp-for="FormattedTreatmentDate.Day"/>
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedTreatmentDate.Month">Month</label>
                                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasTreatmentError asp-for="FormattedTreatmentDate.Month"/>
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedTreatmentDate.Year">Year</label>
                                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                           is-error-input=@hasTreatmentError asp-for="FormattedTreatmentDate.Year"/>
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                        </nhs-date-input>
                                    </nhs-fieldset>
                                </nhs-form-group>
                            </validate-date>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.DidNotStartTreatment" id="treatment-no" class="nhsuk-radios__input" type="radio" value="true">
                            <label class="nhsuk-label nhsuk-radios__label" for="treatment-no">
                                No
                            </label>
                        </div>
                    </div>
                </nhs-fieldset>
            </nhs-form-group>
            <br />

            <h2>Post Mortem Diagnosis</h2>
            <nhs-form-group nhs-form-group-type="Standard">
                <nhs-fieldset>
                    <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.IsPostMortem" id="postmortem-yes" class="nhsuk-radios__input" type="radio" value="true" data-aria-controls="conditional-postmortem-conditional">
                            <label class="nhsuk-label nhsuk-radios__label" for="postmortem-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-postmortem-conditional">
                            @{
                                var hasDeathDateError = !Model.IsValid("ClinicalDetails.DeathDate");
                                var deathDateGroupState = hasDeathDateError ? Error : Standard;
                            }
                            <validate-date ref="date5" name="Death Date" model="ClinicalDetails" property="DeathDate" rank="5" v-model="dates[5]" inline-template>
                                <nhs-form-group nhs-form-group-type=@deathDateGroupState>
                                    <nhs-fieldset aria-describedby="postmortem-error" role="group">
                                        <nhs-fieldset-legend nhs-legend-size="Standard">Date of Death</nhs-fieldset-legend>
                                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.DeathDate"
                                              has-error="@hasDeathDateError" id="postmortem-error"></span>
                                        <nhs-date-input id="postmortem">
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDeathDate.Day">Day</label>
                                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasDeathDateError asp-for="FormattedDeathDate.Day" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDeathDate.Month">Month</label>
                                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasDeathDateError asp-for="FormattedDeathDate.Month" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDeathDate.Year">Year</label>
                                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                           is-error-input=@hasDeathDateError asp-for="FormattedDeathDate.Year" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                        </nhs-date-input>
                                    </nhs-fieldset>
                                </nhs-form-group>
                            </validate-date>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.IsPostMortem" id="postmortem-no" class="nhsuk-radios__input" type="radio" value="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="postmortem-no">
                                No
                            </label>
                        </div>
                    </div>
                </nhs-fieldset>
            </nhs-form-group>
        </div>
    </date-comparison>
    <br />

    <h2>Treatment Options</h2>
    <validate-multiple model="ClinicalDetails" :properties="['IsShortCourseTreatment', 'IsMDRTreatment']" inline-template>
        <div>
            @{
                var hasShortCourseError = !Model.IsValid("ClinicalDetails.IsShortCourseTreatment");
                var shortCourseGroupState = hasShortCourseError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type="@shortCourseGroupState" v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                <nhs-fieldset>
                    <nhs-fieldset-legend nhs-legend-size="Standard">Has started standard therapy?</nhs-fieldset-legend>
                    <span ref="errorField[0]" nhs-span-type="ErrorMessage" asp-validation-for="ClinicalDetails.IsShortCourseTreatment"
                          has-error="@hasShortCourseError" id="short-course-error"></span>
                    <nhs-radios nhs-radios-type="Standard">
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.IsShortCourseTreatment" id="short-course-yes" type="radio" value="true" ref="input[0]" v-on:change="validate" />
                            <label nhs-label-type="Radios" for="short-course-yes">Yes</label>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.IsShortCourseTreatment" id="short-course-no" type="radio" value="false" v-on:change="validate" />
                            <label nhs-label-type="Radios" for="short-course-no">No</label>
                        </nhs-radios-item>
                    </nhs-radios>
                </nhs-fieldset>
            </nhs-form-group>

            <nhs-form-group nhs-form-group-type="Standard">
                <nhs-fieldset>
                    <nhs-fieldset-legend nhs-legend-size="Standard">Directly observed treatment? (including VOT)</nhs-fieldset-legend>
                    <nhs-radios nhs-radios-type="Standard">
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.DotStatus" id="dot-yes" type="radio" value="Yes" />
                            <label nhs-label-type="Radios" for="dot-yes">Yes</label>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.DotStatus" id="dot-no" type="radio" value="No" />
                            <label nhs-label-type="Radios" for="dot-no">No</label>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.DotStatus" id="dot-unknown" type="radio" value="Unknown">
                            <label nhs-label-type="Radios" for="dot-unknown"> Unknown </label>
                        </nhs-radios-item>
                    </nhs-radios>
                </nhs-fieldset>
            </nhs-form-group>

            <nhs-form-group nhs-form-group-type="Standard">
                <nhs-fieldset>
                    <nhs-fieldset-legend nhs-legend-size="Standard">Enhanced Case Management?</nhs-fieldset-legend>
                    <nhs-radios nhs-radios-type="Standard">
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.EnhancedCaseManagementStatus" id="enhanced-case-management-yes" type="radio" value="Yes" />
                            <label nhs-label-type="Radios" for="enhanced-case-management-yes">Yes</label>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.EnhancedCaseManagementStatus" id="enhanced-case-management-no" type="radio" value="No" />
                            <label nhs-label-type="Radios" for="enhanced-case-management-no">No</label>
                        </nhs-radios-item>
                        <nhs-radios-item>
                            <input nhs-input-type="Radios" asp-for="ClinicalDetails.EnhancedCaseManagementStatus" id="enhanced-case-management-unknown" type="radio" value="Unknown">
                            <label nhs-label-type="Radios" for="enhanced-case-management-unknown"> Unknown </label>
                        </nhs-radios-item>
                    </nhs-radios>
                </nhs-fieldset>
            </nhs-form-group>

            @{
                var hasMdrError = !Model.IsValid("ClinicalDetails.IsMDRTreatment");
                var mdrGroupState = hasMdrError ? Error : Standard;
            }
            <nhs-form-group nhs-form-group-type="@mdrGroupState" v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                <nhs-fieldset>
                    <nhs-fieldset-legend nhs-legend-size="Standard">RR/MDR/XDR Treatment Planned?</nhs-fieldset-legend>
                    <span ref="errorField[1]" nhs-span-type="ErrorMessage" asp-validation-for="ClinicalDetails.IsMDRTreatment" 
                          has-error="@hasMdrError" id="mdr-error"></span>
                    <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.IsMDRTreatment" id="mdr-yes" class="nhsuk-radios__input" type="radio" value="true" data-aria-controls="conditional-mdr-conditional" ref="input[1]" v-on:change="validate">
                            <label class="nhsuk-label nhsuk-radios__label" for="mdr-yes">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mdr-conditional">
                            <validate-date model="ClinicalDetails" property="MDRTreatmentStartDate" inline-template>
                                @{
                                    var hasMdrTreatmentDateError = !Model.IsValid("ClinicalDetails.MDRTreatmentStartDate");
                                    var mdrTreatmentGroupState = hasMdrTreatmentDateError ? Error : Standard;
                                }
                                <nhs-form-group nhs-form-group-type=@mdrTreatmentGroupState>
                                    <nhs-fieldset aria-describedby="mdr-treatment-date-error" role="group">
                                        <nhs-fieldset-legend nhs-legend-size="Standard">Treatment date</nhs-fieldset-legend>
                                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalDetails.MDRTreatmentStartDate"
                                              has-error="@hasMdrTreatmentDateError" id="mdr-treatment-date-error"></span>
                                        <nhs-date-input id="mdr-treatment-date">
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Day">Day</label>
                                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Day" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Month">Month</label>
                                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                                           is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Month" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Year">Year</label>
                                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                                           is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Year" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                        </nhs-date-input>
                                    </nhs-fieldset>
                                </nhs-form-group>
                            </validate-date>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input asp-for="ClinicalDetails.IsMDRTreatment" id="mdr-no" class="nhsuk-radios__input" type="radio" value="false" v-on:change="validate">
                            <label class="nhsuk-label nhsuk-radios__label" for="mdr-no">
                                No
                            </label>
                        </div>
                    </div>
                </nhs-fieldset>
            </nhs-form-group>
        </div>
    </validate-multiple>

    <partial name="_PaginationPartial" for="Notification" />
</div>
