@page "{handler?}"
@model ntbs_service.Pages.Notifications.Edit.EpisodeModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using NHSUK.FrontEndLibrary.TagHelpers

@{
    Layout = "../../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Notification - Hospital Details";
    var fullValidation = Model.Episode.ShouldValidateFull ? "True" : "False";
}

<h2>
    Hospital details
</h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <cascading-dropdowns model="Episode" shouldvalidatefull="@fullValidation" inline-template>
        <div>
            @{
                var TBServiceCodeError = !Model.IsValid("Episode.TBServiceCode");
                var TBServiceCodeGroupState = TBServiceCodeError ? Error : Standard;
                var TBServiceCodeSelectErrorState = TBServiceCodeError ? SelectType.Error : SelectType.Standard;
            }
            <nhs-form-group ref="formGroupTBServiceCode" nhs-form-group-type=@TBServiceCodeGroupState>
                <label nhs-label-type="Standard" asp-for="Episode.TBServiceCode">
                    Notifying TB service (required)
                </label>
                <span class="nhsuk-error-message" id="tb-service-error"
                      ref="errorFieldTBServiceCode" asp-validation-for="Episode.TBServiceCode"></span>
                <select ref="selectFieldTBServiceCode" nhs-select-type="@TBServiceCodeSelectErrorState" asp-for="Episode.TBServiceCode"
                        asp-items="Model.TBServices" v-on:change="function (ev) {fetchHospitalList(ev); validate('TBServiceCode')(ev);}">
                    <option value="" selected>Select TB Service</option>
                </select>
            </nhs-form-group>
            <br />
            @{
                var HospitalError = !Model.IsValid("Episode.HospitalId");
                var HospitalGroupState = HospitalError ? Error : Standard;
                var HospitalSelectErrorState = HospitalError ? SelectType.Error : SelectType.Standard;
            }
            <nhs-form-group ref="formGroupHospitalId" nhs-form-group-type=@HospitalGroupState>
                <label nhs-label-type="Standard" asp-for="Episode.HospitalId">
                    Hospital (required)
                </label>
                <span class="nhsuk-error-message" id="hospital-error"
                      ref="errorFieldHospitalId" asp-validation-for="Episode.HospitalId"></span>
                <select ref="selectFieldHospitalId" nhs-select-type="@HospitalSelectErrorState" asp-for="Episode.HospitalId"
                        asp-items="Model.Hospitals" v-on:change="function(ev) { validate('HospitalId')(ev); }">
                    <option value="" selected>Select Hospital</option>
                </select>
            </nhs-form-group>
            <br />
        </div>
    </cascading-dropdowns>

    <validate-input model="Episode" property="Consultant" inline-template>
        @{
            var ConsultantError = !Model.IsValid("Episode.Consultant");
            var ConsultantGroupState = ConsultantError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@ConsultantGroupState>
            <label nhs-label-type="Standard" asp-for="Episode.Consultant">Add details of consultant</label>
            <span ref="errorField" nhs-span-type="ErrorMessage" id="consultant-error" asp-validation-for="Episode.Consultant"></span>
            <input v-on:blur="validate" is-error-input=@ConsultantError nhs-input-type="Standard" aria-describedby="consultant-error"
                   asp-for="Episode.Consultant" classes="nhsuk-input--width-10" />
        </nhs-form-group>
    </validate-input>

    <validate-input model="Episode" property="CaseManager" inline-template>
        @{
            var CaseManagerError = !Model.IsValid("Episode.CaseManager");
            var CaseManagerGroupState = CaseManagerError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@CaseManagerGroupState>
            <label nhs-label-type="Standard" asp-for="Episode.CaseManager">Add details of case manager</label>
            <span ref="errorField" nhs-span-type="ErrorMessage" id="case-manager-error" asp-validation-for="Episode.CaseManager"></span>
            <input v-on:blur="validate" is-error-input=@CaseManagerError nhs-input-type="Standard" aria-describedby="case-manager-error"
                   asp-for="Episode.CaseManager" classes="nhsuk-input--width-10" />
        </nhs-form-group>
    </validate-input>
    <br />

    <h2>Notification Date (required)</h2>
    <validate-date model="Notification" property="NotificationDate" notification_id="@Model.Notification.NotificationId" inline-template>
        @{
            var notificationDateError = !Model.IsValid("Notification.NotificationDate");
            var notificationDateGroupState = notificationDateError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@notificationDateGroupState>
            <nhs-fieldset aria-describedby="notification-date-error" role="group">
                <span nhs-span-type="ErrorMessage" ref="errorField"
                        id="notification-date-error" asp-validation-for="Notification.NotificationDate" has-error="@notificationDateError"></span>
                <nhs-date-input id="notification-date">
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="FormattedNotificationDate.Day">Day</label>
                            <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                   is-error-input=@notificationDateError asp-for="FormattedNotificationDate.Day" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="FormattedNotificationDate.Month">Month</label>
                            <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                   is-error-input=@notificationDateError asp-for="FormattedNotificationDate.Month" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="FormattedNotificationDate.Year">Year</label>
                            <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                   is-error-input=@notificationDateError asp-for="FormattedNotificationDate.Year" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                </nhs-date-input>
            </nhs-fieldset>
        </nhs-form-group>
    </validate-date>
    <br />

    
    <partial name="_PaginationPartial" for="Notification" />
</div>
