@page "/Notifications/{NotificationId:int}/Edit/MBovis/OccupationExposures/{handler?}"
@using ntbs_service.Models
@using ntbs_service.Models.Entities
@using ntbs_service.Models.Enums
@model ntbs_service.Pages.Notifications.Edit.MBovisOccupationExposuresModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    var title = NotificationSection.MBovisOccupation.ToDisplayString();
    ViewData["Title"] = $"Notification #{Model.NotificationId} - {title}";
    var fullValidation = Model.MBovisDetails.ShouldValidateFull ? "True" : "False";
}

<partial name="_SinglePageErrorSummaryPartial"/>

<h2> @title </h2>

<div>

    <hide-section-if-not-true inline-template>
        <div>
            <validate-input
                model="@nameof(MBovisDetails)"
                property="@nameof(MBovisDetails.OccupationExposureStatus)"
                shouldvalidatefull="@fullValidation"
                v-on:valid="hideOrShowSection"
                v-on:mounted="hideOrShowSection"
                ref="inner-validate"
                inline-template>
                @{
                    var hasOccupationExposureError = !Model.IsValid($"{nameof(MBovisDetails)}.{nameof(MBovisDetails.OccupationExposureStatus)}");
                    var hasOccupationExposureGroupState = hasOccupationExposureError ? Error : Standard;
                    var hasOccupationExposuresValues = Model.MBovisDetails.OccupationExposureStatus == Status.Yes && Model.MBovisDetails.MBovisOccupationExposures.Any();
                    var hasOccupationExposureDisabledText = hasOccupationExposuresValues ? "Cannot modify value when records are logged against notification" : string.Empty;
                }

                <nhs-form-group nhs-form-group-type="@hasOccupationExposureGroupState" id="MBovisDetails-HasOccupationExposure">
                    <nhs-fieldset aria-describedby="has-occupation-exposure-error@(hasOccupationExposuresValues ? " has-occupation-exposure-disabled" : string.Empty)" title="@hasOccupationExposureDisabledText">
                        <nhs-fieldset-legend nhs-legend-size="Standard">
                            @Html.DisplayNameFor(m => m.MBovisDetails.OccupationExposureStatus)
                        </nhs-fieldset-legend>
                        @if (hasOccupationExposuresValues)
                        {
                            <span id="has-occupation-exposure-disabled" class="govuk-visually-hidden">@hasOccupationExposureDisabledText</span>
                            <input type="hidden" asp-for="MBovisDetails.OccupationExposureStatus"/>
                        }
                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="MBovisDetails.OccupationExposureStatus" has-error="@hasOccupationExposureError" id="has-occupation-exposure-error"></span>
                        <nhs-radios nhs-radios-type="Standard" v-on:change="validate">
                            <nhs-radios-item>
                                <input nhs-input-type="Radios" asp-for="MBovisDetails.OccupationExposureStatus" id="has-exposure-yes" ref="conditional-true" type="radio" value="@Status.Yes" disabled="@hasOccupationExposuresValues"/>
                                <label nhs-label-type="Radios" for="has-exposure-yes">Yes</label>
                            </nhs-radios-item>
                            <nhs-radios-item>
                                <input nhs-input-type="Radios" asp-for="MBovisDetails.OccupationExposureStatus" id="has-exposure-no" type="radio" value="@Status.No" disabled="@hasOccupationExposuresValues"/>
                                <label nhs-label-type="Radios" for="has-exposure-no">No</label>
                            </nhs-radios-item>
                            <nhs-radios-item>
                                <input nhs-input-type="Radios" asp-for="MBovisDetails.OccupationExposureStatus" id="has-exposure-unknown" type="radio" value="@Status.Unknown" disabled="@hasOccupationExposuresValues"/>
                                <label nhs-label-type="Radios" for="has-exposure-unknown">Unknown</label>
                            </nhs-radios-item>
                        </nhs-radios>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-input>

            <div ref="conditional-section">
                @{
                    ViewData["ShowMBovisOccupationExposureEditLinks"] = true;
                }
                <partial name="Shared/_MBovisOccupationExposureTable" for="Notification.MBovisDetails.MBovisOccupationExposures"/>

                <button id="add-new-button"
                        nhs-button-type="Standard"
                        classes="ntbsuk-button--primary"
                        name="actionName"
                        value="@ActionNameString.Create">
                    Add New
                </button>
            </div>
        </div>
    </hide-section-if-not-true>
</div>