@page "/Notifications/{notificationId:int}/Edit/MDRDetails/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.MDRDetailsModel
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    var title = NotificationSection.MdrDetails.ToDisplayString();
    ViewData["Title"] = $"Notification #{Model.NotificationId} - {title}";
    var fullValidation = Model.MDRDetails.ShouldValidateFull ? "True" : "False";
}

<partial name="_SinglePageErrorSummaryPartial"/>

<h2> @title </h2>

<div>
    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>   
            <validate-date model="MDRDetails" property="MDRTreatmentStartDate" inline-template>
                @{
                    var hasMdrTreatmentDateError = !Model.IsValid("MDRDetails.MDRTreatmentStartDate");
                    var mdrTreatmentDateState = hasMdrTreatmentDateError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@mdrTreatmentDateState id="MDRDetails-MDRTreatmentStartDate">
                    <nhs-fieldset aria-describedby="mdr-treatment-date-error" role="group">
                        <nhs-fieldset-legend nhs-legend-size="Standard">MDR treatment start date</nhs-fieldset-legend>
                        <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="MDRDetails.MDRTreatmentStartDate"
                              has-error="@hasMdrTreatmentDateError" id="mdr-treatment-date-error"></span>
                        <nhs-date-input id="mdr-treatment-date">
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Day"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                           is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Month"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                            <nhs-date-input-item>
                                <nhs-form-group nhs-form-group-type="Standard">
                                    <label nhs-label-type="Date" asp-for="FormattedMdrTreatmentDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                           is-error-input=@hasMdrTreatmentDateError asp-for="FormattedMdrTreatmentDate.Year"/>
                                </nhs-form-group>
                            </nhs-date-input-item>
                        </nhs-date-input>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-date>

            <validate-input model="MDRDetails" property="ExpectedTreatmentDurationInMonths" inline-template>
                @{
                    var hasMdrExpectedDurationError = !Model.IsValid("MDRDetails.ExpectedTreatmentDurationInMonths");
                    var mdrExpectedDurationState = hasMdrExpectedDurationError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@mdrExpectedDurationState id="MDRDetails-ExpectedTreatmentDurationInMonths">
                    <span nhs-span-type="ErrorMessage" asp-validation-for="MDRDetails.ExpectedTreatmentDurationInMonths"
                          has-error="@hasMdrExpectedDurationError" ref="errorField" id="expected-treatment-duration-error">
                    </span>
                    <label asp-for="MDRDetails.ExpectedTreatmentDurationInMonths" nhs-label-type="Standard">
                        Expected treatment duration in months
                    </label>
                    <input nhs-input-type="Standard" asp-for="MDRDetails.ExpectedTreatmentDurationInMonths" is-error-input="@hasMdrExpectedDurationError"
                           v-on:blur="validate" ref="inputField" fixed-width="Five" aria-describedby="expected-treatment-duration-error"/>
                </nhs-form-group>
            </validate-input>
        </nhs-fieldset> <br/>
        
        <nhs-fieldset> 
        <nhs-fieldset-legend nhs-legend-size="Standard">@Html.DisplayNameFor(model => model.MDRDetails.ExposureToKnownCaseStatus)</nhs-fieldset-legend>
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="MDRDetails.ExposureToKnownCaseStatus" id="exposure-yes" class="nhsuk-radios__input" type="radio"
                           value="@Status.Yes" data-aria-controls="conditional-exposure-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="exposure-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-exposure-conditional">
                    @{
                        var countryConditionalValues = Json.Serialize(Model.RenderConditionalCountryFieldIds);
                        var countryConditionFunctionString = $"function(value) {{ return value && {countryConditionalValues}.indexOf(value) !== -1 }}";
                    }
                    <validate-input model="MDRDetails" property="RelationshipToCase" shouldvalidatefull="@fullValidation" inline-template>
                        @{
                            var hasRelationshipDescriptionError = !Model.IsValid("MDRDetails.RelationshipToCase");
                            var relationshipDescriptionGroupState = hasRelationshipDescriptionError ? Error : Standard;
                        }
                        <nhs-form-group nhs-form-group-type="@relationshipDescriptionGroupState" aria-describedby="relationship-description-error"
                                        id="MDRDetails-RelationshipToCase">
                            <span nhs-span-type="ErrorMessage" ref="errorField" has-error="@hasRelationshipDescriptionError"
                                  asp-validation-for="MDRDetails.RelationshipToCase" id="relationship-description-error">
                            </span>
                            <label nhs-label-type="Standard" asp-for="MDRDetails.RelationshipToCase">
                                @Html.DisplayNameFor(model => model.MDRDetails.RelationshipToCase)
                            </label>
                            <input ref="inputField" v-on:blur="validate" is-error-input="@hasRelationshipDescriptionError" nhs-input-type="Standard"
                                   fixed-width="Ten" asp-for="MDRDetails.RelationshipToCase" type="text">
                        </nhs-form-group>
                    </validate-input>
                    <br/>

                    <conditional-select-wrapper :value-condition-function='@countryConditionFunctionString' inline-template>
                        <nhs-fieldset>
                            <nhs-fieldset-legend nhs-legend-size="Standard">
                                @Html.DisplayNameFor(x => x.MDRDetails.CountryId)
                            </nhs-fieldset-legend>
                            @{
                                var hasCountryError = !Model.IsValid("MDRDetails.CountryId");
                                var countryGroupState = hasCountryError ? Error : Standard;
                                var countrySelectErrorClass = hasCountryError ? "nhsuk-select--error" : "";
                            }
                            <validate-input model="MDRDetails" property="CountryId" shouldvalidatefull="@fullValidation"
                                            v-on:validate="handleChange" v-on:mounted="innerValidateMounted" ref="inner-validate" inline-template>
                                <nhs-form-group nhs-form-group-type="@countryGroupState" id="MDRDetails-CountryId" aria-describedby="exposure-country-error">
                                    <label nhs-label-type="Standard" asp-for="MDRDetails.CountryId" classes="govuk-visually-hidden">
                                        @Html.DisplayNameFor(x => x.MDRDetails.CountryId)
                                    </label>
                                    <span nhs-span-type="ErrorMessage" id="exposure-country-error"
                                          ref="errorField" asp-validation-for="MDRDetails.CountryId" has-error="@hasCountryError">
                                    </span>
                                    <div ref="selectField" data-aria-controls="notified-to-phe-conditional" class=@countrySelectErrorClass>
                                        <autocomplete-select v-on:input-changed="validate" placeholder="Select Country" emit-change-on="blur" inline-template>
                                            <select asp-for="MDRDetails.CountryId" asp-items="Model.Countries" ref="selectField">
                                                <option value=""></option>
                                            </select>
                                        </autocomplete-select>
                                    </div>
                                </nhs-form-group>
                            </validate-input>

                            <div ref="conditional-control" id="notified-to-phe-conditional" class="govuk-radios__conditional">
                                @{
                                    var pheNotifiedError = !Model.IsValid("MDRDetails.NotifiedToPheStatus");
                                    var pheNotifiedGroupState = pheNotifiedError ? Error : Standard;
                                }
                                <validate-input model="MDRDetails" property="NotifiedToPheStatus" inline-template>
                                    <nhs-form-group nhs-form-group-type="@pheNotifiedGroupState" ref="formGroup">
                                        <nhs-fieldset aria-describedby="notified-to-phe-error">
                                            <nhs-fieldset-legend nhs-legend-size="Standard">
                                                @Html.DisplayNameFor(x => x.MDRDetails.NotifiedToPheStatus)
                                            </nhs-fieldset-legend>
                                            <span nhs-span-type="ErrorMessage" id="notified-to-phe-error"
                                                  ref="errorField" asp-validation-for="MDRDetails.NotifiedToPheStatus" has-error="@pheNotifiedError">
                                            </span>
                                            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios" v-on:change="validate">
                                                <div class="nhsuk-radios__item">
                                                    <input asp-for="MDRDetails.NotifiedToPheStatus" id="notified-yes" class="nhsuk-radios__input" type="radio" value="@Status.Yes" data-aria-controls="conditional-related-notification">
                                                    <label class="nhsuk-label nhsuk-radios__label" for="notified-yes">
                                                        Yes
                                                    </label>
                                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-related-notification">
                                                        @{
                                                            var hasRelatedNotificationError = !Model.IsValid("MDRDetails.RelatedNotificationId");
                                                            var relatedNotificationGroupState = hasRelatedNotificationError ? Error : Standard;
                                                        }
                                                        <validate-related-notification allow-draft="true" allow-legacy-notifications="true" inline-template>
                                                            <nhs-form-group
                                                                id="@($"{nameof(Model.MDRDetails.RelatedNotificationId)}")"
                                                                nhs-form-group-type="@relatedNotificationGroupState"
                                                                aria-describedby="related-notification-error">
                                                                <label nhs-label-type="Standard" asp-for="MDRDetails.RelatedNotificationId">
                                                                    @Html.DisplayNameFor(m => m.MDRDetails.RelatedNotificationId)
                                                                </label>
                                                                <span
                                                                    id="related-notification-error"
                                                                    nhs-span-type="ErrorMessage"
                                                                    ref="errorField"
                                                                    has-error="@hasRelatedNotificationError"
                                                                    asp-validation-for="MDRDetails.RelatedNotificationId">
                                                                </span>
                                                                <input
                                                                    nhs-input-type="Standard"
                                                                    ref="inputField"
                                                                    v-on:blur="validate"
                                                                    is-error-input="@hasRelatedNotificationError"
                                                                    fixed-width="Ten"
                                                                    asp-for="MDRDetails.RelatedNotificationId">
                                                                <notification-info v-if="isValid" v-bind:notification-info="relatedNotification"></notification-info>
                                                                <notification-warning v-if="hasWarningMessage" v-bind:warning-message="warningMessage"></notification-warning>
                                                            </nhs-form-group>
                                                        </validate-related-notification>
                                                    </div>
                                                </div>
                                                <div class="nhsuk-radios__item">
                                                    <input asp-for="MDRDetails.NotifiedToPheStatus" id="notified-no" class="nhsuk-radios__input" type="radio" value="@Status.No">
                                                    <label class="nhsuk-label nhsuk-radios__label" for="notified-no">
                                                        No
                                                    </label>
                                                </div>
                                                <div class="nhsuk-radios__item">
                                                    <input asp-for="MDRDetails.NotifiedToPheStatus" id="notified-unknown" class="nhsuk-radios__input" type="radio" value="@Status.Unknown">
                                                    <label class="nhsuk-label nhsuk-radios__label" for="notified-unknown">
                                                        Unknown
                                                    </label>
                                                </div>
                                            </div>
                                        </nhs-fieldset>
                                    </nhs-form-group>
                                </validate-input>
                            </div>
                        </nhs-fieldset>
                    </conditional-select-wrapper>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="MDRDetails.ExposureToKnownCaseStatus" id="exposure-no" class="nhsuk-radios__input" type="radio" value="@Status.No">
                    <label class="nhsuk-label nhsuk-radios__label" for="exposure-no">
                        No
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="MDRDetails.ExposureToKnownCaseStatus" id="exposure-unknown" class="nhsuk-radios__input" type="radio" value="@Status.Unknown">
                    <label class="nhsuk-label nhsuk-radios__label" for="exposure-unknown">
                        Unknown
                    </label>
                </div>
            </div> <br/>
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard">@Html.DisplayNameFor(x => x.MDRDetails.DiscussedAtMDRForum)</nhs-fieldset-legend>
                <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="nhsuk-radios__item">
                        <input asp-for="MDRDetails.DiscussedAtMDRForum" id="discussed-at-forum-yes" class="nhsuk-radios__input" type="radio" value="@Status.Yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="discussed-at-forum-yes">
                            Yes
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input asp-for="MDRDetails.DiscussedAtMDRForum" id="discussed-at-forum-no" class="nhsuk-radios__input" type="radio" value="@Status.No">
                        <label class="nhsuk-label nhsuk-radios__label" for="discussed-at-forum-no">
                            No
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input asp-for="MDRDetails.DiscussedAtMDRForum" id="discussed-at-forum-unknown" class="nhsuk-radios__input" type="radio" value="@Status.Unknown">
                        <label class="nhsuk-label nhsuk-radios__label" for="discussed-at-forum-unknown">
                            Unknown
                        </label>
                    </div>
                </div>
            </nhs-fieldset>
        </nhs-fieldset>
    </nhs-form-group>
</div>
