@page "/Notifications/{id:int}/Edit/Patient/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.PatientModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using NHSUK.FrontEndLibrary.TagHelpers

@{
    Layout = "../../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Notification - Personal Details";
    var fullValidation = Model.Patient.ShouldValidateFull ? "True" : "False";
}

<h2>Personal details</h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <validate-input model="Patient" property="GivenName" shouldvalidatefull="@fullValidation" inline-template>
        @{
            var hasGivenNameError = !Model.IsValid("Patient.GivenName");
            var givenNameGroupState = hasGivenNameError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@givenNameGroupState>
            <label nhs-label-type="Standard" asp-for="Patient.GivenName">
                Given name (required)
            </label>
            <span ref="errorField" nhs-span-type="ErrorMessage" id="given-name-error"
                  asp-validation-for="Patient.GivenName" has-error="@hasGivenNameError"></span>
            <input ref="inputField" v-on:blur="validate" is-error-input=@hasGivenNameError
                   nhs-input-type="Standard" asp-for="Patient.GivenName" fixed-width="Ten">
        </nhs-form-group>
    </validate-input>

    <validate-input model="Patient" property="FamilyName" shouldvalidatefull="@fullValidation" inline-template>
        @{
            var hasFamilyNameError = !Model.IsValid("Patient.FamilyName");
            var familyNameGroupState = hasFamilyNameError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@familyNameGroupState>
            <label nhs-label-type="Standard" asp-for="Patient.FamilyName">
                Family name (required)
            </label>
            <span ref="errorField" nhs-span-type="ErrorMessage" id="family-name-error"
                  asp-validation-for="Patient.FamilyName" has-error="@hasFamilyNameError"></span>
            <input ref="inputField" v-on:blur="validate" is-error-input=@hasFamilyNameError
                   nhs-input-type="Standard" asp-for="Patient.FamilyName" fixed-width="Ten" />
        </nhs-form-group>
    </validate-input>
    <br />

    <validate-date model="Patient" property="Dob" inline-template>
        @{
            var hasDobError = !Model.IsValid("Patient.Dob") || !Model.IsValid("FormattedDob");
            var dobGroupState = hasDobError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@dobGroupState>
            <nhs-fieldset aria-describedby="dob-error" role="group">
                <nhs-fieldset-legend nhs-legend-size="Standard">
                    Date of birth (required)
                </nhs-fieldset-legend>
                <span nhs-span-type="ErrorMessage" ref="errorField" id="dob-error" has-error="@hasDobError">
                    <span style="display:block" asp-validation-for="Patient.Dob"></span>
                    <span style="display:block" asp-validation-for="FormattedDob"></span>
                </span>
                <nhs-date-input id="dob">
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="FormattedDob.Day">Day</label>
                            <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two"
                                   is-error-input=@hasDobError asp-for="FormattedDob.Day" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="FormattedDob.Month">Month</label>
                            <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two"
                                   is-error-input=@hasDobError asp-for="FormattedDob.Month" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                    <nhs-date-input-item>
                        <nhs-form-group nhs-form-group-type="Standard">
                            <label nhs-label-type="Date" asp-for="FormattedDob.Year">Year</label>
                            <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four"
                                   is-error-input=@hasDobError asp-for="FormattedDob.Year" />
                        </nhs-form-group>
                    </nhs-date-input-item>
                </nhs-date-input>
            </nhs-fieldset>
        </nhs-form-group>
    </validate-date>
    <br />

    @{
        var hasSexError = !Model.IsValid("Patient.SexId");
        var sexErrorGroupState = hasSexError ? Error : Standard;
    }
    <validate-input model="Patient" property="SexId" shouldvalidatefull="@fullValidation" inline-template>
        <nhs-form-group nhs-form-group-type="@sexErrorGroupState">
            <nhs-fieldset>
                <nhs-fieldset-legend nhs-legend-size="Standard">
                    Sex (required)
                </nhs-fieldset-legend>
                <span nhs-span-type="ErrorMessage" id="sex-error" ref="errorField" asp-validation-for="Patient.SexId" has-error="@hasSexError"></span>
                <nhs-radios v-on:change="validate" nhs-radios-type="Standard">
                    @foreach (var sex in Model.Sexes)
                    {
                        <nhs-radios-item>
                            <input is-error-input=@hasSexError nhs-input-type="Radios" asp-for="Patient.SexId" type="radio" value="@sex.SexId" id="sexId-@sex.SexId" />
                            <label nhs-label-type="Radios" asp-for="Patient.SexId" for="sexId-@sex.SexId">@sex.Label</label>
                        </nhs-radios-item>
                    }
                </nhs-radios>
            </nhs-fieldset>
        </nhs-form-group>
    </validate-input>
    <br />

    @{
        var hasEthnicityError = !Model.IsValid("Patient.EthnicityId");
        var ethnicityErrorGroupState = hasEthnicityError ? Error : Standard;
        var ethnicitySelectErrorState = hasEthnicityError ? SelectType.Error : SelectType.Standard;
    }
    <validate-input model="Patient" property="EthnicityId" shouldvalidatefull="@fullValidation" inline-template>
        <nhs-form-group nhs-form-group-type="@ethnicityErrorGroupState">
            <label nhs-label-type="Standard" asp-for="Patient.EthnicityId">
                Ethnic group (required)
            </label>
            <span nhs-span-type="ErrorMessage" id="ethnicity-error" ref="errorField"
                  asp-validation-for="Patient.EthnicityId" has-error="@hasEthnicityError"></span>
            <select v-on:change="validate" ref="selectField" nhs-select-type="@ethnicitySelectErrorState"
                    asp-for="Patient.EthnicityId" asp-items="Model.Ethnicities">
                <option value="">Select Ethnic group</option>
            </select>
        </nhs-form-group>
    </validate-input>
    <br />

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset aria-describedby="nhs-number-error">
            <nhs-fieldset-legend nhs-legend-size="Standard">
                NHS Number (required)
            </nhs-fieldset-legend>
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="Patient.NhsNumberNotKnown" class="nhsuk-radios__input" type="radio"
                           value="false" data-aria-controls="conditional-nhs-number-conditional" id="nhs-number-known">
                    <label class="nhsuk-label nhsuk-radios__label" asp-for="Patient.NhsNumberNotKnown" for="nhs-number-known">
                        Known
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                     id="conditional-nhs-number-conditional">
                    <validate-input model="Patient" property="NhsNumber" shouldvalidatefull="@fullValidation" inline-template>
                        @{
                            var hasNhsNumberError = !Model.IsValid("Patient.NhsNumber");
                            var nhsNumberErrorGroup = hasNhsNumberError ? Error : Standard;
                        }
                        <nhs-form-group nhs-form-group-type="@nhsNumberErrorGroup" aria-describedby="nhs-number-error">
                            <span nhs-span-type="ErrorMessage" id="nhs-number-error" ref="errorField"
                                  asp-validation-for="Patient.NhsNumber" has-error="@hasNhsNumberError"></span>
                            <input ref="inputField" v-on:blur="validate" is-error-input=@hasNhsNumberError nhs-input-type="Standard"
                                   fixed-width="Ten" asp-for="Patient.NhsNumber">
                        </nhs-form-group>
                    </validate-input>
                </div>

                <div class="nhsuk-radios__item">
                    <input asp-for="Patient.NhsNumberNotKnown" class="nhsuk-radios__input" type="radio"
                           value="true" id="nhs-number-unknown">
                    <label class="nhsuk-label nhsuk-radios__label" asp-for="Patient.NhsNumberNotKnown" for="nhs-number-unknown">
                        Not known
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>
    <br />

    <validate-input model="Patient" property="LocalPatientId" inline-template>
        @{
            var hasLocalPatientIdError = !Model.IsValid("Patient.LocalPatientId");
            var localPatientIdGroupState = hasLocalPatientIdError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type=@localPatientIdGroupState>
            <label nhs-label-type="Standard" asp-for="Patient.LocalPatientId">Local patient Id</label>
            <span ref="errorField" nhs-span-type="ErrorMessage" id="local-patient-id-error"
                  asp-validation-for="Patient.LocalPatientId" has-error="@hasLocalPatientIdError"></span>
            <input ref="inputField" v-on:input="validate" is-error-input=@hasLocalPatientIdError
                   nhs-input-type="Standard" asp-for="Patient.LocalPatientId" fixed-width="Ten" />
        </nhs-form-group>
    </validate-input>
    <br />

    @{
        var countryConditionalValues = Json.Serialize(Model.RenderConditionalCountryFieldIds);
        var countryConditionFunctionString = $"function(value) {{ return value && {countryConditionalValues}.indexOf(value) === -1 }}";

    }
    <conditional-select-wrapper :value-condition-function='@countryConditionFunctionString' inline-template>
        <div>
            @{
                var hasCountryError = !Model.IsValid("Patient.CountryId");
                var countryGroupState = hasCountryError ? Error : Standard;
                var countrySelectErrorState = hasCountryError ? SelectType.Error : SelectType.Standard;
            }
            <validate-input model="Patient" property="CountryId" shouldvalidatefull="@fullValidation"
                            v-on:validate="handleChange" v-on:mounted="innerValidateMounted" ref="inner-validate" inline-template>
                <nhs-form-group nhs-form-group-type="@countryGroupState">
                    <nhs-fieldset>
                        <label nhs-label-type="Standard" asp-for="Patient.CountryId">
                            Birth country (required)
                        </label>
                        <span nhs-span-type="ErrorMessage" id="birth-country-error"
                              ref="errorField" asp-validation-for="Patient.CountryId" has-error="@hasCountryError"></span>
                        <select ref="selectField" v-on:change="validate" nhs-select-type="@countrySelectErrorState"
                                asp-for="Patient.CountryId" asp-items="Model.Countries"
                                data-aria-controls="year-of-entry-conditional">
                            <option value="">Select a Birth Country</option>
                        </select>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-input>

            @{
                var hasYearOfEntryError = !Model.IsValid("Patient.YearOfUkEntry");
                var yearOfEntryFormState = hasYearOfEntryError ? Error : Standard;
            }
            <div ref="conditional-control" id="year-of-entry-conditional" class="govuk-radios__conditional">
                <validate-input model="Patient" property="YearOfUkEntry" shouldvalidatefull="@fullValidation" inline-template>
                    <nhs-form-group nhs-form-group-type="@yearOfEntryFormState" ref="formGroup">
                        <label for="year-of-entry" nhs-label-type="Standard" id="year-of-entry-label">
                            Year of UK Entry
                        </label>
                        <span nhs-span-type="ErrorMessage" asp-validation-for="Patient.YearOfUkEntry"
                              has-error="@hasYearOfEntryError" ref="errorField" id="year-of-entry-error"></span>
                        <input nhs-input-type="Standard" asp-for="Patient.YearOfUkEntry" is-error-input="@hasYearOfEntryError"
                               v-on:blur="validate" ref="inputField" fixed-width="Four" id="year-of-entry" aria-describedby="year-of-entry-error" />
                    </nhs-form-group>
                </validate-input>
            </div>
        </div>
    </conditional-select-wrapper>
    <br />

    @{
        var hasAddressError = !Model.IsValid("Patient.Address");
        var addressFormState = hasAddressError ? Error : Standard;
        var addressTextAreaType = hasAddressError ? TextAreaType.Error : TextAreaType.Standard;
    }
    <validate-input model="Patient" property="Address" shouldvalidatefull="@fullValidation" inline-template>
        <nhs-form-group nhs-form-group-type="@addressFormState">
            <label asp-for="Patient.Address" nhs-label-type="Standard">
                Address
            </label>
            <span nhs-span-type="ErrorMessage" id="address-error" ref="errorField" asp-validation-for="Patient.Address" has-error="@hasAddressError"></span>
            <textarea asp-for="Patient.Address" nhs-textarea-type="@addressTextAreaType" rows="2" aria-describedby="address-error"
                      autocomplete="street-address" v-on:change="validate" ref="textareaField" classes="nhsuk-input--width-20"></textarea>
        </nhs-form-group>
    </validate-input>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset aria-describedby="postcode-error">
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="Patient.NoFixedAbode" id="postcode-yes" class="nhsuk-radios__input" type="radio" value="false"
                           data-aria-controls="conditional-postcode-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="postcode-yes">
                        Postcode (required)
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-postcode-conditional">
                    <validate-postcode shouldvalidatefull="@fullValidation" inline-template>
                        @{
                            var hasPostcodeError = !Model.IsValid("Patient.Postcode");
                            var postcodeGroupState = hasPostcodeError ? Error : Standard;
                        }
                        <nhs-form-group ref="formGroup" nhs-form-group-type="@postcodeGroupState" aria-describedby="postcode-error">
                            <span nhs-span-type="ErrorMessage" id="postcode-error" ref="errorField"
                                  asp-validation-for="Patient.Postcode" has-error="@hasPostcodeError"></span>
                            <input ref="inputField" v-on:blur="validate" is-error-input=@hasPostcodeError nhs-input-type="Standard"
                                   fixed-width="Ten" asp-for="Patient.Postcode">
                        </nhs-form-group>
                    </validate-postcode>
                </div>
                <div class="nhsuk-radios__item">
                    <input asp-for="Patient.NoFixedAbode" class="nhsuk-radios__input" type="radio" value="true" id="postcode-no">
                    <label class="nhsuk-label nhsuk-radios__label" asp-for="Patient.NoFixedAbode" for="postcode-no">
                        No fixed abode
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>


    @{
        var occupationsWithConditionalFields = Json.Serialize(Model.RenderConditionalOccupationFieldIds);
        var occupationConditionFunctionString = $"function(value) {{ return value && {occupationsWithConditionalFields}.indexOf(value) !== -1 }}";
    }
    <conditional-select-wrapper :value-condition-function='@occupationConditionFunctionString' inline-template>
        <div>
            @{
                var hasOccupationError = !Model.IsValid("Patient.OccupationId");
                var occupationFormState = hasAddressError ? Error : Standard;
                var occupationSelectErrorState = hasAddressError ? SelectType.Error : SelectType.Standard;
            }
            <validate-input model="Patient" property="OccupationId" shouldvalidatefull="@fullValidation"
                            v-on:validate="handleChange" v-on:mounted="innerValidateMounted" ref="inner-validate" inline-template>
                <nhs-form-group nhs-form-group-type="@occupationFormState">
                    <nhs-fieldset>
                        <label nhs-label-type="Standard" asp-for="Patient.OccupationId">
                            Occupation
                        </label>
                        <span nhs-span-type="ErrorMessage"
                              ref="errorField" asp-validation-for="Patient.OccupationId" has-error="@hasOccupationError"></span>
                        <select ref="selectField" v-on:change="validate" nhs-select-type="@occupationSelectErrorState"
                                asp-for="Patient.OccupationId" asp-items="Model.Occupations"
                                data-aria-controls="occupation-other-conditional">
                            <option value="">Select an occupation</option>
                        </select>
                    </nhs-fieldset>
                </nhs-form-group>
            </validate-input>

            @{
                var hasOccupationOtherError = !Model.IsValid("Patient.OccupationOther");
                var occupationOtherFormState = hasOccupationOtherError ? Error : Standard;
            }
            <div ref="conditional-control" id="occupation-other-conditional" class="govuk-radios__conditional">
                <validate-input model="Patient" property="OccupationOther" shouldvalidatefull="@fullValidation" inline-template>
                    <nhs-form-group nhs-form-group-type="@occupationOtherFormState" ref="formGroup">
                        <label for="occupation-other" nhs-label-type="Standard">
                            Other (please specify)
                        </label>
                        <span nhs-span-type="ErrorMessage" asp-validation-for="Patient.OccupationOther"
                              has-error="@hasOccupationOtherError" ref="errorField" id="occupation-other-error"></span>
                        <input nhs-input-type="Standard" asp-for="Patient.OccupationOther" is-error-input="@hasOccupationOtherError"
                               v-on:blur="validate" ref="inputField" fixed-width="Twenty" id="occupation-other" aria-describedby="occupation-other-error" />
                    </nhs-form-group>
                </validate-input>
            </div>
        </div>
    </conditional-select-wrapper>

    <br />
    <partial name="_PaginationPartial" for="Notification" />
</div>
