@page "/Notifications/{NotificationId:int}/Edit/SocialRiskFactors/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.SocialRiskFactorsModel
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    ViewData["Title"] = "Social Risk Factors";
    ViewData["CurrentPage"] = NotificationSubPaths.EditSocialRiskFactors;
    var statuses = EnumHelper.GetEnumList<Status>();
}

<partial name="_SinglePageErrorSummaryPartial" model="@Model"/>

<h2>Social Risk Factors</h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">
                Patient's ability to self-administer treatment is affected by alcohol misuse or abuse
            </nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.AlcoholMisuseStatus" id="alcohol-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="alcohol-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>
    <br />

    <div>
        @{
            var drugsModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorDrugs");
            var drugsViewData = new ViewDataDictionary(this.ViewData) {
                { "propertyName", "RiskFactorDrugs" },
                { "errorState", drugsModelIsValid },
                { "questionText", "Patient has a history of drug misuse" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorDrugs" view-data="@drugsViewData" />
        <br />
    </div>

    <div>
        @{
            var HomelessnessModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorHomelessness");
            var HomelessnessViewData = new ViewDataDictionary(this.ViewData) {
                { "propertyName", "RiskFactorHomelessness" },
                { "errorState", HomelessnessModelIsValid },
                { "questionText", "Patient has a history of homelessness" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorHomelessness" view-data="@HomelessnessViewData" />
        <br />
    </div>

    <div>
        @{
            var ImprisonmentModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorImprisonment");
            var ImprisonmentViewData = new ViewDataDictionary(this.ViewData) {
                { "propertyName", "RiskFactorImprisonment" },
                { "errorState", ImprisonmentModelIsValid },
                { "questionText", "Patient has a history of imprisonment" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorImprisonment" view-data="@ImprisonmentViewData" />
        <br />
    </div>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">Patient has mental health issues</nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.MentalHealthStatus" id="mentalhealth-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="mentalhealth-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">Patient is a current smoker</nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.SmokingStatus" id="smoking-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="smoking-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>
    <br />
    
</div>