@page "/Notifications/{NotificationId:int}/Edit/SocialRiskFactors/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.SocialRiskFactorsModel
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    var title = NotificationSection.SocialRiskFactors.ToDisplayString();
    ViewData["Title"] = $"Notification #{Model.NotificationId} - {title}";
    var statuses = EnumHelper.GetEnumList<Status>();
}

<partial name="_SinglePageErrorSummaryPartial"/>

<h2> @title </h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">
                @Html.DisplayNameFor(m => m.SocialRiskFactors.AlcoholMisuseStatus)
            </nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.AlcoholMisuseStatus" id="alcohol-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="alcohol-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>
    <br />

    <div>
        @{
            var drugsModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorDrugs");
            var drugsViewData = new ViewDataDictionary(ViewData) {
                { "propertyName", "RiskFactorDrugs" },
                { "errorState", drugsModelIsValid },
                { "questionText", "Does the patient have a history of drug misuse?" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorDrugs" view-data="@drugsViewData" />
        <br />
    </div>

    <div>
        @{
            var HomelessnessModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorHomelessness");
            var HomelessnessViewData = new ViewDataDictionary(this.ViewData) {
                { "propertyName", "RiskFactorHomelessness" },
                { "errorState", HomelessnessModelIsValid },
                { "questionText", "Does the patient have a history of homelessness?" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorHomelessness" view-data="@HomelessnessViewData" />
        <br />
    </div>

    <div>
        @{
            var ImprisonmentModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorImprisonment");
            var ImprisonmentViewData = new ViewDataDictionary(this.ViewData) {
                { "propertyName", "RiskFactorImprisonment" },
                { "errorState", ImprisonmentModelIsValid },
                { "questionText", "Does the patient have a history of imprisonment?" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorImprisonment" view-data="@ImprisonmentViewData" />
        <br />
    </div>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">            
                @Html.DisplayNameFor(m => m.SocialRiskFactors.MentalHealthStatus)
            </nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.MentalHealthStatus" id="mentalhealth-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="mentalhealth-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>
    
    <div>
        @{
            var SmokingModelIsValid = !Model.IsValid("SocialRiskFactors.RiskFactorSmoking");
            var SmokingViewData = new ViewDataDictionary(this.ViewData) {
                { "propertyName", "RiskFactorSmoking" },
                { "errorState", SmokingModelIsValid },
                { "questionText", "Does the patient have a history of smoking?" }
            };
        }
        <partial name="./_RiskFactorPartial.cshtml" for="SocialRiskFactors.RiskFactorSmoking" view-data="@SmokingViewData" />

    </div>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">
                @Html.DisplayNameFor(m => m.SocialRiskFactors.AsylumSeekerStatus)
            </nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.AsylumSeekerStatus" id="asylum-seeker-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="asylum-seeker-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>

    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">
                @Html.DisplayNameFor(m => m.SocialRiskFactors.ImmigrationDetaineeStatus)
            </nhs-fieldset-legend>
            <nhs-radios nhs-radios-type="Standard">
                @foreach (var status in statuses)
                {
                    <nhs-radios-item>
                        <input nhs-input-type="Radios" asp-for="SocialRiskFactors.ImmigrationDetaineeStatus" id="immigration-detainee-radio-button-@status" type="radio" value="@status" />
                        <label nhs-label-type="Radios" for="immigration-detainee-radio-button-@status">@status</label>
                    </nhs-radios-item>
                }
            </nhs-radios>
        </nhs-fieldset>
    </nhs-form-group>
    <br />
    
</div>