@page
@model ntbs_service.Pages_Search.IndexModel
@using Microsoft.AspNetCore.Routing

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Parameters</h4>
<hr />
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
        </div>
        <div>
            <input type="submit" value="Search" />
        </div>
    </form>
</div>
<div>
    <div class="clear-search-button-container">
        <a href="/search" class="clear-search-button">
            Clear search & start again
        </a>
    </div>
    <div>
        <p> @Model.SearchResultsBannerDisplay.NumberOfResults Results found. </p>
        <p> To filter results, add more search terms and search again. </p>
    </div>
    <ol class="search-results-list">
        @foreach(var result in @Model.SearchResultsBannerDisplay) {
            <li>
                <partial name="../Shared/_NotificationBanner.cshtml" model="result"/>
            </li>
        }
    <ol>

    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
            @{

                var previousPageText = "";
                var previousPageUrl = "";
                var nextPageText = "";
                var nextPageUrl = "";
                var queryString = Request.Query;
                var previousPageQueryString = new RouteValueDictionary();
                queryString.Keys.Select(x => previousPageQueryString[x] = queryString[x].ToString());
                var nextPageQueryString = previousPageQueryString;
                if(@Model.SearchResultsBannerDisplay.HasPreviousPage)
                {
                    previousPageText = "Page " + (Model.SearchResultsBannerDisplay.PageIndex - 1) + " of " + (Model.SearchResultsBannerDisplay.TotalPages);
                    previousPageQueryString["pageIndex"] = "" + (Model.SearchResultsBannerDisplay.PageIndex - 1);
                    previousPageUrl = @Url.Action("Search", previousPageQueryString);
                }
                if(@Model.SearchResultsBannerDisplay.HasNextPage)
                {
                    nextPageText = "Page " + (Model.SearchResultsBannerDisplay.PageIndex + 1) + " of " + (Model.SearchResultsBannerDisplay.TotalPages);
                    nextPageQueryString["pageIndex"] = "" + (Model.SearchResultsBannerDisplay.PageIndex + 1);
                    nextPageUrl = @Url.Action("Search", nextPageQueryString);
                }
            }
            <nhs-pagination next-link-text="@nextPageText" next-url="@nextPageUrl" 
                previous-link-text="@previousPageText" previous-url="@previousPageUrl"></nhs-pagination>
        </ul>
    </nav>
</div>

@section ActionsAside 
{
    <a href="/Notifications/Create" role="button" draggable="false" class="nhsuk-button search-notifications-button">
        Create Notification
    </a>
}
