@page
@model ntbs_service.Pages_Search.IndexModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using Microsoft.AspNetCore.Routing

@{
    ViewData["Title"] = "Search";
    Layout = "../Shared/_NoForm_Layout.cshtml";
}

<h1>Search</h1>
<div>
    <form method="get">
        <div asp-validation-summary="ModelOnly"></div>
        <span class="enter-search-details-tip">
            To search enter at least one of the following fields
        </span>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                @{
                    var IdFilterError = !Model.validationService.IsValid("SearchParameters.IdFilter");
                    var IdFilterGroupState = IdFilterError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@IdFilterGroupState>
                    <label nhs-label-type="Standard"> ID number </label>
                    <span class="nhsuk-hint " id="example-hint">
                        Search by NTBS, ETS, LTBR or NHS number
                    </span>
                    <span ref="errorField" nhs-span-type="ErrorMessage" id="id-error"
                        asp-validation-for="SearchParameters.IdFilter" >
                    </span>
                    <input is-error-input=@IdFilterError nhs-input-type="Standard"
                        asp-for="SearchParameters.IdFilter" classes="nhsuk-input--width-10" />
                </nhs-form-group>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                @{
                    var DobError = !Model.validationService.IsValid("SearchParameters.PartialDob");
                    var DobGroupState = DobError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@DobGroupState>
                    <label nhs-label-type="Standard"> Date of birth </label>
                    <span class="nhsuk-hint " id="example-hint">
                        Dates can be partial, enter year at minimum
                    </span>
                    <span ref="errorField" nhs-span-type="ErrorMessage" id="dob-error"
                        asp-validation-for="SearchParameters.PartialDob"></span>
                    <nhs-date-input id="dob">
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="SearchParameters.PartialDob.Day">Day</label>
                                <input nhs-input-type="Date" fixed-width="Two"
                                    is-error-input=@DobError asp-for="SearchParameters.PartialDob.Day"/>
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="SearchParameters.PartialDob.Month">Month</label>
                                <input nhs-input-type="Date" fixed-width="Two"
                                    is-error-input=@DobError asp-for="SearchParameters.PartialDob.Month" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                        <nhs-date-input-item>
                            <nhs-form-group nhs-form-group-type="Standard">
                                <label nhs-label-type="Date" asp-for="SearchParameters.PartialDob.Year">Year</label>
                                <input nhs-input-type="Date" fixed-width="Four"
                                    is-error-input=@DobError asp-for="SearchParameters.PartialDob.Year" />
                            </nhs-form-group>
                        </nhs-date-input-item>
                    </nhs-date-input>
                </nhs-form-group>
            </nhs-grid-column>
        </nhs-grid-row>
        <span class="enter-search-details-tip">
            Advanced options
        </span>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                @{
                    var SexIdError = !Model.validationService.IsValid("SexId");
                    var SexIdGroupState = SexIdError ? Error : Standard;
                }
                <nhs-form-group nhs-form-group-type=@SexIdGroupState>
                    <label nhs-label-type="Standard"> Sex </label>
                    <span ref="errorField" nhs-span-type="ErrorMessage" id="sexId-error"
                        asp-validation-for="SearchParameters.SexId" ></span>
                    <nhs-radios nhs-radios-type="Standard">
                        @foreach (var sex in Model.Sexes)
                        {
                            <nhs-radios-item>
                                <input is-error-input=@SexIdError nhs-input-type="Radios" asp-for="SearchParameters.SexId" type="radio" value="@sex.SexId" id="sexId-@sex.SexId"/>
                                <label nhs-label-type="Radios" asp-for="SearchParameters.SexId" for="sexId-@sex.SexId">@sex.Label</label>
                            </nhs-radios-item>
                        }
                        <nhs-radios-item>
                            @{
                                string anyChecked = null;
                                if(Model.SearchParameters.SexId == null) {
                                    anyChecked = "true";
                                }
                            }
                            <input is-error-input=@SexIdError nhs-input-type="Radios" asp-for="SearchParameters.SexId" type="radio" value="" checked="@anyChecked"id="sexId-Any"/>
                            <label nhs-label-type="Radios" asp-for="SearchParameters.SexId" for="sexId-Any">Any</label>
                        </nhs-radios-item>
                    </nhs-radios>
                </nhs-form-group>
            </nhs-grid-column>
        </nhs-grid-row>
        <div class="submit-search-button-container">
            <input type="submit" value="Search" class="nhsuk-button submit-search-button"/>
        </div>
    </form>
</div>
<hr />
@if(Model.SearchParamsExist ?? false) 
{
    <div>
        <div class="clear-search-button-container">
            <a href="/search" class="clear-search-button">
                Clear search & start again
            </a>
        </div>
        <div>
            @{ 
                var resultCount = Model.SearchResults?.NumberOfResults ?? 0; 
                var resultsFoundString = $"{resultCount.ToString()} Result{(resultCount == 1 ? "" : "s")} found.";
            }
            <p> @resultsFoundString </p>
            <p> To filter results, add more search terms and search again. </p>
        </div>
        @if(Model.SearchResults != null) 
        {
            <ol class="search-results-list">
                @foreach(var result in @Model.SearchResults) 
                {
                    <li>
                        <!-- Each search hit is displayed using a notification banner -->
                        <partial name="../Shared/_NotificationBanner.cshtml" model="result"/>
                    </li>
                }
            </ol>
        }

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
            <ul class="nhsuk-list nhsuk-pagination__list">
                <nhs-pagination next-link-text="@Model.NextPageText" next-url="@Model.NextPageUrl" 
                    previous-link-text="@Model.PreviousPageText" previous-url="@Model.PreviousPageUrl"></nhs-pagination>
            </ul>
        </nav>
    </div>

    @section ActionsAside 
    {
        <a href="/Notifications/Create" role="button" draggable="false" class="nhsuk-button search-notifications-button">
            Create Notification
        </a>
    }
}