@using ntbs_integration_tests.Helpers
@using ntbs_service.Helpers
@model ntbs_service.Pages.Notifications.NotificationModelBase

<nhs-grid-row>
    <nhs-grid-column grid-column-width="TwoThirds">
        <div class="manage-notification">
            <h2>
                Alerts
            </h2>
            @if(Model.Alerts != null)
            {
                @foreach (var alert in Model.Alerts)
                {
                    <div class="flex-container">
                        <div>description</div>
                        <div>some link</div>
                        <div>dismiss boi</div>
                    </div>
                }
            }
            </div>
    </nhs-grid-column>

    @{
        var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.Notification.NotificationStatus);
        var manageNotificationClass = $"manage-notification manage-notification{classSuffix}";
    }

    <nhs-grid-column grid-column-width="OneThird">
        @if (Model.Notification.NotificationStatus == NotificationStatus.Draft && Model.HasEditPermission)
        {
            <div class="@manageNotificationClass manage-notification--no-expander">
                <button nhs-button-type="Standard" classes="ntbsuk-button--primary" name="actionName" value="Submit" id="submit-button">
                    Submit
                </button>
                @{ var deleteHref = @RouteHelper.GetNotificationPath(NotificationSubPaths.Delete, Model.NotificationId); }
                <a id="delete-draft-button" class="action-link" role="button" href="@deleteHref">
                    Delete draft
                </a>
            </div>
        }
        else if ((string)ViewData["CurrentPage"] == NotificationSubPaths.Overview)
        {
            <div class="@manageNotificationClass">
                <nhs-details display-text="Manage notification" nhs-details-type="Expander">
                    <button nhs-button-type="Standard" classes="ntbsuk-button--secondary" asp-page-handler="CreateLink">
                        New notification for this patient
                    </button>
                    @if (Model.Notification.NotificationStatus == NotificationStatus.Notified && Model.HasEditPermission)
                    {
                        var denotifyHref = @RouteHelper.GetNotificationPath(NotificationSubPaths.Denotify, Model.NotificationId);
                        <a id='denotify-button' class="action-link" role="button" href="@denotifyHref">
                            Denotify
                        </a>
                    }
                </nhs-details>
            </div>
        }
    </nhs-grid-column>
</nhs-grid-row>