
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using ntbs = ntbs_service.Services
@inject ntbs.IUserService UserService
@inject ntbs.IExternalLinksService _externalLinksService

@using Microsoft.Extensions.Configuration
@using ntbs_service.Helpers
@using ntbs_service.Properties
@inject IConfiguration Configuration
@inject IUserHelper UserHelper

@{
    var breadcrumbs = ViewData["Breadcrumbs"];

    var environmentDescription = new EnvironmentDescription();
    Configuration.GetSection(Constants.EnvironmentDescription).Bind(environmentDescription);
}

<header role="banner" data-module="govuk-header">
    <div class="header-title-and-logo-background">
        <div class="govuk-header__container govuk-width-container no-border">
            <button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle header-expand-menu-button" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>

            <div class="govuk-header__logo header-logo-container header-logo">
                <span class="govuk-header__logotype">
                    <img src="~/Images/PHE_3268_DIGI_AW-100px.png" alt="Public Health England logo" />
                </span>
            </div>
            <div class=" govuk-header__link--service-name header-title">
                National Tuberculosis Surveillance System
            </div>
        </div>
    </div>

    @if (!environmentDescription.IsLiveSystem)
    {
        <div class="govuk-phase-banner live-data-warning-banner">
            <div class="govuk-width-container">
                <p class="govuk-phase-banner__content ">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        @environmentDescription.DisplayName
                    </strong>
                    <span class="govuk-phase-banner__text">
                        The data on this site is
                        @(environmentDescription.ContainsLiveData ? "a copy of the live data" : "synthetic")
                        and is for @environmentDescription.DisplayName purposes only.
                        Please do not enter real patient data.
                    </span>
                </p>
            </div>
        </div>
    }

    <div id="header-nav" class="header-navigation-background">
        <div class="govuk-header__container govuk-width-container no-border">
            <nav>
                <ul id="navigation" class="govuk-header__navigation header-navigation-list" aria-label="Top Level Navigation">
                    <li class="govuk-header__navigation-item header-navigation-link">
                        <a class="govuk-header__link header-navigation-list-item" href="/">
                            Dashboard
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item header-navigation-link">
                        <a class="govuk-header__link header-navigation-list-item" href="/Search">
                            Search
                        </a>
                    </li>
                    @if (!UserHelper.UserIsReadOnly(User))
                    {
                        <li class="govuk-header__navigation-item header-navigation-link">
                            <a class="govuk-header__link header-navigation-list-item" href="/LabResults">
                                Lab results
                            </a>
                        </li>
                    }
                    <li class="govuk-header__navigation-item header-navigation-link">
                        @if (string.IsNullOrEmpty(_externalLinksService.GetReportingPageUrl()))
                        {
                            <a class="govuk-header__link header-navigation-list-item" href="/Reports">
                                Reports
                            </a>
                        }
                        else
                        {
                            <a class="govuk-header__link header-navigation-list-item" href="@(_externalLinksService.GetReportingPageUrl())" target="_blank" rel="noopener noreferrer">
                                Reports
                            </a>
                        }
                    </li>

                    <navigation-with-submenu inline-template>
                        <li class="nav-with-submenu-header govuk-header__navigation-item header-navigation-link">
                            <a v-on:click="toggleMenu" href="/Help/Menu" class="govuk-header__link header-navigation-list-item nav-with-submenu-header-link">
                                Help <i class="arrow down"></i>
                            </a>
                            <ul ref="navigation-submenu" v-if="showMenu" class="nav-submenu-list">
                                <li class="header-navigation-link nav-submenu-list-item">
                                    <a class="govuk-header__link header-navigation-list-item" href="/Help">
                                        FAQ
                                    </a>
                                </li>
                                <li class="header-navigation-link nav-submenu-list-item">
                                    <a class="govuk-header__link header-navigation-list-item" href="/ServiceDirectory">
                                        Service directory
                                    </a>
                                </li>
                                <li class="header-navigation-link nav-submenu-list-item">
                                    <a class="govuk-header__link header-navigation-list-item" href="@(_externalLinksService.GetSharePointHomePageUrl())" target="_blank" rel="noopener noreferrer">
                                        Resources
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </navigation-with-submenu>

                    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
                    {
                        <li class="govuk-header__navigation-item header-navigation-link">
                            <a class="govuk-header__link header-navigation-list-item" href="/Admin">
                                Admin
                            </a>
                        </li>
                    }

                    <navigation-with-submenu inline-template>
                        <li class="nav-with-submenu-header govuk-header__navigation-item header-navigation-link">
                            <a v-on:click="toggleMenu" href="/ContactDetails/Menu" class="govuk-header__link header-navigation-list-item nav-with-submenu-header-link">
                                @UserService.GetUserDisplayName(@User) <i class="arrow down"></i>
                            </a>
                            <ul ref="navigation-submenu" v-if="showMenu" class="nav-submenu-list">
                                <li class="header-navigation-link nav-submenu-list-item">
                                    <a class="govuk-header__link header-navigation-list-item" href="/ContactDetails">
                                        View personal details
                                    </a>
                                </li>
                                <li class="header-navigation-link nav-submenu-list-item">
                                    <a class="govuk-header__link header-navigation-list-item" href="/Logout">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </navigation-with-submenu>

                </ul>
            </nav>

        </div>
    </div>
    <div class="breadcrumb-trail">
        <partial name="_Breadcrumbs" model=@breadcrumbs />
    </div>
</header>
