@using ntbs_service.Helpers
@model ICollection<ntbs_service.Models.Entities.MBovisUnpasteurisedMilkConsumption>

@{
    var showEditLinks = (bool) (ViewData["ShowMBovisUnpasteurisedMilkConsumptionEditLinks"] ?? false);
    var orderedResults = Model
        .OrderByDescending(r => r.YearOfConsumption)
        .ThenByDescending(r => r.ConsumptionFrequency)
        .ToList();
}

@if (orderedResults.Any())
{
    <br/>
    <div id="mbovis-milk-consumption-table">
        @foreach (var result in orderedResults)
        {
            <div class="notification-overview-type-and-edit-container">
                <h5 class="notification-details-type">
                    @result.YearOfConsumption - @result.MilkProductType
                </h5>
                @if (showEditLinks)
                {
                    var path = RouteHelper.GetNotificationPath(result.NotificationId, NotificationSubPaths.EditMBovisUnpasteurisedMilkConsumption(result.MBovisUnpasteurisedMilkConsumptionId));
                    <a href="@path" class="notification-edit-link govuk-link--no-visited-state"> Edit </a>
                }

            </div>
            <dl class="notification-overview-details-container">
                <nhs-grid-row>
                    <nhs-grid-column grid-column-width="OneQuarter">
                        <dt class="notification-details-label"> @Html.DisplayNameFor(_ => result.ConsumptionFrequency) </dt>
                        <dd class="cell-min-height"> @result.ConsumptionFrequency </dd>
                    </nhs-grid-column>
                    <nhs-grid-column grid-column-width="ThreeQuarters">
                        <dt class="notification-details-label"> @Html.DisplayNameFor(_ => result.CountryId) </dt>
                        <dd class="cell-min-height"> @result.Country?.Name </dd>
                    </nhs-grid-column>
                </nhs-grid-row>
                
                <nhs-grid-row>
                    <nhs-grid-column grid-column-width="Full">
                        <dt class="notification-details-label"> @Html.DisplayNameFor(_ => result.OtherDetails) </dt>
                        <dd class="cell-min-height"> @result.OtherDetails </dd>
                    </nhs-grid-column>
                </nhs-grid-row>
            </dl>
        }
    </div>
}