@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@using static NHSUK.FrontEndLibrary.TagHelpers.GridColumnWidth

@{
    Layout = "./_NotificationLayout.cshtml";
    var currentPage = (string) ViewData["CurrentPage"];
    var isLinkedNotificationPage = currentPage == NotificationSubPaths.LinkedNotifications;
    var mainGridWidth = isLinkedNotificationPage ? Full : ThreeQuarters;

    var isDraft = Model.Notification.NotificationStatus == NotificationStatus.Draft;

    var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.Notification.NotificationStatus);
    var linksClass = $"notification-banner-links notification-banner-links{classSuffix}";
    var endClass = $"notification-page-end notification-page-end{classSuffix}";
}

<nhs-width-container container-width="Standard">
    <form method="post" autocomplete="off">

        @RenderSection("MainFormButton", required: false)

        @if (isDraft)
        {
            <partial name="./_DraftSubmitDeleteButtons"/>
        }

        <nhs-grid-row>
            <nhs-grid-column grid-column-width="Full">
                <div class="@linksClass">
                    <partial name="_NotificationUnderBannerNav"/>
                </div>
            </nhs-grid-column>

            <partial name="./_SideMenu" model="@Model"/>

            <nhs-grid-column grid-column-width="@mainGridWidth">
                <input type="hidden" asp-for="NotificationId"/>
                @RenderBody()
            </nhs-grid-column>

            <nhs-grid-column grid-column-width="Full">
                <div class="@endClass"> </div>
            </nhs-grid-column>

        </nhs-grid-row>
    </form>
</nhs-width-container>