@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@inject Services.IExternalLinksService _externalLinksService

@{
    Layout = "./_NotificationLayout.cshtml";
    var currentPage = (string) ViewData["CurrentPage"];
    var isOverviewPage = currentPage == NotificationSubPaths.Overview;

    var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.Notification.NotificationStatus);
    var linksClass = $"notification-banner-links notification-banner-links{classSuffix}";
    var endClass = $"notification-page-end notification-page-end{classSuffix}";
}

<nhs-width-container container-width="Standard">
    @if (isOverviewPage)
    {
        <partial name="./_AlertsAndActions"/>
    }
    <nhs-grid-row classes="allow-page-break">
        <nhs-grid-column grid-column-width="Full">
            <div class="@linksClass no-print">
                <partial name="_NotificationUnderBannerNav"/>
            </div>
            <div class="@linksClass no-screen">
            </div>
        </nhs-grid-column>

        <nhs-grid-column grid-column-width="Full">
            @if ((!string.IsNullOrEmpty(Model.PermissionReason) || Model.Notification.IsShared) && isOverviewPage)
            {
                <div class="notification-overview-details-container no-print">
                    <nhs-inset-text classes="nhs-inset-text--ntbs">
                        <span>
                            @if (Model.Notification.IsShared)
                            {
                                var serviceHref = $"/ServiceDirectory/Region/{Model.Notification.HospitalDetails.SecondaryTBService.PHEC.Code}" +
                                                  $"#accordion-heading-{Model.Notification.HospitalDetails.SecondaryTBServiceCode}";
                                <span>
                                    This record is shared with <a id="shared-service-link" href="@serviceHref">@Model.Notification.HospitalDetails.SecondaryTBService?.Name</a>.
                                </span>
                            }
                            @if (!string.IsNullOrEmpty(Model.PermissionReason))
                            {
                                @Model.PermissionReason
                                @if (Model.PermissionLevel != PermissionLevel.Edit)
                                {
                                    <span>
                                        See
                                        <a href=@(_externalLinksService.GetSharePointFaqPageWithAnchor(Model.PermissionLevel))
                                           target="_blank"
                                           rel="noopener noreferrer">help</a>
                                        for more information.
                                    </span>
                                    <br/>
                                }
                            }
                        </span>
                    </nhs-inset-text>
                </div>
            }
            @RenderBody()
        </nhs-grid-column>

        <nhs-grid-column grid-column-width="Full">
            <div class="@endClass"> </div>
        </nhs-grid-column>

    </nhs-grid-row>
</nhs-width-container>