@model ntbs_service.Pages_Notifications.NotificationModelBase
@{
    Layout = "../Shared/_Layout.cshtml";
    var splitUrlPath = Context.Request.Path.ToString().Split("/");
    var currentPage = splitUrlPath[splitUrlPath.Length-1];
    var NotificationStatusCssClass = "";
    switch(@Model.Notification.NotificationStatus)
        {
            case NotificationStatus.Draft: NotificationStatusCssClass = "notification-banner-container--draft";
                break;
            case NotificationStatus.Notified: NotificationStatusCssClass = "notification-banner-container--notified";
                break;
            case NotificationStatus.Denotified: NotificationStatusCssClass = "notification-banner-container--denotified";
                break;
            default:
                break;
        }
}

<nhs-grid-row>
    <nhs-grid-column grid-column-width="Full">
        <div class="@NotificationStatusCssClass notification-banner-container">
            <partial name="./_NotificationBanner.cshtml" model="@Model.NotificationBannerModel"/>
            <div class="notification-banner-triangle"> </div>
        </div>
        @if(@Model.Notification.NotificationStatus == NotificationStatus.Notified)
        {
            <div class="notification-banner-links">
                <a href="/Notifications/Overview?id=@Model.NotificationId"> Notification details </a>
                <div class="notification-banner-link-separator"> </div>
                <a href="/Notifications/Overview?id=@Model.NotificationId"> Audit </a>
            </div>
        }
    </nhs-grid-column>
    <nhs-grid-column grid-column-width="OneQuarter">
        <div>
            <li class="@("contents-list-item " + (currentPage == "Patient" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/Patient?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Person details</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "Episode" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/Episode?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Hospital details</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "ClinicalDetails" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/ClinicalDetails?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Clinical Details</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "ContactTracing" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/ContactTracing?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Contact Tracing</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "SocialRiskFactors" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/SocialRiskFactors?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Social Risk Factors</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "Travel" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/Travel?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Travel/visitor history</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "Comorbidities" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/Comorbidities?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Co-morbidities</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "Immunosupression" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/Immunosupression?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Immunosupression</a>
            </li>
            <li class="@("contents-list-item " + (currentPage == "PreviousHistory" ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Notifications/Edit/PreviousHistory?id=@Model.Notification.NotificationId&isBeingSubmitted=@Model.Notification.ShouldValidateFull">Previous History</a>
            </li>
        </div>
    </nhs-grid-column>
    <nhs-grid-column grid-column-width="ThreeQuarters">
            <input type="hidden" asp-for="NotificationId" />
            @RenderBody()
    </nhs-grid-column>
</nhs-grid-row>

@section ActionsAside 
{
    <h2 class="govuk-heading-s" id="manage-notification-title">
        Manage Notification
    </h2>
    @if(Model.Notification.NotificationStatus == NotificationStatus.Draft)
    {
        <button nhs-button-type="Standard" asp-page-handler="Submit">Submit</button>
    }
    else
    {
        <button nhs-button-type="Standard" asp-page-handler="CreateLink">New notification for this person</button>
    }
}
