@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["PatientId"] = Context.Request.Query["id"].ToString();
}
<!DOCTYPE html>
<html>
<body>
    <div style="margin-bottom: 20px"> Notification number X placeholder </div>
    <div class="patient-layout-flexbox">
        <div class="contents-list">
            <!-- Overview available if notification has been submitted -->
            @if (ViewData["OverviewAvailable"] as bool? ?? false)
            {
                <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "overview" ? "contents-list-item--current" : ""))">
                    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Overview?id=" + @(ViewData["PatientId"])>Overview</a>
                </li>
            }
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "personDetails" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Person details</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "hospitalDetails" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Hospital details</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "clinicalDetails" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/ClinicalTimelines/Edit?id=@ViewData["PatientId"]">Clinical Timeline</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "contactTracing" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Contact Tracing</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "socialRiskFactors" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Social Risk Factors</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "travelVisitorHistory" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Travel/visitor history</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "comordbidities" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Co-morbidities</a>
            </li>
            <li class="@("contents-list-item " + (ViewData["PageType"].ToString() == "immunosupression" ? "contents-list-item--current" : ""))">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/Patients/Edit?id=@ViewData["PatientId"]">Immunosupression</a>
            </li>
        </div>
        <div style="width: 100%"> 
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
