@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums

@{
    var currentPage = (string) ViewData["CurrentPage"];

    var isDraft = Model.Notification.NotificationStatus == NotificationStatus.Draft;
    var requiresSeparator = false;
    var isOnLinkedNotificationsPage = (bool?) ViewData["OnLinkedNotificationsPage"] ?? false;
}

@if (!isDraft ||  isOnLinkedNotificationsPage)
{
    var linkClass = "notification-banner-link" + (currentPage == NotificationSubPaths.Overview ? " notification-banner-link--current" : "");
    <div class="@linkClass">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)">
            @{ var notificationEditLinkText = isOnLinkedNotificationsPage ? "Edit draft" : "Notification details"; }
            @notificationEditLinkText
        </a>
    </div>
    
    requiresSeparator = true;
}

@if (Model.NumberOfLinkedNotifications > 0)
{
    @if (requiresSeparator)
    {
        <div class="notification-banner-link-separator"> </div>
    }

    var linkClass = "notification-banner-link" + (currentPage == NotificationSubPaths.LinkedNotifications ? " notification-banner-link--current" : "");
    <div class="@linkClass">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.LinkedNotifications)">
            Linked Notifications (@Model.NumberOfLinkedNotifications)
        </a>
    </div>
}