@{
    ViewData["IsBanner"] = true;
}

<partial name="./_NotificationDetails" model="@Model.Notification"/>

<div class="notification-banner-links">
    @if(@Model.Notification.NotificationStatus == NotificationStatus.Notified)
    {
        <div class="@((bool)ViewData["IsOverviewPage"] ? "notification-banner-links--current" : "")">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@Model.Notification.OverviewPath"> Notification details </a>
        </div>
        <div class="notification-banner-link-separator"> </div>
    }
    @if (@Model.NumberOfLinkedNotifications > 0)
    {
        <div class="@((bool)ViewData["IsLinkedNotificationsPage"] ? "notification-banner-links--current" : "")">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@Model.Notification.LinkedNotificationsPath"> Linked Notifications (@Model.NumberOfLinkedNotifications) </a>
        </div>
        <div class="notification-banner-link-separator"> </div>
    }
    <div>
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@Model.Notification.OverviewPath"> Audit </a>
    </div>
</div>