@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model ntbs_service.Models.NotificationBannerModel

@{
    var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.NotificationStatus);
    var notificationStatusBannerCssClass = $"notification-banner notification-banner{classSuffix}";
}

<dl class="@notificationStatusBannerCssClass">
    <div class="notification-banner-head">
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <h1 class="notification-banner-title-text">
                    <div> @Model.NotificationStatusString </div>

                    <div>
                        @if (Model.NotificationStatus == NotificationStatus.Legacy)
                        {
                            @Model.Source;
                        }
                        
                        @if (Model.ShowLink)
                        {
                            
                            <a href="@Model.RedirectPath" class="notification-banner-id-link" id="notification-banner-id">#@Model.NotificationId</a>
                        }
                        else
                        {
                            @:#@(Model.NotificationId)
                        }

                        @if (Model.ShowPadlock)
                        {
                            <span class="govuk-visually-hidden">Limited Access</span>
                            <svg width="16" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.43108 9.28571V7.35714C5.43108 5.94085 6.58622 4.78571 8.00251 4.78571C9.41881 4.78571 10.5739 5.94085 10.5739 7.35714V9.28571H5.43108ZM13.7882 10.25C13.7882 9.71763 13.3563 9.28571 12.8239 9.28571H12.5025V7.35714C12.5025 4.88616 10.4735 2.85714 8.00251 2.85714C5.53153 2.85714 3.50251 4.88616 3.50251 7.35714V9.28571H3.18108C2.64872 9.28571 2.2168 9.71763 2.2168 10.25V16.0357C2.2168 16.5681 2.64872 17 3.18108 17H12.8239C13.3563 17 13.7882 16.5681 13.7882 16.0357V10.25Z" />
                            </svg>
                        }
                    </div>
                </h1>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> Notification date </dt>
                <dd class="cell-min-height" id="banner-notification-date"> @Model.NotificationDate </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> TB service </dt>
                <dd class="cell-min-height" id="banner-tb-service"> @Model.TbService </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> Case manager </dt>
                <dd class="cell-min-height" id="banner-case-manager">
                     @if (!Model.CaseManagerId.HasValue)
                     {
                         @Model.CaseManager
                     }
                     else
                     {
                         <a class="case-manager-link" href="@RouteHelper.GetContactDetailsPath(Model.CaseManagerId.Value)">
                             @Model.CaseManager
                         </a>
                     }
                </dd>
            </nhs-grid-column>
        </nhs-grid-row>
    </div>
    <div class="notification-banner-body">
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter" classes="notification-banner-field">
                <div class="bold-label"> Name </div>
                <div class="cell-min-height" id="banner-name"> @Model.Name </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Date of birth </div>
                <div class="cell-min-height" id="banner-dob"> @Model.DateOfBirth </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Country of birth </div>
                <div class="cell-min-height" id="banner-country-of-birth"> @Model.CountryOfBirth </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label" id="banner-postcode"> Postcode </div>
                <div> @Model.Postcode </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> NHS number </dt>
                <dd class="cell-min-height" id="banner-nhs-number">  @Model.NhsNumber </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Sex </div>
                <div class="cell-min-height" id="banner-sex"> @Model.Sex </div>
            </nhs-grid-column>
            @if (Model.NotificationStatus != NotificationStatus.Legacy)
            {
                <nhs-grid-column grid-column-width="OneQuarter">
                    <div class="bold-label"> Drug resistance profile </div>
                    <div id="banner-drug-resistance"> @Model.DrugResistance </div>
                </nhs-grid-column>
                <nhs-grid-column grid-column-width="OneQuarter">
                    <div class="bold-label"> Treatment outcome </div>
                    <div id="banner-treatment-outcome"> @Model.TreatmentOutcome </div>
                </nhs-grid-column>
            }
        </nhs-grid-row>
    </div>
</dl>