@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_integration_tests.Helpers
@using ntbs_service.Helpers
@using static NHSUK.FrontEndLibrary.TagHelpers.GridColumnWidth

@{
    Layout = "./_NotificationLayout.cshtml";
    var currentPage = (string)ViewData["CurrentPage"];
    var isLinkedNotificationPage = currentPage == NotificationSubPaths.LinkedNotifications;
    var mainGridWidth = isLinkedNotificationPage ? Full : ThreeQuarters;

    var isDraft = Model.Notification.NotificationStatus == NotificationStatus.Draft;

    var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.Notification.NotificationStatus);
    var linksClass = $"notification-banner-links notification-banner-links{classSuffix}";
    var endClass = $"notification-page-end notification-page-end{classSuffix}";
}

<nhs-width-container container-width="Standard">
    <form method="post" autocomplete="off">
        @RenderSection("MainFormButton", required: false)
        <partial name="./_AlertsAndActions" model="@Model" />
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="Full">
                <div class="notification-banner-links @linksClass">
                    @if (!isDraft)
                    {
                        <div class="@(currentPage == NotificationSubPaths.Overview ? "notification-banner-links--current" : "")">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)">
                                Notification details
                            </a>
                        </div>
                        <div class="notification-banner-link-separator"> </div>
                    }
                    @if (Model.NumberOfLinkedNotifications > 0)
                    {
                        <div class="@(isLinkedNotificationPage ? "notification-banner-links--current" : "")">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.LinkedNotifications)">
                                Linked Notifications (@Model.NumberOfLinkedNotifications)
                            </a>
                        </div>
                        <div class="notification-banner-link-separator"> </div>
                    }
                    <div>
                        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)">
                            Audit
                        </a>
                    </div>
                </div>
            </nhs-grid-column>
            @if (!isLinkedNotificationPage && Model.HasEditPermission)
            {
                <nhs-grid-column grid-column-width="OneQuarter">
                    <ul class="sub-nav-left">
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditPatientDetails ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditPatientDetails)">
                                Personal details
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditEpisode ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditEpisode)">
                                Hospital details
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditClinicalDetails ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditClinicalDetails)">
                                Clinical Details
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditTestResults ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditTestResults)">
                                Test Results
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditContactTracing ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditContactTracing)">
                                Contact Tracing
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditSocialRiskFactors ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditSocialRiskFactors)">
                                Social Risk Factors
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditTravel ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditTravel)">
                                Travel/visitor history
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditComorbidities ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditComorbidities)">
                                Co-morbidities
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditImmunosuppression ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditImmunosuppression)">
                                Immunosuppression
                            </a>
                        </li>
                        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditPreviousHistory ? "contents-list-item--current" : ""))">
                            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditPreviousHistory)">
                                Previous History
                            </a>
                        </li>
                    </ul>
                </nhs-grid-column>
            }
            <nhs-grid-column grid-column-width=@mainGridWidth>
                <input type="hidden" asp-for="NotificationId" />
                @RenderBody()
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="Full">
                <div class="notification-page-end @endClass"> </div>
            </nhs-grid-column>
        </nhs-grid-row>
    </form>
</nhs-width-container>
