@{
    var NotificationStatusBannerCssClass = "";
    switch(@Model.NotificationStatus)
    {
        case NotificationStatus.Draft: NotificationStatusBannerCssClass = "notification-banner--draft";
            break;
        case NotificationStatus.Notified: NotificationStatusBannerCssClass = "notification-banner--notified";
            break;
        case NotificationStatus.Denotified: NotificationStatusBannerCssClass = "notification-banner--denotified";
            break;
        default:
            break;
    }
}

<dl class="notification-banner @NotificationStatusBannerCssClass">
    <div class="notification-banner-head">
        <nhs-grid-row classes="notification-overview-details">
            <nhs-grid-column grid-column-width="OneQuarter">
                <h1 class="notification-banner-title-text">
                        <div> @Model.NotificationStatusString </div>
                    
                @if(@Model.ShowLink) 
                {
                    <a href="@Model.RedirectPath" class="notification-banner-id-link"> #@Model.NotificationId </a>
                } else 
                {
                    <div> #@Model.NotificationId </div>
                }
                </h1>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> Date of notification </dt>
                <dd class="cell-min-height">  </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> TB service </dt>
                <dd> @Model.TBService </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> Case manager </dt>
                <dd class="cell-min-height"> @Model.CaseManager </dd>
            </nhs-grid-column>
        </nhs-grid-row>
    </div>
    <div class="notification-banner-body">
        <nhs-grid-row classes="notification-overview-details">
            <nhs-grid-column grid-column-width="OneQuarter" classes="notification-banner-field">
                <div class="bold-label"> Name </div>
                <div class="cell-min-height"> @Model.Name </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Date of birth </div>
                <div class="cell-min-height"> @Model.DateOfBirth </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Country of birth </div>
                <div class="cell-min-height"> @Model.CountryOfBirth </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Postcode </div>
                <div> @Model.Postcode </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row classes="notification-overview-details">
            <nhs-grid-column grid-column-width="OneQuarter">
                <dt class="bold-label"> NHS number </dt>
                <dd class="cell-min-height">  @Model.NHSNumber </dd>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="bold-label"> Sex </div>
                <div class="cell-min-height"> @Model.Sex </div>
            </nhs-grid-column>
        </nhs-grid-row> 
    </div>
</dl>