@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums

@{
    var currentPage = (string)ViewData["CurrentPage"];
}

<nhs-grid-column grid-column-width="OneQuarter">
    <ul class="sub-nav-left" id="navigation-side-menu">
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditPatientDetails ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditPatientDetails)">
                Personal details
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditHospitalDetails ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditHospitalDetails)">
                Hospital details
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditClinicalDetails ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditClinicalDetails)">
                Clinical Details
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditTestResults ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditTestResults)">
                Test Results
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditContactTracing ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditContactTracing)">
                Contact Tracing
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditSocialRiskFactors ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditSocialRiskFactors)">
                Social Risk Factors
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditTravel ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditTravel)">
                Travel/visitor history
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditComorbidities ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditComorbidities)">
                Co-morbidities
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditSocialContextAddresses ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditSocialContextAddresses)">
                Social Context - Addresses
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditSocialContextVenues ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditSocialContextVenues)">
                Social Context - Venues
            </a>
        </li>
        <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditPreviousHistory ? "contents-list-item--current" : ""))">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditPreviousHistory)">
                Previous History
            </a>
        </li>
        @if (Model.Notification.IsMdr)
        {
            <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditMDRDetails ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditMDRDetails)">
                    MDR Details
                </a>
            </li>
        }
        @if (Model.Notification.IsMBovis)
        {
            <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditMBovisExposureToKnownCases ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditMBovisExposureToKnownCases)">
                    M. bovis - Other cases
                </a>
            </li>
            <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditMBovisUnpasteurisedMilkConsumptions ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditMBovisUnpasteurisedMilkConsumptions)">
                    M. bovis - Unpasteurised milk
                </a>
            </li>
        }
        @if (Model.Notification.NotificationStatus != NotificationStatus.Draft)
        {
            <li class="@("contents-list-item " + (currentPage == NotificationSubPaths.EditTreatmentEvents ? "contents-list-item--current" : ""))">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditTreatmentEvents)">
                    Treatment Events
                </a>
            </li>
        }
    </ul>
</nhs-grid-column>
