@model ICollection<ntbs_service.Models.Entities.SocialContextAddress>
@using ntbs_service.Helpers

@{ 
    var header = Model.FirstOrDefault(); 
    var showEditLinks = (bool) (ViewData["ShowSocialContextAddressEditLinks"] ?? false);
    var orderedResults = Model.OrderByDescending(r => r.DateTo).ThenByDescending(r => r.DateFrom);
}

<div id="social-context-addresses-list">
    @foreach (var result in orderedResults)
    {
        <div class="notification-overview-type-and-edit-container" id="address-heading-@result.SocialContextAddressId">
            <h4 class="notification-details-type"> @(result.DateRange) </h4>
            @if (showEditLinks) 
            {
                var subPath = NotificationSubPaths.EditSocialContextAddress(result.SocialContextAddressId);
                var path = RouteHelper.GetNotificationPath(result.NotificationId, subPath) + "#social-context-address-form";
                <a href="@path" class="notification-edit-link govuk-link--no-visited-state"> Edit </a>
            }
        </div>
        <dl class="notification-overview-details-container" id="address-body-@result.SocialContextAddressId">
            <nhs-grid-row>
                <nhs-grid-column grid-column-width="OneHalf">
                    <dt class="notification-details-label"> @Html.DisplayNameFor(_ => header.Address) </dt>
                    <dd class="cell-min-height"> @result.Address </dd>
                </nhs-grid-column>
                <nhs-grid-column grid-column-width="OneHalf">
                    <dt class="notification-details-label"> @Html.DisplayNameFor(_ => header.Postcode) </dt>
                    <dd class="cell-min-height"> @result.Postcode </dd>
                </nhs-grid-column>
            </nhs-grid-row>
            @if (!string.IsNullOrEmpty(result.Details)) 
            {
                <nhs-grid-row>
                    <nhs-grid-column grid-column-width="Full">
                        <dt class="notification-details-label"> @Html.DisplayNameFor(_ => header.Details) </dt>
                        <dd class="cell-min-height"> @result.Details </dd>
                    </nhs-grid-column>
                </nhs-grid-row>
            }
        </dl>
    }
</div>