@using ntbs_service.Helpers
@model ICollection<ntbs_service.Models.Entities.TreatmentEvent>

@{
    var header = Model.FirstOrDefault();
    var showEditLinks = (bool)(ViewData["ShowTreatmentEventEditLinks"] ?? false);
    var orderedResults = Model.OrderByDescending(r => r.EventDate);
}

@if (Model.Count != 0)
{
    <nhs-table id="treatment-events" caption="Treatment Events" classes="nhsuk-table--reduced-font">
        <nhs-table-head>
            <nhs-table-item>
                @Html.DisplayNameFor(_ => header.EventDate)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(_ => header.TreatmentEventType)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(_ => header.TreatmentOutcome.TreatmentOutcomeType)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(_ => header.TreatmentOutcome.TreatmentOutcomeSubType)
            </nhs-table-item>
            <nhs-table-item>
                @Html.DisplayNameFor(_ => header.Note)
            </nhs-table-item>
            @if (showEditLinks)
            {
                <nhs-table-item>Edit</nhs-table-item>
            }
        </nhs-table-head>
        <nhs-table-body>
            @foreach (var result in orderedResults)
            {
                <nhs-table-body-row id="treatment-event-@result.TreatmentEventId">
                    <nhs-table-item>
                        @result.EventDate?.ConvertToString()
                    </nhs-table-item>
                    <nhs-table-item>
                        @result.TreatmentEventType.GetDisplayName()
                    </nhs-table-item>
                    <nhs-table-item>
                        @result.TreatmentOutcome?.TreatmentOutcomeType.GetDisplayName()
                    </nhs-table-item>
                    <nhs-table-item>
                        @result.TreatmentOutcome?.TreatmentOutcomeSubType?.GetDisplayName()
                    </nhs-table-item>
                    <nhs-table-item>
                        @result.Note
                    </nhs-table-item>
                    @if (showEditLinks)
                    {
                        <nhs-table-item>
                            @if(result.IsEditable)
                            {
                                var subPath = NotificationSubPaths.EditTreatmentEvent(result.TreatmentEventId);
                                var path = RouteHelper.GetNotificationPath(result.NotificationId, subPath);
                                <a href="@path" class="govuk-link--no-visited-state" id="edit-link"> Edit </a>
                            }
                        </nhs-table-item>
                    }
                </nhs-table-body-row>
            }
        </nhs-table-body>
    </nhs-table>
}
