@page
@using ntbs_service.Helpers
@model ntbs_service.Pages.ContactDetails.IndexModel

@{
    Layout = "./_Layout";
    ViewData["Title"] = $"Case Manager details";
}

<nhs-width-container container-width="Standard">
    <h2 class="contact-details-fullname"> @Model.ContactDetails.FullName </h2>
    <div class="contact-details-edit-container">
        <h3 class="contact-details-section-heading"> Contact details </h3>
        <a href="@RouteHelper.GetContactDetailsSubPath(ContactDetailsSubPaths.Edit)"
            class="contact-details-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    </div>
    <div class="contact-details-container">
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-label">               
                    @Html.DisplayNameFor(x => x.ContactDetails.JobTitle)
                </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-text"> @Model.ContactDetails.JobTitle </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-label">
                    @Html.DisplayNameFor(x => x.ContactDetails.PhoneNumberPrimary)
                </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-text"> @Model.ContactDetails.PhoneNumberPrimary </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-label">
                    @Html.DisplayNameFor(x => x.ContactDetails.PhoneNumberSecondary)
                </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-text"> @Model.ContactDetails.PhoneNumberSecondary </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-label">
                    @Html.DisplayNameFor(x => x.ContactDetails.EmailPrimary)
                </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-text"> @Model.ContactDetails.EmailPrimary </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-label">
                    @Html.DisplayNameFor(x => x.ContactDetails.EmailSecondary)
                </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-text"> @Model.ContactDetails.EmailSecondary </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-label"> 
                    @Html.DisplayNameFor(x => x.ContactDetails.Notes)
                 </div>
            </nhs-grid-column>
            <nhs-grid-column grid-column-width="OneThird">
                <div class="contact-details-text"> @Model.ContactDetails.Notes </div>
            </nhs-grid-column>
        </nhs-grid-row>
    </div>
    
    <br/>
    <div class="contact-details-edit-container">
        <h3 class="contact-details-section-heading"> Assigned Services </h3>
    </div>
    <div class="contact-details-container">
        <nhs-table id="regions-and-services" caption="Assigned Services" classes="nhsuk-table--reduced-font">
                <nhs-table-head>
                    <nhs-table-item>
                        Region
                    </nhs-table-item>
                    <nhs-table-item>
                        Service
                    </nhs-table-item>
                </nhs-table-head>
                <nhs-table-body>
                    @foreach (var result in Model.ContactDetails.CaseManagerTbServices)
                    {
                        <nhs-table-body-row id="tb-service-@result.TbService.Code">
                            <nhs-table-item>
                                @result.TbService.PHEC.Name
                            </nhs-table-item>
                            <nhs-table-item>
                                @result.TbService.Name
                            </nhs-table-item>
                        </nhs-table-body-row>
                    }
                </nhs-table-body>
            </nhs-table>
    </div>
</nhs-width-container>
