@model SocialContextAddressModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using NHSUK.FrontEndLibrary.TagHelpers
@using ntbs_service.Helpers
@using ntbs_service.Models.Enums

<div id="social-context-address-form" class="table-row-form">
    <nhs-width-container container-width="Standard">
        <h3> @(Model.RowId == null ? "Add new " : "Edit ") social context address</h3>
        <form method="post" autocomplete="off">
            <nhs-grid-row>
                <nhs-grid-column grid-column-width="OneHalf">
                    @{
                        var hasAddressError = !Model.IsValid("Address.Address");
                        var addressFormState = hasAddressError ? Error : Standard;
                        var addressTextAreaType = hasAddressError ? TextAreaType.Error : TextAreaType.Standard;
                    }
                    <validate-input model="SocialContext" property="Address" inline-template>
                        <nhs-form-group nhs-form-group-type="@addressFormState">
                            <label asp-for="Address.Address" nhs-label-type="Standard">
                                @Html.DisplayNameFor(m => m.Address.Address)
                            </label>
                            <span nhs-span-type="ErrorMessage" id="address-error" ref="errorField" asp-validation-for="Address.Address" has-error="@hasAddressError"></span>
                            <textarea asp-for="Address.Address" nhs-textarea-type="@addressTextAreaType" rows="2" aria-describedby="address-error"
                                    autocomplete="street-address" v-on:change="validate" ref="textareaField" classes="nhsuk-input--width-20"></textarea>
                        </nhs-form-group>
                    </validate-input>
                </nhs-grid-column>
                <nhs-grid-column grid-column-width="OneHalf">
                    @{
                        var hasPostcodeError = !Model.IsValid("Address.Postcode");
                        var postcodeGroupState = hasPostcodeError ? Error : Standard;
                    }
                    <validate-input model="SocialContext" property="Postcode" inline-template>
                        <nhs-form-group ref="formGroup" nhs-form-group-type="@postcodeGroupState" aria-describedby="postcode-error">
                            <label nhs-label-type="Standard" asp-for="Address.Postcode">
                                @Html.DisplayNameFor(m => m.Address.Postcode)
                            </label>
                            <span nhs-span-type="ErrorMessage" id="postcode-error" ref="errorField"
                                asp-validation-for="Address.Postcode" has-error="@hasPostcodeError"></span>
                            <input ref="inputField" v-on:blur="validate" is-error-input=@hasPostcodeError nhs-input-type="Standard"
                                fixed-width="Ten" asp-for="Address.Postcode">
                        </nhs-form-group>
                    </validate-input>
                </nhs-grid-column>
            </nhs-grid-row>
            <nhs-grid-row>
                <validate-multiple model="SocialContext" :properties="['DateFrom', 'DateTo']" is-date-validation inline-template>
                    <div>
                        <nhs-grid-column grid-column-width="OneHalf">
                            <validate-date model="SocialContext" property="DateFrom" v-on:validate-multiple="validate" ref="input[0]" inline-template>
                                @{
                                    var hasDateFromError = !Model.IsValid("Address.DateFrom") || !Model.IsValid("FormattedDateFrom");
                                    var dateFromGroupState = hasDateFromError ? Error : Standard;
                                }
                                <nhs-form-group nhs-form-group-type="@dateFromGroupState">
                                    <nhs-fieldset role="group" aria-describedby="date-from-error">
                                        <nhs-fieldset-legend nhs-legend-size="Standard">
                                            @Html.DisplayNameFor(m => m.Address.DateFrom)
                                        </nhs-fieldset-legend>
                                        <span nhs-span-type="ErrorMessage"
                                            ref="errorField"
                                            asp-validation-for="Address.DateFrom"
                                            has-error="@hasDateFromError"
                                            id="date-from-error"></span>
                                        <nhs-date-input>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDateFrom.Day">Day</label>
                                                    <input v-on:blur="validate"
                                                        is-error-input="@hasDateFromError"
                                                        ref="dayInput"
                                                        nhs-input-type="Date"
                                                        fixed-width="Two"
                                                        asp-for="FormattedDateFrom.Day" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDateFrom.Month">Month</label>
                                                    <input v-on:blur="validate"
                                                        is-error-input="@hasDateFromError"
                                                        ref="monthInput"
                                                        nhs-input-type="Date"
                                                        fixed-width="Two"
                                                        asp-for="FormattedDateFrom.Month" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDateFrom.Year">Year</label>
                                                    <input v-on:blur="validate"
                                                        is-error-input="@hasDateFromError"
                                                        ref="yearInput"
                                                        nhs-input-type="Date"
                                                        fixed-width="Four"
                                                        asp-for="FormattedDateFrom.Year" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                        </nhs-date-input>
                                    </nhs-fieldset>
                                </nhs-form-group>
                            </validate-date>
                        </nhs-grid-column>
                        <nhs-grid-column grid-column-width="OneHalf">
                            <validate-date model="SocialContext" property="DateTo" v-on:validate-multiple="validate" ref="input[1]" inline-template>
                                @{
                                    var hasDateToError = !Model.IsValid("Address.DateTo") || !Model.IsValid("FormattedDateTo");
                                    var dateToGroupState = hasDateToError ? Error : Standard;
                                }
                                <nhs-form-group nhs-form-group-type="@dateToGroupState">
                                    <nhs-fieldset role="group" aria-describedby="date-to-error">
                                        <nhs-fieldset-legend nhs-legend-size="Standard">
                                            @Html.DisplayNameFor(m => m.Address.DateTo)
                                        </nhs-fieldset-legend>
                                        <span nhs-span-type="ErrorMessage"
                                            ref="errorField"
                                            asp-validation-for="Address.DateTo"
                                            has-error="@hasDateToError"
                                            id="date-to-error"></span>
                                        <nhs-date-input>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDateTo.Day">Day</label>
                                                    <input v-on:blur="validate"
                                                        is-error-input="@hasDateToError"
                                                        ref="dayInput"
                                                        nhs-input-type="Date"
                                                        fixed-width="Two"
                                                        asp-for="FormattedDateTo.Day" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDateTo.Month">Month</label>
                                                    <input v-on:blur="validate"
                                                        is-error-input="@hasDateToError"
                                                        ref="monthInput"
                                                        nhs-input-type="Date"
                                                        fixed-width="Two"
                                                        asp-for="FormattedDateTo.Month" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                            <nhs-date-input-item>
                                                <nhs-form-group nhs-form-group-type="Standard">
                                                    <label nhs-label-type="Date" asp-for="FormattedDateTo.Year">Year</label>
                                                    <input v-on:blur="validate"
                                                        is-error-input="@hasDateToError"
                                                        ref="yearInput"
                                                        nhs-input-type="Date"
                                                        fixed-width="Four"
                                                        asp-for="FormattedDateTo.Year" />
                                                </nhs-form-group>
                                            </nhs-date-input-item>
                                        </nhs-date-input>
                                    </nhs-fieldset>
                                </nhs-form-group>
                            </validate-date>
                        </nhs-grid-column>
                    </div>
                </validate-multiple>    
            </nhs-grid-row>

            <button id="save-address-button" nhs-button-type="Standard" classes="ntbsuk-button--primary">
                Save
            </button>
            @if (Model.RowId != null)
            {
                <button id="delete-address-result-button"
                        asp-page-handler="Delete"
                        nhs-button-type="Standard"
                        classes="ntbsuk-button--secondary">
                    Delete
                </button>
            }
        </form>
    </nhs-width-container>
</div>
@if(Model.Notification.SocialContextAddresses.Count > 0)
{
    <nhs-width-container container-width="Standard">
    <h2> Social Context Addresses </h2>

    <partial name="_SocialContextAddressesTable" for="Notification.SocialContextAddresses" />

    <a href="@RouteHelper.GetNotificationPath( Model.NotificationId, NotificationSubPaths.EditSocialContextAddresses)">
        Back to social context addresses
    </a>
</nhs-width-container>
}
